/* LESS Variables */

@bg_color: #D1BF9F;

//header variable
@header_bg_color: #ffffff;
@header_bottom_color: #ffffff;
@header_item_bg_color: #ffffff;
@header_item_bg_hover_color: #F58634;
@header_item_text_color: #aaaaaa;
@header_item_text_hover_color: #474946;

//button variable
@button_bg_color: #ffffff;
@button_bg_hover_color: #FEC107;  
@button_text_color: #FEC107;
@button_text_hover_color: #ffffff; 

//category variable
/*@category_bg_color: #F4F4F4;                     
@category_bg_hover_color: #BDBDBD;  
@category_text_color: #5F5F5F;
@category_text_hover_color: #F58634;*/

//product and cart variable
@product_bg_color: #F4F4F4;                   //pending
@product_bg_hover_border_color: #e6b122;      //pending
@product_text_color: #FEC107;
@product_description_color: #9F9F9F;

@intro_text_color: #ffffff;
//outlet variable
@outlet_bg_color:#FEC107;                    
@outlet_text_color:#ffffff;                  

//mobile variables
@mobile_header_bg_color:#ffffff;
@mobile_header_text_color:#000000;

@mobile_footer_bg_color:white;
@mobile_footer_text_color:black;

@mobile_button_bg_color:#000000;
@mobile_button_text_color:white;

@white_background: rgba(255, 255, 255, 0.8);
@black_background: rgba(0, 0, 0, 0.8);

@margin_large: 75px;
@margin_big: 50px;
@margin_medium: 25px;
@margin_small: 10px;
@margin_tiny: 7.5px;

@padding_small: 12.5px;
@padding_tiny: 7.5px;

@line_height_small: 20px;

@font_small: 10px;
@font_medium: 0.875rem;
@font_large: 17.5px;
@font_Ex_large: 25px;

@z_index_high: 101;
@z_index_low: -1;

@border_radius_medium: 2px;
@border_radius_small: 1px;

@box_shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

//font-face declaration
@font-face {
    font-family: HelveticaNeueLTCom;
    src: url('../font/HelveticaNeueLTCom-Roman.ttf') format('truetype');
}

@font-face{
    font-family: HelveticaNeueLTCom;
    src: url('../font/HelveticaNeueLTCom-Roman.ttf') format('truetype');
}

@media screen and (max-width: 767px) {
    #mobile_refer_hide{
        display: none;
    }
}


.item_count{
    -webkit-animation: bounce 0.5s;
    animation: bounce 0.5s;
    -moz-animation: bounce 0.5s;
}

.add_product{
    -webkit-animation: pulse 0.5s;
    animation: pulse 0.5s;
    -moz-animation: pulse 0.5s;
    
}

/* Foundation Overrides */
a {
    color: @outlet_text_color;
}

.has-tip{
    border:none !important;
    color:@outlet_text_color;
    cursor: pointer;
}
.accordion{
    text-align: left;
}
.accordion .accordion-navigation > a, .accordion dd > a {
    background: transparent;
    font-size: 21px;
    border-bottom: 1px solid #fff;
    color: #636363;
    height: 50px;
    padding: 7px;
    vertical-align: middle;
}

div#faq_pops{
    width: 77%;
    margin-left: -38%;
}
.accordion .accordion-navigation>a:hover, .accordion dd>a:hover{
    background-color: #ccc;
}

.accordion .accordion-navigation>a.faq:hover, .accordion dd>a.faq:hover{
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
   // min-height: 79px;
}
.accordion .accordion-navigation>a.faq, .accordion dd>a.faq{
    padding: 11px !important;
   // min-height: 79px;
}

.togg_accord{
    font-size: 14px;
}

.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #666666;
    color: #fff !important;
}

.alert-box{
    display: block;
    margin: 10px auto;
    max-width: 320px;
    background-color: #454545;
}
.columns.content_center{
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.columns.no-padding{
    padding: 0px;
    padding-right: 0.4rem;

}

/*#bg{
    background-image: url('./img/homepage.png'); 
    background-repeat: no-repeat; 
    background-attachment: local; 
    background-position: 0px 80px!important; 
    background-size: cover;
}*/

.add-padding{
    padding: 5px 2rem;
}
.f-topbar-fixed{
    padding: 0px !important;
    font-family: HelveticaNeueLTCom !important;
}
.fixed{

    background-color: @header_bg_color;
    border-bottom: 1px solid #eee; 
    bottom: auto;
    top: 0px;
}
.reveal-modal{
    border: none;
    border-bottom-left-radius: @border_radius_medium;
    border-bottom-right-radius: @border_radius_medium;
    box-shadow: @box_shadow;
}

#loader_popup{
    position: fixed;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    top:0px;
    z-index: 123456;
    display: none;
}
#mobile_loader_popup{
    position: fixed;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    top:0px;
    z-index: 123456;
    display: none;
}

#floatingBarsG{
    position:absolute;
    width:62px;
    height:77px;
    top:50%;
    left:40%;
}


.top-bar.expanded{
    position: fixed;
}
.top-bar{
     background-color: #FFF;
   font-family: HelveticaNeueLTCom;
   height: 70px;
   box-shadow: 0px 2px 3px transparent, 0px 2px 3px rgba(0, 0, 0, 0.08);
    
}
.top-bar .name {
    height: 65px;
    margin: 0;
    font-size: 16px;  
    padding: 0px;
    /*margin-right: 6.5rem;*/
    margin-left: 5px;
}
.name {
    padding-top: 10px;
}

.free-height{
    height:75px;
}

#introText{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#introText_mob{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding:0px 11px;
}

#introText p{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #FEC107;    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.weeklypull{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    top: 90px;
    width: 130px;
    height:40px;
    z-index: 100000;
    background-color: #fff;
    right:0;
    position: fixed;
    box-shadow: 1px 1px 3px 1px;
    display: none;
}


.weeklypull p{
    margin-top: 11px;
    margin-left: 19px;
    color: #666666;
    font-weight: bold;
    cursor: pointer;
}
.top-bar-section ul li > a {
    font-family: HelveticaNeueLTCom;
    font-size: 1.0rem;
    font-weight: bolder;
}
.top-bar-section{
    margin: 12.5px 3px;
}
.top-bar-section ul li {
    background: none !important;
    padding: 0px 10px;
}
.top-bar-section li:not(.has-form) a:not(.button) {
    background: none;

}
.top-bar-section ul li>a{
    color:@header_item_text_color;
}
.top-bar-section li:not(.has-form) a:not(.button):hover{
    background: none;  
    color: @header_item_text_hover_color;
    background: @header_item_bg_hover_color;
    font-family: HelveticaNeueLTCom;
    border-radius: 0px;
}
.top-bar-section li.active:not(.has-form) a:not(.button), .top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background: @header_item_bg_hover_color !important;  
    color: @header_item_text_hover_color !important;
    font-family: HelveticaNeueLTCom;
    border-radius: 0px;

}
.top-bar .title-area {
    float: right;
    font-family: HelveticaNeueLTCom;    
}

p .bubble{
    position: relative;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #fff;
    border: 3px solid #FEC107;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    /*	-webkit-box-shadow: 2px 2px 4px #888;
            -moz-box-shadow: 2px 2px 4px #888;
            box-shadow: 2px 2px 4px #888;*/
}

p.cartTotalHolder {
    margin-right: 38px;
}

p.bubble:before{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 100px;
    border: 25px solid;
    border-color: #666 transparent transparent #666;
}

p.bubble:after
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 100px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
}

.partner_content{
    height: 275px;
    border: 1px solid #ddd;
}

.owner_content{
    height: 357px;
    border: 1px solid #ddd;
}

.partner_content span h5{
    font-size: 18px;
}

.chef_holder{
    width: 60%;
    display: block;
    margin: auto;
}

li.data_holder{
    padding: 0 1.325rem 1.25rem;
}

span.partner_name{
    font-size: 17px;
    font-weight: bold;
}
span.partner_name span{
    
    font-weight: normal;
}

p.partner_info{
    padding: 25px 35px;
    text-align: justify;
    font-size: 13px;
    color: #555;
    padding-top: 12px;
    line-height: 18px;
}
.owner_decor_wrapper{
    overflow-y: none;
    height: 238px;
    width: 94%;
}

.owner_name{
    //margin-right: 8px;
    font-size: 14px;
    font-weight: bold;  
}
.owner_decoration{
    padding: 41px;
    
    text-align: justify;
    line-height: 20px;
    font-size: 11px;
    color: #555;
    padding-top: 11px;
    padding-left: 31px;
    padding-right: 14px;
}

.owner_post{
    font-weight: normal;
    font-size: 13px;
    font-style: italic;
}

.owner_holder{
    width: 90%;
    display: block;
    margin: auto;
}




@media only screen and (min-width: 1280px){
.partner_brand_holder{
    height: 96px;
    width: 96px;
    border: 1px solid #ccc;
    border-radius: 67px;
    position: relative;
    margin-top: -17% !important;
    margin-left: 33% !important;
    background-color: #fff;
    margin-bottom: 15px;
}
}

@media only screen and (min-width: 768px){
    
    .partner_brand_holder{
        height: 96px;
        width: 96px;
        border: 1px solid #ccc;
        border-radius: 67px;
        position: relative;
        margin-top: -22%;
        margin-left: 27%;
        background-color: #fff;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width:320px) and (max-width:620px){
        #aboutus_id{
            background-color: white;
            padding: 0px 0px !important;
            border-radius: 10px;    
        }

        .faqcont{
            text-align: left !important;
            font-weight: bold !important;
            font-size: 13px !important;
        }

        p.faqcontent{
            font-size: 13px !important;
        }
        .partner_content{
            height: 275px;
            border: 1px solid #ddd;
        }

        .owner_content{
            height: 357px;
            border: 1px solid #ddd;
        }

        .partner_content span h5{
            font-size: 18px;
        }

        .chef_holder{
            width: 100%;
            display: block;
            margin: auto;
        }

        li.data_holder{
            padding: 0 1.325rem 1.25rem;
        }

        span.partner_name{
            font-size: 17px;
            font-weight: bold;
        }
        span.partner_name span{

            font-weight: normal;
        }

        p.partner_info{
            padding: 25px 35px;
            text-align: justify;
            font-size: 13px;
            color: #555;
            padding-top: 12px;
            line-height: 18px;
        }
        .owner_decor_wrapper{
            overflow-y: none;
            height: 238px;
            width: 94%;
        }

        .owner_name{
            //margin-right: 8px;
            font-size: 14px;
            font-weight: bold;  
        }
        .owner_decoration{
            padding: 41px;

            text-align: justify;
            line-height: 20px;
            font-size: 11px;
            color: #555;
            padding-top: 11px;
            padding-left: 31px;
            padding-right: 14px;
        }

        .owner_post{
            font-weight: normal;
            font-size: 13px;
            font-style: italic;
        }

        .owner_holder{
            width: 100%;
            display: block;
            margin: auto;
        }
}

.styled-select {
   width: 370px;
 height: 48px;
    overflow: hidden;
    //background-color: #e8e5e5;
    background: url("../img/instakhaana_sprite.png") no-repeat 319px -106px #e8e5e5;
    //background-size: 4% 52%;
    border: 2px solid #0E0A0C;
    box-shadow: 2px 1px 33px #000;
}

.styled-select select option{
    color: #666666;
}

.styled-select select {
    background: transparent;
    -moz-width:381px;
    width: 369px;
    padding: 0px 11px;
    font-size: 15px;
    -moz-appearance: none;
    /* line-height: 1; */
    border: 0;
    color: #666666;
    /* border-radius: 0; */
    height: 48px;
}


[class*="column"]+[class*="column"]:last-child{
    float: left !important;
}

.faasos-txt{
    margin-top: 60px;
}
.faasos-txt p{
    color: white;
    font-size: 17px;
    line-height: 1.3;
    text-shadow: 0px 1px 3px #000;;
}

.faasos-txt p span:hover{
    cursor: pointer;
    color: #ff0000;
}

.faasos-txt a{
    color: red;
    text-decoration: underline;
}
.faasos-txt a:hover{
    text-decoration: none;
}
.mob-faasos-txt{
    padding: 0px 20px;
    margin-top: 21px;
}
.mob-faasos-txt p{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #000;
    margin-bottom: 7px;
    //text-shadow: 0px 1px 3px #000;
}

.mob-faasos-txt a{
    color: red;
    text-decoration: underline;
}

.sprite_stores_footer:hover{
    cursor: pointer;
}

.sprite_branding{
        background: url('../img/instakhaana_sprite.png') no-repeat -160px -25px;
	width: 101px;
	height: 109px;
}

button.sprite_add_product{
    background: url('../img/instakhaana_sprite.png') no-repeat -18px -39px;
	width: 20px;
	height: 20px;
}

button.sprite_add_product:hover,button#sprite_add_product:focus{
        background: url('../img/instakhaana_sprite.png') no-repeat -50px -39px;
	width: 20px;
	height: 20px;
}

button.sprite_remove_product{
    background: url('../img/instakhaana_sprite.png') no-repeat -18px -7px;
	width: 20px;
	height: 20px;
}

button.sprite_remove_product:hover,button#sprite_remove_product:focus{
    background: url('../img/instakhaana_sprite.png') no-repeat -50px -7px;
	width: 20px;
	height: 20px;
}


.mob-styled-select select {
    width: 100%;
    padding: 0px 3px;
    color: #F95905;
    height: 40px;
    padding-top: 5px;
}
.small_screen_background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/mobile-bg-insta.png');
    background-size: contain;
}

.bottom-bar{
    height: 150px;
    background-color: @header_bg_color;
    font-family: HelveticaNeueLTCom;
    z-index: 2000;
}

.title-area .copyrigthText{
    color: @header_item_text_color !important; 
    font-size: 12px;
    font-weight: bolder;
    padding-right: 10px;
    padding-left: 10px;
}
.title-text{
    color: @header_item_text_color; 
    font-size: 14px;
}

.abtcont{
    text-align: left;
    font-weight: bold;
    font-size: 22px;
}
.faqcont{
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

p.faqcontent{
    font-size: 13px !important;
}

.serveabout span{
    padding-right: 13px;
    font-size: 16px;
}
.name{
    padding-top: 10px;
}
/* Global Styles */

::-moz-selection {
    background-color: @header_bg_color;
    color: @header_bottom_color;
}

::selection {
    background-color: @header_bg_color;
    color: @header_bottom_color;
}
h1{
    font-family: HelveticaNeueLTCom;
}
body{
    // background-color: #f3f3f3;
    font-family: HelveticaNeueLTCom;   
    -webkit-font-smoothing: antialiased !important;
   -moz-osx-font-smoothing: grayscale !important;
    overflow-x: hidden;
    overflow-y: scroll;
    background-position-y: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button{
    background-color: @button_bg_color;
    color: #575757;
    border: 1px solid #ddd !important;
    transition: none;
    font-family: HelveticaNeueLTCom;
    font-weight: normal;
    -webkit-tap-highlight-color: rgba(255,0,0,0.5);
}

button:hover, button:focus, .button:hover, .button:focus{
    background-color: #666666;
}

textarea{
    height: 100px;
    resize: none;
}

.prefix i{
    padding:0px 18px;
    height:10px;
    width:10px;
}

.prefix{
    border-bottom-left-radius: @border_radius_medium;
    border-top-left-radius: @border_radius_medium;
}

.custom-prefix{
    background-color: @button_bg_color;
    color: @button_text_color;
    height: 45px;
    padding:0px;
    border-radius: 0px;
    font-weight: bold;
    /*    border-top: @border_radius_medium solid #967881 !important;
        border-left: @border_radius_medium solid #967881 !important;
        border-bottom:  @border_radius_medium solid #967881 !important;
        border-right: 0px !important;*/
}

.menu-search-prefix{
    background-color: @button_bg_color !important;
    color: @button_text_color !important;
    height: 45px;
    padding:0px;
    border-radius: 0px;
    font-weight: bold;
    /*    border-top: @border_radius_medium solid #967881 !important;
        border-right: @border_radius_medium solid #967881 !important;
        border-bottom:  @border_radius_medium solid #967881 !important;
        border-left: 0px !important;*/
}

/*button:hover, button:focus{
    background-color: #F58634;
    color: #ffffff;
}*/

/*button img:hover, button img:focus{
    background-color: #F58634;
    color: #ffffff;
}*/


hr{
    margin: 6.5px auto;
}

input[type=number]{
    text-align: center;
}

input[type=radio]{
    margin: 0px;
}

input[type=search]{
    border-bottom-right-radius: @border_radius_medium;
    border-top-right-radius: @border_radius_medium;
    margin-bottom: 0px;
}

input[type=search]:focus{
    box-shadow: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ccc;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ccc;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ccc;
}
#social-links-container{    
    right: 4%;    
    position: absolute;
    z-index: 150;
    margin: -41.5px -10px;

}

#social-links-container div{    
    height: 25px;
    width: 25px;      
    display: inline-block;
    margin-left: 5px;
    text-align:center;
    padding: 0px 25px;
}

.loader_styles{
    background-color: #fff;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 31px;
}

ul.nav_gator{
    list-style-type: none;
    display: inline;
}

ul.nav_gator li{
  display: inline-block;
  padding: 5px 12px;
  font-size: 14px;
  margin-top: 14px;
}

ul.nav_gator li a{
  color: #666666;
}

ul.nav_gator li:hover a{
    //margin-top: 7px;
    color: #fff;
    
}


#top_menu{
    display: inline-block !important;
    text-align: right;
    padding-left: 1%;
   // margin-top: 7px;
}

#top_menu span{
    //padding:9px 0px;
    //line-height: 17px;
    /*padding-left: 27px;*/

}

#top_menu span a{
    color: #aaaaaa;
    font-size: 14px;
    background-color: #ffffff;
    padding: 1px 11px;
    padding-top: 9px;
}

#top_menu span#special a:hover{
    font-size:16px;
    background-color: #ffffff;
}



#top_menu span a:active, #top_menu span a:hover, #top_menu span a:focus{
    background-color: #575757;
    color: #ffffff;

}



#social-links-container div:hover{
    -moz-animation: bounce 0.5s;
    -ms-animation: bounce 0.5s;
    -o-animation: bounce 0.5s;
    -webkit-animation: bounce 0.5s;
    animation: bounce 0.5s;
}

.hvr-shutter-in-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: #ffffff;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-shutter-in-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // border-radius: 6px;
    //box-shadow: 0px 0px 12px #fff;
    background: #FEC107;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
} 

.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
    color: #FEC107;
    //box-shadow: 0px 0px 12px #fff;

} 

.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
    -webkit-transform: scaleX(0);
    // box-shadow: 0px 0px 12px #fff;
    transform: scaleX(0);

}



.bottom-bar-section{
   

   // margin-top: 0px;
}




.bottom-bar-section div{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.bottom-bar-section div span{
    padding:10px 6px;    
    display: inline-block;
    background-color: transparent;
}

.bottom-bar div img{
    padding:10px 14px;    
}

.bottom-bar-section div span a{
    color:#666666;
    font-size:13px;
    padding:10px 10px;
}

.bottom-bar-section div span a:hover, .bottom-bar-section div span a:active, .bottom-bar-section div span a:focus{
    color: #ffffff;
    background-color: #666666;
}


.category_holder{
    height: 69px;
    background-color: #F7F7F7;
    /*box-shadow: 1px 1px 1px #ccc;*/
}

.category_holder:hover{
    background-color: #ececec;
    cursor: pointer;
}


.category_holder p.category_name{
    font-weight: bold;
}
.category_holder:hover p.category_name{
    color: #575757;
}
.category_holder.active{
    background-color: #ececec;
    cursor: pointer;
}
.category_holder.active p.category_name{
    color: #575757;
}
.category_holder p{
    margin-top: 19px;
    font-size: 23px;
    margin-bottom: 0px;
    line-height: 0.8;
    
}

.category_holder p.outlet_time{
    margin-top: 2px;
    font-size: 13px;
    color:#575757;
}

.footer{
    color:#646464;
    width: 100%;
    position: absolute;    
    bottom: -4px;
    padding:5px;    
    font-size: 12px;
    font-family: HelveticaNeueLTCom;
    font-weight: normal !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8px;

}
/*.footer-left{
    left:0px;
    text-align: left;
}
.footer-right{
    right:0px;
    text-align: right;
    background: #ffffff;
}*/
.menu-bg{
    background-image: none !important;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    //background-position: center;
    background-position-y: 50px;


}
.logo-motto{
    display: block;
    font-family: HelveticaNeueLTCom;
    margin: @margin_small 0px @margin_medium;
    text-align: center;
}
///Animation 
.outlet-animate.ng-enter{
    -webkit-animation: zoomIn 0.5s;
    animation: zoomIn 0.5s;
}
.product-animate.ng-hide-remove{
    /*        -webkit-animation: flipInX 0.5s;
            animation: flipInX 0.5s;*/
}

.product-animate.ng-hide-add {
    /*        -webkit-animation: flipOutX 0.5s;
            animation: flipOutX 0.5s;*/
}

.product-animate.ng-enter{
    /*    -webkit-animation: flipInX 0.5s;
        animation: flipInX 0.5s;*/
}

.product-animate.ng-leave{
    /*    -webkit-animation: flipOutX 0.5s;
        animation: flipOutX 0.5s;*/
}

.cart-item.ng-enter{
    -webkit-animation: zoomIn 0.5s;
    animation: zoomIn 0.5s;
}

.cart-item.ng-leave{
    -webkit-animation: zoomOut 0.5s;
    animation: zoomOut 0.5s;
}
.order-history-item{
    -webkit-animation: zoomIn 0.5s;
    animation: zoomIn 0.5s;
}
#hero{
    /*    -webkit-animation: tada 1.25s;
        -webkit-animation-delay: 1s;
        animation: tada 1.25s;
        animation-delay: 1s;*/
}


.sprite_stores_footer{
	//background: url('../img/instakhaana_sprite.png') no-repeat 0 -399px;
	width: 366px;
	height: 68px;
        display: inline;
}

.apple_store{
        background: url('../img/instakhaana_sprite.png') no-repeat -15px -360px;
	width: 81px;
	height: 27px;
/*display:none !important;*/
        
}

.android_store{
        background: url('../img/instakhaana_sprite.png') no-repeat -231px -360px;
	width: 81px;
	height: 27px;
        margin-left: 10px;
        margin-right: 10px;
/*display:none !important;*/
}

.sprite_stores_footer div{
    display: inline-block;
    
}
.sprite_stores{
	background: url('../img/instakhaana_sprite.png') no-repeat 0 -399px;
	width: 366px;
	height: 68px;
}
#app_storelink { 
		position: absolute; 
		top: 0px;
                left: 17px;
                width: 133px;
                height: 44px;
		background-color: transparent; 
		//border: 1px solid yellow; 
}

#play_storelink{
                position: absolute; 
		top: 0px;
                left: 230px;
                width: 133px;
                height: 44px;
		background-color: transparent; 
		//border: 1px solid yellow; 
}


@-webkit-keyframes animatedBackground{
    
        from{
            background-position: 0% 0%;
            zoom: 1;
        }
        to{
            background-position: 100% 50%;
            zoom: 2;
        }
    
/*    50%{
        from{
            background-position: 20% 10%
        }
        to{
            background-position: 25% 20%
        }
    }
    75%{
        from{
            background-position: 25% 20%
        }
        to{
            background-position: 20% 10%
        }
    }
  */ 
    
    
}

@keyframes animatedBackground {
   
        from{
            background-position: 0% 0%;
            zoom: 1;
        }
        to{
            background-position: 100% 50%;
            zoom: 2;
        }

}


/* Custom Styles */
div#slider{
  
    width:100%;  
    min-height:600px;  
    margin:auto;  
    background:url(../img/homepage-jpg.png) repeat 0 0;  
    //-webkit-transition:background-position 4s ease;
   // animation: animatedBackground 10.5s  ease-in-out infinite alternate;
/*  bottom: 0px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: -13px;
    z-index: -1;
    background-image: url('../img/homepage-jpg.jpg'); 
    background-repeat: no-repeat;
    background-attachment: local; 
    background-position: 0px 71px!important; 
    background-size: 100% 100%; */
}

div.content_area{
    position:relative;    
    margin-top:-600px;  
}
#alert-container{
    left: 0px;
    position: fixed;
    margin-top: 125px;
    right: 0px;
    z-index: @z_index_high;
}
.outlet-logo{
    margin-top: 0px;
    height: 133px;    
    background-image:url("../img/bg.png");
    background-size: contain;   
    margin-bottom: 120px;
    text-align:center;
}
.outlet-logo img{
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;    
}
.logo-large{
    display: block;
    margin: @margin_medium auto @margin_small;
}
.hero-text{
    display: block;
    color: white;
    font-size: 20px;
    margin: @margin_medium auto;
    text-align: center;
    font-weight: bolder;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
.intro-text{
    color:#ffffff ;
    margin: 10px auto 10px;
    font-size: @font_Ex_large;
    text-shadow: none;
    margin-top: 183px;
    text-shadow: 0px 1px 2px #000;
}

.sub-intro-text{
    color:#ffffff ;
    font-size: 18px;
    text-shadow: 0px 1px 2px #000;
    padding-left: 23%;

}
#subarea-search-input{
    border-left: none;
    text-align: left;
    background-image:url("../img/search_icon.png");
    background-position:right center; 
    background-origin: content-box;    
    background-repeat:no-repeat;
    height: 45px;
    //color: black;   
}
.drop-customization{
    background-color: @button_bg_color;
    color:@button_text_color;
    width:120px;
    font-size:9px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5); 

}
.drop-customization:hover{    
    background-color: @button_bg_hover_color;
    color: @button_text_hover_color;
    -webkit-transform-origin:50% 38%;
    -moz-transform-origin:50% 38%;
    -ms-transform-origin:50% 38%;
    -o-transform-origin:50% 38%;
    transform-origin: 50% 38%;
}
#subarea-search-result-container{
    border-bottom-left-radius: @border_radius_medium;
    border-bottom-right-radius: @border_radius_medium;
    box-shadow: @box_shadow;
    left: 1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    right: 0px;
    z-index: @z_index_high;
}

.subarea-search-result{
    background-color: @button_bg_color;
    color: @button_text_color;
    font-size: @font_medium;
    display: block;
    padding: @padding_tiny;
}
.subarea-search-result:hover{
    background-color: @button_bg_hover_color;
    color: @button_text_hover_color;
    cursor: pointer;
}

.notification{
    text-align: left;
    height: auto;
    color: white;
    padding: 0px;    
    width: 175px;
    display: block;
    border-radius: 5px;   
    border: 1px solid rgba(8, 8, 8, 0.74);    
    overflow: hidden;
    white-space: normal;
}
.about-us-content{
    text-align: left;
}
.about-us-content p{
    font-size:19px;
    text-shadow:0px 1px 1px #000;
}
#aboutus_id{
    background-color: white;
    padding: 30px 30px;
    border-radius: 10px;    
}

#contact_header{
    font-size: 22px;
    font-weight: bold;
    padding: 32px 27px 0px;
}

#contact_text{
    font-weight: normal;
    font-size: 13px;
    padding:10px 29px;
}

#contactus_id{
    background-color: white;
    padding: 0px 0px;
    border-radius: 10px;    
}

#all-outlets-button{
    color: @header_item_text_color;
    float: left;
    font-size: 12px;
    margin: 0px 0px;
    text-decoration: underline;
    font-weight: bolder;
    /*background-color: @header_item_text_hover_color;*/
    padding: 5px;
}
#all-outlets-button:hover{
    color: @header_item_text_hover_color;
}

/*outlet*/
.outlet-container{
    padding-bottom: 40px;
    text-align: center;
    /* margin-top: 50px; */
    display: block;
    /* width: 490px; */
    /* height: 230px; */
    //background-color: #ffffff;
}

.fb_edit:hover .site{
    display:none;
}

.fb_edit:hover .site_hover{
    display:inline-block;
}

.tw_edit:hover .site{
    display:none;
}

.tw_edit:hover .site_hover{
    display:inline-block;
}


.site_hover{
    display:none;
}


body{
    height: 100%;
}

#suggest{
    color: #5A5A5A;
    font-size: 14px;
    text-decoration: underline;
    display: block;
    padding: 10px 0px;
}

#selector_outlet{
    color: #ffffff;
    font-size: 16px;
    text-align: left;
    font-weight: normal;
    padding-top:29px;
    display: block;
    margin-left: 18%;

}

.outlet{
    background-color: #ffffff;
    display: inline-table;
    /* line-height: @line_height_small; */
    margin: 0px 0px;
    padding: 16px 10px;
    /* width: 200px; */
    position: relative;
    /* border: 1px solid #BDAD8F; */
    /*border: 1px solid #BDAD8F;*/   
}
.outlet hr{
    border:dotted @outlet_text_color;
    border-width: 2px 0 0;
}
.outlet:hover{
    /*    -webkit-animation: pulse 0.5s;
        animation: pulse 0.5s;    */
    cursor: pointer;
}
.outlet-name{
    color: #FEC107;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bold; 
    width: 193px;
    height: 30px;
    //text-align: center; 
    float:left;
    padding: 7px;
}

.outlet-name:hover{
    background-color: #FEC107;
    color: #ffffff;
}

.outlet:last-child{
    margin-bottom: @margin_large;
}
.description-heading{
    color:@outlet_text_color;
    font-size: 0.8rem;
    font-weight: bold;
}
.description-content{    
    font-size: 0.8rem;
    padding: 1px;
    color:@outlet_text_color;
    font-family: HelveticaNeueLTCom;
}

/* Menu */
.logo-small{
    /*height: 65px;*/
    display: block;
    margin: 3px auto;
}
.attribute-img{
    /*float: right;*/
    padding: 7.5px 1px 0px;
    height: 20px;   
}
.category-container-block{
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
}
.set-border-right{
    border-right: 3px solid #8a191b;
}
#category-container 
{
    padding: 50px 0px;
    min-width: 15%;   
    background-color: #F4F4F4;
    min-height: 600px;
    max-height: 100%;
    /*position: fixed;*/
    top: 65px;
}
.cart-fixed-container 
{    
    padding: 30px 0px;
    min-width: 15%; 
    position: relative;
    top: -100px;
    right: 3%;
    z-index: 13;
}
.category{ 
    background-color: @category_bg_color;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 0px;    
    border-top:1px solid rgba(157, 156, 154, 0.30); 
    color: @category_text_color;
    cursor: pointer;
    font-size: @font_large;
    font-weight: bold;    
    overflow: hidden;
    padding: 15.5px 8.5px;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: capitalize;   
}
.category-extender{
    background-color: @category_bg_color;
    border-top:1px solid rgba(157, 156, 154, 0.30); 
    height: 50px;
}
.category:hover{
    background-color:@category_bg_hover_color;
    color: @category_text_hover_color;
}
.category.active{
    background-color:@category_bg_hover_color;
    color: @category_text_hover_color;
}
.category.active:hover{
    color: #F58634;
    cursor: default;
}
#filter-container{   
    margin-top: @margin_small;   
}
#filter-container > i{
    display: block;
    font-size: @font_medium;
    font-weight: bold;
    padding: @padding_tiny;
    text-align: center;
}
#filter-container ul{
    color: white;
    list-style: none;
    margin: 0px;
}
#attribute_group-container ul{
    padding: @padding_tiny;
}
.attribute_group-name{
    background-color: @category_bg_color;//@brand_color_2;
    color:white;
    display: block;
    font-size: @font_medium;
    text-align: center;
}
.attribute-container li{
    margin-left: @margin_tiny;
    background-color: @category_bg_color;
}
.attribute-name{
    color: @category_text_color;
    font-size: @font_medium;
    padding: 6px 6px;
    text-align: center;
}
.attribute-name:hover {
    color: @category_text_hover_color;
    font-style: inherit;
    // background-color:#8a191b;
}
.attribute-name:active{
    color: red;

    text-decoration: underline;
}
.attribute-name.active{
    text-shadow: 1px 1px 1px @category_bg_hover_color;
    color: @category_text_hover_color;
    text-decoration: underline;
}
.free-height{
    height: @margin_large;
}

#category-hero{   
    // margin-bottom: @margin_medium;  
    margin-top: 0px;
    height: 46px;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #dddddd;
}
#category-image{   
    background-size: auto;    
    height: 150px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom-right-radius: @border_radius_medium;
}
#category-description{
    /*background-color: @white_background;*/
    /*padding: @padding_tiny @padding_small;*/
}
#category-description-name{
    display: block;
    font-size: 31.5px;
    font-weight: bold;    
    color:@category_text_color;   
    margin-top:0px;
}
#category-description-description{
    font-size: 20px;
    color:black;
    font-weight: bold;
    text-shadow: 0px -1px 1px white;
}


.product-search-container{   
    margin-top: 25px;
    border-bottom-left-radius: @border_radius_medium; 
    border-bottom-right-radius: @border_radius_medium;
    padding: @padding_tiny 0px;
};

.product-search-container img{
    margin: 0px 0px;
}
.product-search-container input{
    text-align: left;
    background-image:url("../img/search_icon.png");
    background-position:right center; 
    background-origin: content-box;    
    background-repeat:no-repeat;
    height: 45px;
    color: black; 
}

#product-container li{
    clear: none;

}

#product-container{
    margin-top:40px;
    padding-left: 11%;
    padding-right: 12%;
}

.product{
    min-height: 109px;
    background-color: #fff;
    border:1px solid #E2E2E2;
    background-repeat: no-repeat;
    background-position: 96% 9%;   
   
    cursor: pointer;
    padding: 0px 7.5px 7.5px;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
}
.product:hover{
    /*    -webkit-animation: pulse 0.5s;
        animation: pulse 0.5s;    */
    //border: 3px solid @product_bg_hover_border_color;
}
.product-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 310px;
    padding: 0px;
    margin: 0px;

}
.set-product-padding{
    padding: 0px;
}
.set-product-height{
    min-height: 463px;
    padding: 0px;
    padding-bottom: 7.5px;
}
.set-product-height .set-product-padding{
    padding: 0px 7.5px;
}
.product-name{
    display: block;
    color: #4C494A;
    font-size: 14px;
    font-weight: bolder;
    font-family: HelveticaNeueLTCom;
    overflow: hidden;
    /* padding: 2.5px 0px; */
    text-align: left;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 23px;
}



.product-description-container{
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    padding: 0px 10px;
    text-align: left;
    max-width: 180px;
    margin:auto;
}
.cart_counter{
    background-color: #575757;
  color: #fff;
  position: relative;
  /* padding: 1px; */
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 3px;
  font-weight: bolder;
  padding-left: 6px;
  border-radius: 11px;
  font-size: 10px;
  position: absolute;
  top: -9px;
  left: 34px;
}

.product-description{
    color: #444;
    font-size:11px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    font-family: HelveticaNeueLTCom;
    //font-weight: bold;
    max-height: 60px;
    line-height: 1rem;
    margin-top: 5px;
    padding-right: 4px;

}
.product-description:after{
    /*content: ", ";*/
}
.product-description:last-child:after{
    content: "";
}
.product-last-row{
    height: 25px;
    line-height: 25px;   
    padding-top: 7%;
}
.product-price{
    background-color: transparent;
    border-radius: 0px;
    color: #575757;
    display: block;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 3px;
    padding:0;
}
.product-price:hover{
    /*background: @red;*/
    background-color: #575757;
    color: #ffffff;
}

.product-price_sold{
    background-color: transparent;
    border-radius: 0px;
    color: #575757;
    display: block;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 3px;
    padding:0;
}

body {
    font-family: HelveticaNeueLTCom;
    font-size: 13px;
}

div.callout {
    height: 29px;
    width: 167px;
}

.callout {
    background-color: #ffffff;
    background-image: -moz-linear-gradient(top, #444444, #444444);
    position: relative;
    color: #FEC107;
    padding: 3px 15px;
    font-size: 15px;
    border-radius: 15px;
    margin: 7px 5px;
    min-height: 50px;
    border: 1px solid #FEC107;
}

.callout::before {
    content: "";
    border: 0.8em solid transparent;
    position: absolute;
}

.callout.right::before {
    left: -22px;
    top: 28%;
    border-right: 10px solid orange;
}

.zigzag {

}
.zigzag:after{
    content: " ";
    display:block;
    position: relative;
    top:0px;
    left:0px;
    width:100%;
    height: 21px;
    background: linear-gradient(#F95905 0%, transparent 0%), linear-gradient(135deg, #ffffff 33.33%, transparent 33.33%) 0 0%, #ffffff linear-gradient(45deg, #ffffff 33.33%, #F95905 33.33%) 0 0%;
    background: -webkit-linear-gradient(#F95905 0%, transparent 0%), -webkit-linear-gradient(135deg, #ffffff 33.33%, transparent 33.33%) 0 0%, #ffffff -webkit-linear-gradient(45deg, #ffffff 33.33%, #F95905 33.33%) 0 0%;
    background: -o-linear-gradient(#F95905 0%, transparent 0%), -o-linear-gradient(135deg, #ffffff 33.33%, transparent 33.33%) 0 0%, #ffffff -o-linear-gradient(45deg, #ffffff 33.33%, #F95905 33.33%) 0 0%;
    background: -moz-linear-gradient(#F95905 0%, transparent 0%), -moz-linear-gradient(135deg, #ffffff 33.33%, transparent 33.33%) 0 0%, #ffffff -moz-linear-gradient(45deg, #ffffff 33.33%, #F95905 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 9px 27px, 9px 27px;
}

.outlet.selected{
    cursor: default;
    display: block;
    font-size: 18px;
    height: 46px; 
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    width: auto;
    color:#919191;
    background-color: transparent;
    //box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
.outlet.selected span{

}

.outlet.selected a{
    color: #F58634;
}

.left_stock{
    color: #000;
    background-color: rgba(255,255,255,0.5);
    widht: 70px;
    /* height: 40px; */
    padding: 8px 21px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 245px;
    right: 39%;
    border-radius: 37px;
}

.mob_left_stock{
    color: #000;
    background-color: rgba(255,255,255,0.5);
    widht: 70px;
    /* height: 40px; */
    padding: 8px 21px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 178px;
    right: 39%;
    border-radius: 37px;
}
.out_of_stock{
    color: #000;
    background-color: rgba(255,255,255,0.5);
    widht: 70px;
    /* height: 40px; */
    padding: 8px 21px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 128px;
    right: 35%;
}

.mob_out_of_stock{
    color: #000;
    background-color: rgba(255,255,255,0.5);
    widht: 70px;
    /* height: 40px; */
    padding: 8px 21px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 89px;
    right: 27%;
}

.add_item_to_cart{
        background: url('../img/instakhaana_sprite.png') no-repeat -130px -183px;
	width: 49px;
	height: 49px;
        position: absolute;
        top: 138px;
        right: 43%;
}
.mob_add_item_to_cart{
        background: url('../img/instakhaana_sprite.png') no-repeat -130px -183px;
	width: 49px;
	height: 49px;
        position: absolute;
        top: 88px;
        right: 43%;
}

.add_item_to_cart:hover{
        background: url('../img/instakhaana_sprite.png') no-repeat -130px -265px;
	width: 49px;
	height: 49px;
}

.mob_add_item_to_cart:hover{
        background: url('../img/instakhaana_sprite.png') no-repeat -130px -265px;
	width: 49px;
	height: 49px;
}

.item_stock_count{
    background-color: #fff;
  margin-bottom: 4px;
  margin-top: 0px;
  margin-left: -9px;
  margin-right: -9px;
  font-size: 29px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 15px;
  line-height: 0px;
}
  


.item_stock_count_actual{
  background-color: #fff;
  margin-bottom: 2px;
  margin-top: 3px;
  margin-left: -9px;
  margin-right: -9px;
  font-size: 13px;
  font-weight: bold;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 14px;
  border-radius: 23px;
}
.mob_item_stock_count_actual{
   background-color: #fff;
  margin-bottom: 2px;
  margin-top: 3px;
  margin-left: -9px;
  margin-right: -9px;
  font-size: 11px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 14px;
  border-radius: 23px;
}
.item_sold_out{
  background-color: #fff;
  margin-bottom: 8px;
  margin-top: 8px;
  padding-top: 7px;
  padding-left: 14px;
  padding-right: 14px;
}

.mob_item_sold_out{
    background-color: #fff;
  margin-bottom: 8px;
  margin-top: 8px;
  padding-top: 7px;
  padding-left: 14px;
  padding-right: 14px;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.75);
    border-bottom-left-radius: @border_radius_medium;
    border-bottom-right-radius: @border_radius_medium;
    bottom: 0px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    left: 0px;
    line-height: 100px;
    opacity: 0;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
}
.overlay:hover{
    opacity: 1;
}

.backToTop{
    display: none;
    position: fixed;
    top: 450px;
    padding-top: 4px;
    padding-left: 3px;
    height: 32px;
    width: 41px;
    border-radius: 5px;
    background-color: #000;
    z-index: 12;
    right: 0px;
   animation: bounce 1s infinite;
}
.backToTop_content{
        background: url('../img/instakhaana_sprite.png') no-repeat -17px -205px;
	width: 35px;
	height: 20px;
}

#cart-container{
    background-color: @product_bg_color;
    border-radius: @border_radius_medium;    
    margin-top: 58px;
    //box-shadow: @box_shadow;
    color: @product_text_color;
    padding: @padding_tiny 0px;
    padding-bottom: 0px;
    width:100%;
    
}
.go_back{
    margin-top: 20px;
    padding:3px;
    width:223px;
}

#checkout{
    height: 42px;
    padding-bottom: 30px;
    font-size: 21px;
    //padding-left: 22%;
    font-weight: bold;
}

#cart-item-container{
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 8px;
}
#cart-info, #cart-total{
    display: block;
    font-size: @font_large;
    padding: @padding_tiny 0px;
    text-align: left;
    color: #ADADAD;
    /*margin-bottom:@padding_tiny;*/ 
    border-bottom: 1px solid #ccc;
    background-color: #F5F5F5;
}

#cart-info{
    height: 50px;
    font-size: 12.5px;
    color: #000000;
    background-color: #DFDFDF;
    padding-top: 18.5px;
    text-align: center;
    cursor:pointer;

}
#cart-total{

/*    font-size: 20px;
    text-align: right;
    padding: 7.5px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 22px;
    margin-left: 90px;
    width: 100%;
    color: #000000;
    border: none;
    background-color: #ffffff;*/
    font-size: 20px;
    text-align: center;
    padding: 7.5px;
    padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 34px;
    /* margin-left: 90px; */
    width: 100%;
    color: #000000;
    border: none;
    background-color: #ffffff;
}
.cart-item{

    border-radius: @border_radius_medium;
    border-bottom:1px dotted #ccc;   
    color: @product_text_color;
    padding-bottom: 10px;
    margin-bottom: @margin_small;
}
.cart-item .product-name{
    padding: @padding_tiny;
    padding-top: 17px;
    font-size: 11px;
    text-align: left;
    white-space: normal;
}
.cart-item:last-child{
    margin-bottom: 2.5px;
}
.cart-item .columns{
    padding: 0px 3px;
}
.cart-item-description-container{
    overflow: hidden;
    padding: @padding_tiny;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cart-item-description-container .product-name{
    color: #5A5A5A;
}

.cart-item-info{
    margin-left:8px;
}

.cart-item-info span{
    display: block;
    //color: #EB1D1C;
    font-size: 17px;
    //padding: 5px @padding_tiny;
    text-align: center;
}
.cart-item .product-description{
    overflow: auto;
    //font-weight: bold;
    color: @product_description_color;
}
.change-quantity-button{
    font-size: 11px;
    color: #000000;
    padding: 1.5px;
    width: 1.3rem;
    height: 1.3rem;
    background-color: #D8D8D8;
    margin: 0px 2px;
    border-radius: 100%;
    display: block;
    text-align: center;        
}
button.close-quantity-button{

        background: url('../img/instakhaana_sprite.png') no-repeat -18px -71px;
	width: 20px;
	height: 20px;
}
/*button.change-quantity-button:hover,button.change-quantity-button:focus{
   
}*/
button.close-quantity-button:hover ,button.close-quantity-button:focus{
        background: url('../img/instakhaana_sprite.png') no-repeat -50px -71px;
	width: 20px;
	height: 20px;
}

#customization-modal, #add-address-modal, #save-order-modal{
    text-align: center;
    top: 30px;
}
#customization-modal{
    padding: 0px !important;
    border:5px solid @header_bottom_color;
    border-radius: 3px;    

}
#customization-modal a{
    color: black;
}

#customization-modal .accordion .accordion-navigation>a, .accordion dd>a{
    background-color: transparent;
    color:@product_text_color;
    /*text-shadow: 2px 0 0 #ffffff, -2px 0 0 #ffffff, 0 2px 0 #ffffff, 0 -2px 0 #ffffff, 1px 1px #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;*/
    font-family: HelveticaNeueLTCom;
}

#customization-modal .accordion .accordion-navigation>.content.active, .accordion dd>.content.active{
    background-color: transparent;

}
#customization-modal textarea{
    border:2px solid black;
}
#customization-modal h5{
    padding-top: 18px;
    font-size: 20px;
    font-family: HelveticaNeueLTCom;
    font-weight: bold; 
    color:black;
    text-shadow: 2px 0 0 #ffffff, -2px 0 0 #ffffff, 0 2px 0 #ffffff, 0 -2px 0 #ffffff, 1px 1px #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;

}
#customization-modal hr{
    color:#8A191B;
}

#customization-modal-product-description{
    color: black;
    font-weight: bold;
    display: block;
    font-size: 14px;
    line-height: @font_medium;
    margin: @margin_small;
    text-align: center;
    font-family: HelveticaNeueLTCom;
}


.proceed-button{
/*    padding-bottom: 5px;
    padding-top: 5px;  
    box-shadow: @box_shadow;
    display: block;
    margin: -6px auto;
    font-weight: bold;
    width:100% !important;
    font-size:15px;
    height: 38px;
    line-height: 13px;*/

   padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: 0px 1px -1px rgba(0, 0, 0, 0.25);
    display: block;
    margin: 0px auto;
    font-weight: bold;
    width: 100% !important;
    font-size: 15px;
    height: 38px;
    line-height: 13px;

}

/* Checkout */
#checkout-accordion{
    box-shadow: @box_shadow;
    margin-top:36px;
    
}

#user-address-container{
    max-height: 330px;
    overflow-y: auto;
    padding: @padding_small*2;
}
.user-address{
    border: 2px solid @header_bottom_color;
    border-radius: @border_radius_medium;
    margin-top: @margin_medium;
    padding: @padding_small;
    position: relative;
}

.user-address span{
    display: block;
    font-size: 1.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 22px;
}

.address-tag{
    font-weight: bold;
    text-align: center;
}

.user-address.selected{
    background-image: url("../img/check.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: initial;
}

#coupon-code-input{
    text-align: center;
    text-transform: uppercase;
}

.proceed-button.small{
    margin: 0px auto;
    padding: 1.5px 0px;
    width:149px;
    font-size:14px;
}

.fa{
    padding: 0px 0px;
}

.proceed-button.tiny{
    box-shadow: none;
    display: block;
    font-size: @font_small;
    margin: 3.75px auto;    
    border-radius: 3px;    
    padding: 7.5px @padding_small;
}

/*.proceed-button.tiny:hover{
    background-color: @maroon;
    color:@yellow;

    border: 2px solid @yellow !important;


}*/
/*.proceed-button:hover{

    background-color: @maroon;
    color:@yellow;

    border: 2px solid @yellow !important;


}*/

#extra-charges-table, #offers-table{
    margin: 0px auto;
}

#payable-amount{
    margin:  @margin_medium auto;
    text-align: center;
}

/* Order History */
.order-history-item{
    background-color: @white_background;
    border-radius: @border_radius_medium;
    box-shadow: @box_shadow;
    font-size: @font_medium;
    line-height: 25px;
    margin-top: @margin_medium;
    padding: @padding_small @padding_small*2;
}

/* Contact Us */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

.fb_iframe_widget span{
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    height: 250px !important;
}

.social-tile{
    background-color: @white_background;
    border: 1px solid white;
    border-radius: @border_radius_medium;
    box-shadow: @box_shadow;
    cursor: pointer;
    display: inline-block;
    margin-bottom: @margin_medium;
    padding: @padding_small;
}



.social-tile:hover{
    -webkit-animation: pulse 0.5s;
    animation: pulse 0.5s;
    border-color: @header_bottom_color;
}

#social-widget-container{
    padding: 0px @margin_medium;
}

.social-widget{
    display: block;
    margin-bottom: @margin_small !important;
}

/* About Us */
#team-container{
    padding-bottom: @margin_big;
}

.tile-container li{
    padding: 20px;
}

.tile-container li img{
    margin-bottom: 30px;
    height: 120px;
}

.teamimg{
    text-align: center;
}

.teamimg div{
    display: block;
    margin: 0px auto;
    height: 145px;
    border-radius: 5px;
    max-width: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.teamimg div span{
    display: none;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 0px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 0px;
}

/*popup*/
#popup-modal {
    font-style: italic;
    background-color: seashell;
}
.outletaddress{
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 80px;
    white-space: normal;

}
.outletphone{
    color:#008cba !important;
}

.cust.radio {
    visibility: hidden;
    position: absolute;
}
.cust.radio + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
    width: 200px;
    height: 200px;
}
.cust.radio:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #C13D1E;
}
.cust.radio:checked + img +span{ /* (RADIO CHECKED) IMAGE STYLES */
    background-color: #C13D1E;
    color: #FFF;
}
.cust.radio + img + span{ /* IMAGE STYLES */
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.75);
    width: 85%;
    color: #C13D1E;
    font-weight: bold;
    font-size: 16px;
    padding: 0 5px;
}

.cust.checkbox {
    visibility: hidden;
    position: absolute;
}
.cust.checkbox + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
    width: 200px;
    height: 200px;
}
.cust.checkbox:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #C13D1E;
}
.cust.checkbox:checked + img +span{ /* (RADIO CHECKED) IMAGE STYLES */
    background-color: #C13D1E;
    color: #FFF;
}
.cust.checkbox + img + span{ /* IMAGE STYLES */
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    color: #C13D1E;
    font-weight: bold;
    font-size: 16px;
    padding: 0 5px;
}

.panel {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    text-align: left;
    /*background: #f2f2f2;*/
}
.customization-header {
    font-size: 24px;
    padding: 10px;
    /*text-align: center;*/
}
.child_customization_heading
{
    padding: 0px 0px 0px 5px !important;
    background: none !important;
    text-align: center;
}
#fb-icon{    
    /*background-image: url('../img/social/FacebookBefore.png');*/
    color: @header_item_text_color;
    background-color: @header_item_bg_color;
    padding: 0px 25px;
}
#fb-icon:hover{
    /*background-image: url('../img/social/FacebookAfter.png');*/
    color: @header_item_text_hover_color;
    background-color: @header_item_bg_hover_color;    
}

#tweet-icon{
    /*background-image: url('../img/social/TwitterBefore.png');*/
    color: @header_item_text_color;
    background-color: @header_item_bg_color;
    padding:0px 25px;
}
#tweet-icon:hover{
    /*background-image: url('../img/social/TwitterAfter.png');*/ 
    color: @header_item_text_hover_color;
    background-color: @header_item_bg_hover_color;
}

#android-icon{    
    /*background-image: url('../img/social/AndroidBefore.png');*/ 
    color: #000000;
    /*background-color: @header_item_bg_color;*/
}
#android-icon:hover{
    /*background-image: url('../img/social/AndroidAfter.png');*/
    color: @header_item_text_hover_color;
    background-color: @header_item_bg_hover_color;
}

#ios-icon{
    background-color: @header_bg_color;
    color: #000000;

}
#ios-icon:hover{
    /*background-image: url('../img/social/AppleAfter.png');*/ 
    color: @header_item_text_hover_color;
    background-color: @header_item_bg_hover_color;
}


//foundation changes for Mobile UI
.left-off-canvas-menu{
    background-color: #f5f5f5;
   // margin-top: 55px;
    min-height: 660px;
    /*max-height: 440px;*/
}

ul.outlet_canvas{
    display: inline;
}

li.canvas_item{
    height: 41px;
    border-bottom: 1px solid #ccc;
    color: #333;
    list-style-type: none;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #f5f5f5;
}

li.canvas_item a{
    text-decoration: none;
    color: #333;
}

li.canvas_item:hover a,li.canvas_item:hover{
    background: #333;
    color: #fff;
}



#mobileslider{
    height: 100%;
}

//css for mobile UI
.mobile-header{
    background-color: #ffffff;
    height: 55px;
    border-bottom: 1px solid #E2E2E2;
    position: fixed;
    z-index: 5;
    padding-top: 13px;
}
.mobile-header img{
    /*    height: 30px;
        width: 30px;*/
    margin-top: -4px;
    /* padding-left: 0; */
    margin-left: -9px;
}
.mobile-header img#back_arrow_page{
    /*    height: 30px;
        width: 30px;*/
    margin-top: -4px;
    /* padding-left: 0; */
    margin-left: -9px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

img#back_arrow_page{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.mobile-header span{
    color: #000000;
    overflow-wrap: break-word;
    font-weight: bold;
    font-size: 13px;
}
.mobile-footer{
    background-color: rgba(0, 0, 0, 0.95);
    height: 55px;
    padding: 0px;
    border-top: 1px solid #E2E2E2;
    color: #ffffff;
    z-index: 999;
    position: fixed;
    bottom: 0;
    top: auto;
}
#mobile-customization-modal .mobile-cart-bar-price{
    margin-top: 18px;
}
.back{
    padding-left: 5px;
    color: @mobile_header_text_color;
    font-weight: bolder;
    margin-top: 19px;
}
.menu-list{
    font-size: 18px;
    padding: 16px 5px;
    display: block;
    float: left;
    color: #242424;
}
.search-bar{
    background-color: #E8E8E8;
    height: 50px;
    padding: 0px;
    margin-top: 55px;
    /*display: inline-block;*/
}
.search-bar input ,.search-bar input:focus{
    width: 72%;
    margin-top: 6px;
    border-radius: 5px;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #242424 !important;
    padding: 8px;
    background-image:url("../img/search_icon.png");
    background-position:right center; 
    background-origin: content-box;    
    background-repeat:no-repeat;
}


.mobile-location{
    padding: 10px 0.225rem;

}
.mobile-location span{
    font-weight: bold;
    color:#000000;
    text-align: center;
    display: block;
}
.mobile-location .all-outlets{
    color: @mobile_button_bg_color;
    float: right;
    font-size: 12px;
    margin: 10px 0px 0px 0px;
    text-decoration: underline;
    font-weight: bolder;   
    padding: 5px;
}
.mobile-location .location-container{
    /*background-color: @outlet_bg_color;*/
    padding: 10px 5px;
}
.location-container span{
    margin: 5% 0px;
    padding: 0px 5px;
}
.location-container img{
    padding: 0px 5px;
    height: 80px;
    width: 60px;
}
.zero-padding{
    padding:0px;
}
.mobile-outlet-container{
    padding-top: 8px;
    padding-left: 28px;
    padding-right: 28px;
    display:inline-block;    
    height:51px;
    background-color: transparent;
}
.mobile-outlet{
    padding: 5px;
    height: 52px;
    position: relative;  
    box-shadow: 0px 0px 1px #E2E2E2;      
    background-color: @outlet_bg_color; 

}

.mobile-outlet span{
    overflow-wrap: break-word;
    display: table-cell;
    text-align: center;
    font-size: 20px;
    padding: 5px 5px;
    vertical-align: middle;
    color: #ffffff;
    background-color: #FEC107;
    overflow-wrap: break-word;
    display: block;
}
.mobile-category-header{
    color: @mobile_button_bg_color;    
    padding: 7.5px 10px;
    font-size: 16px;
    height: 30px;
}
#mobile-category-container 
{
    background-color:#FFFFFF;   
}
#mobile-category-container .mobile-category-header{
    color: #919191;
}
.mobile-category{
    text-align: left;
    padding: 10px 12px;
    border-top: 1px solid rgba(157, 156, 154, 0.30);
    background-color: #FFFFFF;
    color: #242424;
}
.mobile-category.active ,.mobile-category:hover{
    background-color: transparent;
    color: @mobile_button_bg_color;
}
.mobile-hr{
    border-color: rgba(0,0,0,0.1);
}
#mobile-attributegroup-container ul{
    padding: 0px;
}
.mobile-attribute-container li{
    padding: 6px 10px;
    margin-left: 0px;
}
#mobile-filter-container{
    margin-top: 1px;
}

#mobile-filter-container ul{
    color: white;
    list-style: none;
    margin: 0px;
}

#mobile-product-container{
    clear: none;
    margin: 0px 5px;
    width: 97%;
    min-height: 640px;
}

.mobile-product{

    /*height: 90px;*/
    background-color: #FFFFFF;   
    background-repeat: no-repeat;
    background-position: 96% 9%;   
    /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);*/
    cursor: pointer;
    padding: 6px 7.5px;
    position: relative;
    margin-bottom: 4px;
    border: 1px solid #E8E8E8;
}
.last{
   // margin-bottom: 100px !important;
}
.mobile-product:hover{
    /*-webkit-animation: pulse 0.5s;*/
    /*animation: pulse 0.5s;*/
    /*border: 1px solid #E8E8E8;*/
    /*background-color: #E8E8E8;*/
    /*border: 3px solid #66373f;*/
}

.mobile-product-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //border-bottom: 2px solid #000000;
    height: 224px;
    width: 100%;
}

.mobile-product-name{
    display: block;
    color:#242424;
    font-size: 14px;
    font-weight: bolder;
    font-family: HelveticaNeueLTCom;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: normal;
    padding-bottom: 7px;
    padding-top: 4px;
    /*height: 18px;*/
    /*border-bottom: 2px solid #000000;*/

}

.mobile-product-description-container{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px 10px;
    text-align: center;

}

.mobile-product-description{
    color: #2D2D2D;
    font-size: 11px;
    /* overflow: hidden; */
    text-align: left;
    /*text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);*/
    /* text-overflow: ellipsis; */
    font-family: HelveticaNeueLTCom;
     min-height: 37px; 
    padding-right: 4px;
    /* padding-top: 2px; */
    white-space: normal;
}
.mobile-product-price{
    max-height: 583px;
    color: #ffffff;
    text-shadow: 0px 1px 2px #000;
    display: block;
    font-size: 17px;
    font-weight: bold;
    text-align: right;
    height: 30px;
    padding: 5px;
    border-radius: 0px;
    position: absolute;
    width: 83%;
    margin-top: -70px;
    margin-left: 42px;
}


#mobile_refer_hide{
    //display: none;
}
.mobile-feature-img{
    /*float: left;*/
    /*    width: 10px;
        height: 10px;*/
    margin: 11px 0px;
}


.arrow-down {
    /*    width: 23px;
      height: 23px;
      border-top: 23px solid #000000;*/
    margin-left: 0px;
    z-index: 10;
    margin-top: 0px;
    border-radius: 50%;
    position: absolute;
}
.arrow-down span{ 
    position: absolute;
    top: 15px;
    font-weight: bold;
    right: -37px;
    z-index: 14;
    font-size: 18px;
    color: #000000;
}
.mobile-cart-bar-qty{
    font-size: 20px;
    font-weight: bold;
    /*color: @header_bottom_color;*/
    display: block;
    margin: 15px 5px;
}
.mobile-cart-bar-qty span{
    background: white;
    font-size: 14px;
    color: black;
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 30px;
    padding: 8px 0px;
    border-radius: 100%;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
}
.mobile-cart-bar-price{
    font-size: 18px;
    font-weight: bold;
    /*color: @header_bottom_color;*/
    display: block;
    margin: 17px 5px;
}
.mobile-cart-bar-price span{

    font-size: 30px;    
    display: inline-block;
    text-align: center;
    height: 30px;   
}
.mobile-cart-bar-next-btn{
    font-size: 11px;
    font-weight: bold;
    /*color: @header_bottom_color;*/
    display: block;
    margin: 18px 0px;
    padding: 0px;
    float: right;
}
.mobile-cart-bar-next-btn span{
    display: inline-block;   
    padding-left: 0px;
}

.checkout-progress-bar{
    height: 16px;
    background-color: #E8E8E8; 
    font-size: 10px;
    border-bottom: 1px solid rgba(157, 156, 154, 0.3);
    padding: 2px;
}
.checkout-progress-bar-active{
    background-color: #EEEEEE;
    color: #000000;
    font-size: 12px;
    height: 20px;    
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.checkout-progress-bar-inactive{
    background-color: #EEEEEE;
    color: #CFCFCF;
    padding: 3px;   
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

}

#mobile_order_details{
    background-color: #F5F5F5;
}

.mobile-cart-header{
    color: #242424 !important;
    /*text-shadow: 1px 1px 1px rgba(0,0,0,0.5);*/
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}
.mobile-cart-item-container{
    max-height: 250px;
    overflow-y: auto;
    margin-top: 5px;
    padding: 0px 3px;
    background-color: #ffffff;
}
.mobile-cart-item{
    /*height: 50px;*/
    border-bottom: 1px solid rgba(157, 156, 154, 0.30);
    background-color: #F5F5F5;
    padding: 2px 3px;
}
.mobile-change-quantity-button_add{
        background: url('../img/instakhaana_sprite.png') no-repeat -18px -39px;
	width: 20px;
	height: 20px;
        margin-top:12px;
}
.mobile-change-quantity-button_add:hover,.mobile-change-quantity-button_add:focus{
        background: url('../img/instakhaana_sprite.png') no-repeat -50px -39px;
	width: 20px;
	height: 20px;
        margin-top:12px;
}

.mobile-change-quantity-button_sub{
        background: url('../img/instakhaana_sprite.png') no-repeat -18px -7px;
	width: 20px;
	height: 20px;
        margin-top:12px;
}
.mobile-change-quantity-button_sub:hover,.mobile-change-quantity-button_sub:focus{
        background: url('../img/instakhaana_sprite.png') no-repeat -50px -7px;
	width: 20px;
	height: 20px;
        margin-top:12px;
}

#mob_left_stock{
    color: #ffffff;
    background-color: #FF5E05;
    widht: 70px;
    /* height: 40px; */
    padding: 4px 5px;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    bottom: 82px;
}

.mobile-cart-quantity{
    margin-left: 7px;
    font-size: 1rem;
    color:#242424;
    margin-bottom: 0px;
    padding: 2px;
    width: 100%;
    height: 48px;
    background: transparent;
    /*text-shadow: 1px 1px 1px black;*/
    text-align: center ;
    border: none !important;
}
.mobile-cart-quantity:hover,.mobile-cart-quantity:focus{
    /*background: none;*/
}

.bordered{
    z-index: 5; 
    /*border-bottom: 1px solid #000000;*/
}

.mobile-cart-item .mobile-product-name{
    font-size: 13px;
    white-space: normal;
    height: auto;
    font-weight: normal;
    border:none;
    text-align: center;
}
.mobile-cart-item .mobile-product-description{
    font-size: 11px;
    text-shadow: none;
    float: left;
    white-space: nowrap;
    width: 100px;
}
.mobile-change-close-button{
        background: url('../img/instakhaana_sprite.png') no-repeat -18px -71px;
	width: 20px;
	height: 20px;
}
.mobile-change-close-button:hover,.mobile-change-close-button:focus{
        background: url('../img/instakhaana_sprite.png') no-repeat -50px -71px;
	width: 20px;
	height: 20px;
}
.mobile-cart-total{
    margin: -2px 10px 5px;
    font-size: 14px;
    color: #242424;
}

#mobile_confirm_details{
    background-color: #F5F5F5;
}

.mobile-cart-total div{   
    /*background-color: #E8E8E8;*/
    /*border-bottom: 1px solid rgba(157, 156, 154, 0.30);*/
    padding: 7.5px 0px;
    border-top: 1px solid rgba(157, 156, 154, 0.30);
}
.mobile-cart-total span{   
    padding: 3px;
}
.mobile-deliver-type{
    margin: 3px 10px;
    color: #242424;
    margin-bottom: 20px;
    background-color: #ffffff;
    height: 99px;

}
.mobile-deliver-type label{
    height: 35px;
    /*background-color: #e8e8e8;*/
    /*    margin-top: 1px;*/
    color: #242424;
    padding: 5px 3px;
    /*border-bottom: 1px solid rgba(157, 156, 154, 0.30);*/
}
.mobile-deliver-type span{
    display: inline-block;
    margin: -2px 10px;
    font-size: 14px;
    color: #242424;
}
.mobile-deliver-type input{
    float: right;
    margin: 6px 10px;   
}
#mobile_address_details{
    padding: 8px 8px;

}
#mobile_address_details input,#mobile_address_details select{
    margin: 5px 0px;
    background-color: #e8e8e8;
    box-shadow: none;
    height: auto;
    margin-bottom: -5px;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #000;
}
.mobile-takeaway-container{
    height: auto;
    border-bottom: 1px solid rgba(157, 156, 154, 0.30);
    /*background-color: #e8e8e8;*/
    padding: 10px;
    margin-top: 5px;
}
#mobile_address_details input:focus{
    border: 1px solid red;
}
#mobile_address_details select:focus{
    border: 1px solid red;
}
#mobile_confirm_details .mobile-product-name{
    vertical-align: middle;
}
.set-product-center{
    margin-top: 10px;
}
#mobile_confirm_details .mobile-takeaway-container,#mobile_confirm_details .mobile-cart-header{
    margin: 5px 10px;
}
.mobile-coupon-details{
    padding: 0px 10px;
}
.mobile-coupon-details input{
    margin-bottom: 5px;
    background-color: #e8e8e8;
    box-shadow: none;
    height: auto;
    /*margin-bottom: -5px;*/
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}
.mobile-coupon-details input:focus{
    border: 1px solid red;
}

.mobile-coupon-details .proceed-button.small {
    margin: 0px auto;
    padding: 7px 5px;
    width: 116px;
    border-radius: 7px; 
    font-size: 13px;
    margin-right: 0px;
    background-color: #F95905;
    color: #ffffff;
}

.customization-container{
    margin-top: 55px;
}
.customization-container .mobile-cart-header
{
    padding: 3px 5px;
}
.customization-container .mobile-deliver-type
{
    margin: 1px 3px;
}
.customization-container .mobile-deliver-type label{
    padding-left: 10px;
    background-color: white;
}
.customization-container li{
    padding: 0px;
    margin: 2px auto;
    background-color: #e8e8e8;
}
.customization-container ul{
    margin-top: 5px;
    max-height: 350px;
    overflow-y: auto;
    padding: 0px 20px;
    border-bottom: 1px dotted rgba(157, 156, 154, 0.30);
}
.customization-comments,.customization-quantity{
    padding: 3px 10px;  
}
.customization-comments input{
    /*background-color: @mobile_light_cream;//rgba(255,255,255,0.4);*/
    margin-bottom: 0px;
}

input[type="text"]{
    font-size:15px;
    color: #000000;
    /*font-weight: bold;*/
}


.mobile-splash-screen{
    width: 100%;
    height: 800px;
    background-color: rgba(0,0,0,0.5);

}
.mobile-splash-screen-child{

    height: auto;    
    background-color: white;
    margin: 40% 5%;
    padding: 10px;    
}
.mobile-splash-screen-child img{
    display: block;
    height: 100px;
    margin: auto;
}
.mobile-splash-screen-child span{
    display: block;
    text-align: center;   
    margin: auto;
    padding: 12.5px;
    line-height: 1.4rem;
    color: #545454;
}



//set media query for mobile device
@media (min-width: 320px) and (max-width: 900px) {
    .menu-bg{background-image: none !important;
             background-color: #F6F6F6; 
    }
    #emergency{
        width:100% !important;
        margin: 0 !important;
    }
/*    #refcandy-poprocks{
        display: none !important;
    }*/
    #sunday_message{
        width:100% !important;
        margin: 0 !important;
    }
    
    #store_closed_message{
        width:100% !important;
        margin: 0 !important;
    }
    
}

.ty-page{
    text-align: center;
    background-color: white;
    padding: 2% 10px 20px;
    box-shadow: 0px 0px 8px rgb(155, 155, 155);
    color: #242424;
    font-size: 20px;
    font-weight: bold;
    //width: 50%;
    border-radius: 6px;
}
.ty-page span{
    padding: 0px 0px 18px;
}
.ty-page img{
    margin: 10px auto 15px;
    display: block;
    height: 100px;
}
.ty-page a{
    margin: 15px auto;
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}
.ty-page a:hover{
    margin: 15px auto;
    display: block;
    color: #ffffff;
}
.ty-page-heading{
    font-size: 30px;
    font-weight: bold;
    color: #616161;
    display: block;   
}

.mob-ty-page{
    color: #242424;  
    font-weight: bold;  
    border-radius: 6px;
    overflow: hidden;
}

.mob-ty-page span{
    /*padding: 0px 0px 18px;*/
}
.mob-ty-page img{

}
.mob-ty-page a{
    margin: 15px auto;
    display: block;
    text-decoration: none;
    color: #ffffff;
    width: 174px;
    border-radius: 6px;
    font-size: 16px;
    background-color: #F95905;
}
.mob-ty-page a:hover{
    /*margin: 15px auto;*/
    /*display: block;*/
    color: #000000;
}
.mob-ty-page-heading{
    font-size: 22px;
    font-weight: bold;
    margin-top: 73px;
    color: #000000;
    display: block;
    text-align: center;  
}

#thanks_order{
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #000000;
}

/*::-webkit-input-placeholder {
   color: #FF5E05;
}

:-moz-placeholder {  
   color: #FF5E05;  
}

::-moz-placeholder {   
   color: #FF5E05;  
}

:-ms-input-placeholder {  
   color: #FF5E05;  
}*/

// Tilakraj Gandhi CSS changes
ul.top-bar-navigation{
    display: inline;
}


ul.top-bar-navigation li{
    display: inline-block;
}


.dvInline_block{
    display: inline-block;
}

.dvGoRight{
    float: right;
}

.centerItem{
    margin: 0 auto;
    display: inherit;
}