
<style>

    .dvWrap
    {
        padding:  15px 15px 0;
    }

    p
    {
        text-align: left;
        font-size: 1rem;
        color:#452503;
    }

    div
    {
        text-align: left;
    }




    @media(max-width: 768px)
    {
        .dvWrap
        {
            /*padding:  500px 15px 0;*/
        }
         h3
        {
            font-size: 18px;
               
        }

        p
        {
            font-size: 16px;
        }
    }

</style>



<div class="dvWrap">
    <p>
        <b>Maroosh</b> in Lebanese is for fanning the coal. If that is any indication to go by, this is soon to be one of India's fastest growing chain of quick service restaurants. Well renowned in the city for Lebanese cuisine, it brings alive the aromas of the Arabian heartland.
    </p>
    <p>
        Infusing rich Middle Eastern fare, with mouth-watering delights of the subcontinent, Maroosh strikes a sumptuous balance for the Indian palate. High quality ingredients and fresh flavors leave little to the imagination, while creating a feast for the senses.
    </p>
    <h3>Vision & Mission</h3>
    <p>
        Here, every opportunity must allow us to maximize value and refine our goals - with an unrelenting focus on our core principles: quality, respect, integrity, teamwork and humility.
    </p>
    <p>
        Being a forward thinking company, we don't just want to surpass expectations, but also help create value by strengthening and contributing to the community that surround us.
    </p>
</div>

<script>
    ga('set', {
        page: '/aboutus_mobile.html',
        title: 'aboutus mobile Page'
    });
    ga('send', 'pageview');
</script>




