<style>
    .dvWrap
    {
        padding: 15px 15px 0;
        text-align: left;

    }
    ul
    {
        padding: 0;
    }
    
    div
    {
        text-align: center;
    }
    
    li
    {

        list-style: none;
        font-size: 1rem;
        color:#452503;
    }
    a
    {
        color:#452503;
    }
    h1
    {

        color: #FFD503;
        font-size: 60px;
    }


    @media(max-width: 768px)
    {
        h1
        {
            font-size: 18px;
        }
        li
        {
            font-size: 16px;
        }
    }
</style>


<div class="dvWrap">
    <h1>Maroosh</h1>
    <ul>
        <li >
            <span>Tel: </span>
            <a href="tel:02269496666">022-69496666</a>
        </li>
        <li >
            <span>Mail: </span>
            <a href="mailto:feedback@ihmpl.in">feedback@ihmpl.in</a>
        </li>
    </ul>
</div>

<script>
    ga('set', {
        page: '/contactus_mobile.html',
        title: 'contactus mobile Page'
    });
    ga('send', 'pageview');
</script>