<style>
    .dvWrap
    {
        padding: 15px 15px 0;
        text-align: left;

    }
    ul
    {
        padding: 0;
    }

    div
    {
        text-align: left;
    }

    li
    {

        list-style: none;
        font-size: 1rem;
        color:#452503;
    }
    a
    {
        color:#452503;
    }
    h1
    {

        color: #FFD503;
        font-size: 60px;
    }
    .browncolor
    {
        color: #45250D;
    }


    @media(max-width: 768px)
    {
        h1
        {
            font-size: 18px;
        }
        li
        {
            font-size: 16px;
        }
    }
</style>


<div class="dvWrap">
    <div class="row panel" style="">

        <p><b>Disclaimers</b></p>
        <p class='browncolor'>
            Maroosh grants you permission to view this Web site and to print individual pages from this Web site for your own personal, noncommercial use, provided that you agree to and accept without modification the notices, terms, and conditions set forth in this agreement. You may not modify, copy (except as set forth in the preceding sentence), distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, material, software, products or services from this Web site.
        </p>
        <p class='browncolor'>
            Your use of this Web site constitutes your agreement and acceptance without modification of 
            the notices, terms and conditions set forth herein. In addition, as a condition of your use 
            of this Web site, you represent and warrant to Maroosh that you will not use this Web site 
            for any purpose that is unlawful, immoral, or prohibited by these terms, conditions, and 
            notices. If you do not agree and accept without modification the notices, terms and conditions 
            set forth herein, do not use this Web site. Other than this agreement, Maroosh will not enter 
            into any agreement with you or obligation to you through this Web site, and no attempt to 
            create such an agreement or obligation will be effective.
        </p>

    </div>
</div>

<script>
    ga('set', {
        page: '/contactus_mobile.html',
        title: 'contactus mobile Page'
    });
    ga('send', 'pageview');
</script>