<style>
    .dvWrap
    {
        padding: 15px 15px 0;
        text-align: left;

    }
    ul
    {
        padding: 0;
    }
    
    div
    {
        text-align: left;
    }
    
    li
    {

        list-style: none;
        font-size: 1rem;
        color:#452503;
    }
    a
    {
        color:#452503;
    }
    h1
    {

        color: #FFD503;
        font-size: 60px;
    }
    p{
        color: #45250D;
    }
.browncolor
{
    color: #45250D;
}


    @media(max-width: 768px)
    {
        h1
        {
            font-size: 18px;
        }
        li
        {
            font-size: 16px;
        }
    }
</style>


<div class="dvWrap">
        <div class="row panel" style="">
            
            <p><b>Privacy Policy</b></p>
<p class='browncolor'>
    In general, you can visit this Web site without telling us who you are or revealing any 
    information about yourself. Our web servers collect the domain names, not the e-mail addresses, of 
    visitors.
</p>
<p class='browncolor'>
    Maroosh may collect personal information from you including your first and last name, address, 
    telephone and mobile number(s), email address and any other information, when you knowingly provide 
    us with this information. This will generally occur when you either:
</p>


                <ul>
                    <li>Visit Online ordering site to place order;</li>
                    <li>enter into a competition or promotion;</li>
                    <li>participate in a survey;</li>
                    <li>subscribe to our mailing list;</li>
                    <li>apply for a job;</li>
                    <li>request information regarding our Franchise system;</li>
                    <li>submit website feedback ;</li>

                </ul>

                <p>Where ever Maroosh collects personal information about you from someone else, Maroosh or the franchisee will take reasonable steps to advise you.</p>


                <b>Use and Disclosure</b><br><br>
                <p>Except as otherwise stated, we may use information collected via this site to improve the content of our site, to customize the site to your preferences, to communicate information to you, and for any other purpose specified.</p>
                <p>Maroosh may use the personal information that you submit to store and process that information in order to provide goods and services. Generally, we may use your personal information in the ways in which you would expect, including but not limited, to any of the following purposes:</p>

                <ul>
                    <li>to process any job application you may submit;</li>
                    <li>to provide you with any outlet or promotion information;</li>
                    <li>to process any online ordering;</li>
                    <li>to determine the number of visitors to our websites and conduct reviews of our sites</li>
                    <li>to fulfill prizes, awards and purchases;</li>
                    <li>to respond to specific requests from visitors;</li>
                    <li>to keep you informed about any changes to our websites;</li>
                    <li>to conduct marketing research; and</li>
                    <li>to now and again send you offers or information on products or services that we consider will be of interest to you.</li>
                </ul>

                <b>Further information on how we use your personal information when using our Internet ordering system</b><br><br>
                <p>
                    When using the Maroosh internet ordering system additional information is collected when you order a  online. This information assists in the delivery to your door and to verify your credentials.. The internet order system also stores information about your order to help you remember and re-order the same menu in future. When concluding your order via the Maroosh internet ordering system, you will be asked if you would like to associate your mobile number with social media such as facebook. You may choose to do that for ease of ordering when you come next time.
                </p>

                <b>Credit card details</b><br><br>
                <p>Maroosh does not store any of your credit card details</p>

                <b>Third Party Disclosure</b><br><br>
                <p>Maroosh may share statistics and personal information between themselves and with companies that are related to Maroosh including our international branches.</p>
                <p>Personal information that you submit to Maroosh may be disclosed to a third party:</p>
                <p>Such as our suppliers, as mailing houses, who are employed to provide some of our services such; to meet the purpose for which it was submitted</p>

                <ul>
                    <li>if you have provided your express consent to share the information;</li>
                    <li>if Maroosh are required or authorized by law to disclose the information;</li>
                    <li>if your personal information is collected in connection with a joint promoter, to that joint promoter for marketing and research purposes;</li>
                    <li>If Maroosh feel you might like to know about a third party's goods and services we may supply that personal information to that third party. (We know that many of our guests enjoy receiving these excellent offers); or</li>
                </ul>

                <b>Access, Accuracy and Security</b><br><br>
                <p>Maroosh will take reasonable steps to ensure that the personal information collected is accurate, complete and up-to-date.</p>
                <p>You can access and request correction of any personal information concerning you at any time. You may also request that your personal information be deleted at any time. Any such requests should be made directly by contacting us.</p>
                <p>Maroosh will take reasonable steps to protect personal information from misuse, loss and unauthorized access, modification or disclosure.</p>

                <b>Sensitive Information</b><br><br>
                <p>Maroosh will not collect, use or disclose sensitive information except with your specific consent.</p>

                <b>Click stream Data</b><br><br>
                <p>Each time you visit the Maroosh site our server collects some anonymous information, known as click-stream data, including the type of browser and system you are using; the address of the site you have come from and move to after your visit; the date and time of your visit; and your server's IP address. Maroosh may collect this information for statistical purposes to find out how the websites is used and navigated, including the number of hits, the frequency and duration of visits, most popular session times. Maroosh may use this information to evaluate and improve the Maroosh websites.</p>
                <b>Cookies</b><br><br>
                <p>A Cookie is a piece of information that our web server may send to your machine when you visit a Maroosh site. A Cookie helps us to recognize you when you re-visit our sites and to co-ordinate your access to different pages on the sites.</p>
                <p>For example, once you have placed a new order you may be offered the opportunity to personalize your order so that the system remembers it for future use. A cookie will be set on your machine that enables us to recognize your computer when you return to order your favourite next time.</p>
                <p>With most Internet Browsers, you can erase Cookies from your computer hard drive, block all Cookies, or receive a warning before a Cookie is stored. If you want to do this, refer to your Browser instructions or help screen to learn more. If you disable all cookies, you may not be able to take advantage of all the features of our sites.</p>

                <b>Changes</b><br><br>
                <p>If this Privacy Policy is changed, the revised policy will be posted on this site. Please check back periodically, and especially before you provide any personally identifiable information. This Privacy Policy was last updated on May 2, 2015</p>
                <b>Links to other sites</b><br><br>
                <p>Maroosh may provide links</p>
                <b>Consent</b><br><br>
                <p>By using this site, you agree to the terms of the policy as stated above. Whenever you submit information via this site, you consent to the collection, use and disclosure of the information in accordance with the Privacy Policy of Impresa Hospitality Management Pvt. Ltd.</p>


                <b>Process of Online Ordering</b><br><br>

                <ul>
                    <li>You can place the order as a new guest or an existing guest</li>
                    <li>Select the outlet from where you want the take-away / delivery (delivery address should fall in the defined delivery map of the outlet)</li>
                    <li>Add items to cart and proceed to checkout</li>
                    <li>Enter mobile number</li>
                    <li>If new guest, enter name and email details and then select whether order is take-away or it has to be delivered</li>
                    <li>If existing guest, select whether order is take-away or it has to be delivered</li>
                    <li>If delivery, enter new address or select existing address</li>
                    <li>Enter coupon code, if any</li>
                    <li>Confirm cart details</li>
                    <li>Select payment option – Cash on Delivery (COD) or PayU Money</li>
                    <li>Click on Place Order to place the order to the outlet</li>
                </ul>
<!--
<p><b>Acceptance of order:</b></p>
<p class='browncolor'>Acceptance of order shall be entirely at the discretion of MFPL, and subject to:</p>
<ul>
    <li>
        Delivery address falling within the delivery locality specified by MFPL from time to time. The area covered for delivery is  subject to change at the sole discretion of MFPL;
    </li>
    <li>
        The delivery address being mapped to the nearest store that delivers in customer area;
    </li>
    <li>
        Availability of ordered items at the mapped store;
    </li>
    <li>
        Circumstances and conditions beyond the control of MFPL, which would render impossible or delay the delivery of ordered items.
    </li>
</ul>
<p><b>Cancellation of order by MFPL:</b></p>
<p class='browncolor'>MFPL reserves the right to reject or cancel the delivery order once it is accepted:</p>
<ul>
    <li>
        In case of unavailability of any of the ordered items at the mapped store. The call-center /mapped store will call the customer offline, and offer to modify the order in such scenario;
    </li>
    <li>
        In case of adverse customer ordering history, like, (a) non receipt of payment in full or in part in any previous order; (b) abuse to any employee/ representative /riders of MFPL in any previous incident; (c) past trend of order cancellations;
    </li>
    <li>
        If customer has provided wrong, or incomplete address, and, MFPL is unable to contact the customer, on the mobile/landline as provided by the customer at the time of order placing, to rectify the address
    </li>
    <li>
        In case of inability of MFPL to contact the customer due to any other reason on the mobile / landline number of the customer as provided by the customer at the time of order placing;
    </li>
    <li>
        In view of difficult operating conditions for our delivery team like heavy traffic or bad weather condition or during major festivals, political rallies etc;
    </li>
    <li>
        Where customer has paid online for the order, and the order is cancelled due to any of the above reasons by MFPL, the amount will be returned by reversing the transaction. The refund amount would reflect in the next credit card statement of the customer.
    </li>
</ul>
<p><b>Cancellation of order by customer:</b></p>
<ul>
    <li>
        Once the order has been confirmed on our website / call center, it cannot be modified or cancelled by the customers, either on our website, or by calling at our call-center /store;
    </li>
    <li>
        Only in case of non-availability of ordered items at the mapped store, our call-center / mapped store will call the customer offline, and offer to modify the order. Where customer chooses not to modify the order, such order will stand cancelled.
    </li>
</ul>
<p><b>Order fulfilment:</b></p>

<ul>
    <li>
        MFPL shall use its best efforts to meet the service promise communicated on our website or through our call-center;

    </li>
    <li>
        Our service promise is applicable at the first barrier point (security guard/reception etc);

    </li>
    <li>
        MFPL reserves the right to withdraw the service promise without prior information, and service promise is not applicable at times of difficult operating conditions for our delivery team, like bad weather condition, political rallies, New Year’s eve, major religious festivals, etc;

    </li>
    <li>
        We do not penalize our delivery team on inability to meet service promise, and will have no liability to customer in case of our inability to deliver as per service promise, beyond what has been communicated at our website;

    </li>
    <li>
        Upon delivery, customer shall pay in cash to the delivery person, all fees and charges as per the bill provided by our delivery person. Where customers choose to pay online at the time of order placement on our website, they will be redirected to an external payment gateway, on which they are required to follow the payment gateway’s separate instructions for effecting online payment. The payment gateway is not under MFPL’s control, and MFPL is not responsible for and shall not be liable to any extent or in any manner for any payment-related or internet-related issues faced by customers in relation to online payments. Customers shall indemnify and keep fully and effectively indemnified MFPL and its affiliates in this regard;

    </li>
</ul>
<p><b>Pricing:</b></p>
<p><b>e-Coupons:</b></p>
<p class='browncolor'>Discount codes as mentioned in various promotion materials of MFPL, including printed, mobile, email and website, are referred to as e-coupons. The e-coupon is valid on call ie by calling 022 6164 6164, and on web by login in to www.indusopus.com.</p>

<ul>
    <li>
        Item values indicated on our website is exclusive of any delivery charges, and taxes applicable;
    </li>
    <li>
        The customer is liable to pay delivery charges (as indicated on the website, or communicated by the call-center executive, at the time of ordering) per order placed, plus service tax, Value Added Tax and other taxes as may be applicable from time to time;
    </li>
    <li>
        Prices are subject to change without prior notice.
    </li>
    <li>
        All e-coupons can be redeemed only once on a mobile number;
    </li>
    <li>
    The complete code as mentioned in the promotion material needs to be punched in while ordering on the website, or announced to the order taker while placing the order at our call-center;
    </li>
     <li>
        Only one coupon will be accepted per order;

    </li>
    <li>
        Coupons cannot be clubbed with any other offer / scheme;
    </li>
    <li>
        The e-coupon is valid for a specified period only and will not be accepted after the expiry of the validity period;
    </li>
    <li>
        The e-coupon can be used while ordering only as per the rules and conditions mentioned in the promotion materials.;

    </li>
    <li>
        MFPL reserves the right to extend / modify / terminate the promotion and / or the term thereof at its discretion and without prior notice and without assigning any reasons for the same.
    </li>
</ul>
<p><b>Loyalty Points:</b></p>
<ul>
    <li>Loyalty points can be redeemed at the time of order placement as per the terms and conditions of the Indus Opus Loyalty Card Program.
    </li>
    <li>
        MFPL reserves the right to extend / modify / terminate the promotion and / or the term thereof at its discretion and without prior notice and without assigning any reasons for the same.
    </li>
</ul>-->
</div>
</div>

<script>
    ga('set', {
        page: '/contactus_mobile.html',
        title: 'contactus mobile Page'
    });
    ga('send', 'pageview');
</script>