<style>
    .dvWrap
    {
        padding: 15px 15px 0;
        text-align: left;

    }
    ul
    {
        padding: 0;
    }

    div
    {
        text-align: left;
    }

    li
    {

        list-style: none;
        font-size: 1rem;
        color:#452503;
    }
    a
    {
        color:#452503;
    }
    h1
    {

        color: #FFD503;
        font-size: 60px;
    }
    p
    {
        color: #45250D;
    }
    .browncolor
    {
        color: #45250D;
    }


    @media(max-width: 768px)
    {
        h1
        {
            font-size: 18px;
        }
        li
        {
            font-size: 16px;
        }
    }
</style>


<div class="dvWrap">
    <div class="row panel" style="">

        <p><b>Terms And Conditions</b></p>
        
                <ul>
                    <li class="">
                        <div class="font-bold" style="margin-top: 10px;">
                            <b>Terms and Conditions for all coupons including printed, mobile and email coupons</b>
                        </div>
                        <ul>
                            <li> Coupons cannot be clubbed with any other offer / scheme</li>
                            <li>Coupons are not applicable on MRP products.</li>
                            <li>Please announce the coupon and coupon code to the order taker while placing the order</li>
                            <li>Cut and hand over coupon to the delivery person while taking the delivery</li>
                            <li>All prices are exclusive of taxes</li>
                            <li>Only one coupon is valid per order</li>
                            <li>All coupons have limited validity</li>
                            <li>Offer valid only in participating outlets</li>
                        </ul>
                    </li>


                    <li class="">
                        <div class="font-bold" style="margin-top: 10px;">
                            <b>Refund Policy</b>
                        </div>
                        <ul>
                            <li>If, after placing your order, you do not receive your ordered food or you 
                                cancel the same  complete  order for any reason then we will simply 
                                reverse the transaction amount full to the medium (Netbanking, Credit Card, Debit Card, etc.) used by you while making the payment to us, Our finance team will process the refunds within 2-3 working days after getting intimation from the customer, however, it may take 6-7 working days to reflect in your accounts in accordance with the terms that may be stipulated by the bank which has issued the credit / debit card ,netbanking)
                                Should you face any issues with your order, Our decision on refunds shall be at our sole discretion and 
                                shall be final and binding.
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <div class="font-bold" style="margin-top: 10px;">
                            <b>Delivery Policy</b>
                        </div>
                        <ul>
                            <li>Your address falling in the defined delivery area of the nearest outlet</li>
                            <li>The delivery address being mapped to the nearest outlet that delivers in your area</li>
                            <li>Availability of the outlet online</li>
                            <li>In case the delivery locality is notlisted, delivery orders cannot be placed; however you may choose to pick up your order from the nearest Maroosh outlet.</li>
                            <li>In case you only want to order Sides and beverages only, the minimum bill must be Rs 300/- or more (inclusive of taxes for delivery).</li>
                            <li>
                                We do delivery in 60 mins. Delivery times because of factors like preparation time and the distance between 
                                the restaurant and the customer. However, we always do our best to deliver each 
                                order as fast as humanly possible. We currently deliver most of our orders in 
                                around the estimated delivery time mentioned once you’ve selected your delivery 
                                area.
                            </li>
                            <li>
                                Delivery periods quoted at the time of ordering are approximate only and may vary. Goods will be delivered to the address designated by you at the time of ordering.
                            </li>
                            <li>
                                The estimated delivery time is not applicable when the restaurant operating conditions are not suitable, and will be announced at the time of  placing order by our executive.
                            </li>
                            <li>
                                The estimated delivery time is not applicable on public holidays, special occasions like New Years eve, on Ganesh Festival , Christmas and Durga Pooja , the service guarantee may be withdrawn temporarily in view of difficult operating conditions for delivery and on other days when we are experiencing heavy traffic as during a very attractive promotion.
                            </li>
                        </ul>
                    </li>


                    <li class="">
                        <div class="font-bold" style="margin-top: 10px;">
                            <b>Menu</b>
                        </div>
                        <ul>
                            <li>In case certain menu items are not listed in the menu page, the particular outlet does not carry those items in the menu</li>
                            <li>In case of non availability of ordered product at the mapped outlet, the order would not be executed. Same would be informed by the outlet to you.</li>
                        </ul>
                    </li>


                    <li class="">
                        <div class="font-bold" style="margin-top: 10px;">
                            <b>Modify / Cancel the Online Order</b>
                        </div>
                        <ul>
                            <li>The online order once placed cannot be modified or cancelled either through the website or offline by calling the outlet.</li>
                            <li>However you can get updated on the status of the order by calling the outlet directly</li>
                            <li>In case the order which is paid through online is cancelled due to non availability of the ordered product at the outlet, the amount will be returned by reversing the transaction by Marooshoutlet. The amount will be reversed online. The same would reflect in the next statement.</li>
                        </ul>
                    </li>


                    <li class="">
                        <div class="font-bold" style="margin-top: 10px;">
                            <b>Coupon</b>
                        </div>
                        <ul>
                            <li>The complete code has to be punched in the coupon section for availing the coupon</li>
                            <li>The coupon code is not case sensitive</li>
                            <li>The coupon may not work if the conditions defined in the coupon details are not fulfilled in the order</li>
                            <li>Maroosh holds the right to accept or reject any coupon without giving any reason whatsoever</li>
                            <li>The coupons are valid for specified period only and will not be accepted after the expiry of the validity period</li>
                            <li>The guest must handover the coupon which is entered in the coupon section while placing the order to the delivery person</li>
                        </ul>
                    </li>


                    <li class="">
                        <div class="font-bold" style="margin-top: 10px;">
                            <b>PayU Money Discount</b>
                        </div>
                        <ul>
                            <li>PayU Money will give 50% discountwhen you pay via PayU Money</li>
                            <li>Offer is redeemable on all online transaction where payment method selected is PayU Money</li>
                            <li>Maximum discount amount will be Rs.100 only</li>
                            <li>In case of refund, the respective transaction's discount will be debited</li>
                        </ul>
                    </li>

                    <li class="">
                        <div class="font-bold" style="margin-top: 10px;">
                            <b>PayUMoney Offer Terms and Conditions</b>
                        </div>
                        <ul>
                            <li>Customers will receive 50% (“Cashback Amount”) cashback in their PayUmoney Wallet issued by RBL (“PayUmoney Wallet”) subject to a maximum of Rs.100 per transaction on payments made at the http://www.maroosh.co.in/ (““Maroosh Website”) through their PayUmoney Account ("Offer"). This Cashback Offer can be availed only when payments are made by the Customer through the PayUmoney payment option on the payment page of the Website. </li>
                            <li>In order to avail the cashback, the customer must be registered as a PayUmoney Buyer and should hold a PayUmoney Wallet.</li>
                            <li>The Offer can be availed once by a PayUmoney Account Holder. The Cashback Amount will be received in the PayUMoney Account Holder’s PayUmoney Wallet after 24 hours of the Transaction being made.</li>
                            <li>The Offer will be valid on 20th July, 2015 12:00 hrs to 19th August, 2015 23:59 hrs.</li>
                            <li>The Cashback Amount received in the PayUmoney Wallet can be used by the customers on all websites where the PayUmoney is available as a payment option</li>
                            <li>In the event of a full or partial refund, the whole or part cashback shall be deducted from the customers PayUmoney wallet account. In case the customers PayUmoney Wallet has zero balance then the account shall be in negative and will be adjusted as soon as the cashback or refund is deposited in the customers PayUmoney Wallet</li>
                            <li>This Offer cannot be clubbed with any other offer/promotion being run by PayUmoney.</li>
                            <li>PayUmoney does not warrant or guarantee availability, merchantability, quality, fitness etc., of any product or service offered on the Maroosh Website. </li>
                            <li>PayUmoney reserves the right to, at any stage and at its discretion, modify/change or alter the Offer. PayUmoney also reserves the right to modify/change all or any of the terms applicable to the Offer and to discontinue the Offer without assigning any reasons or without any prior intimation whatsoever.</li>
                            <li>PayUmoney reserves the right to disqualify any customer from the benefits of the Offer, in case of any fraudulent activity/suspicious transactions or misuse of the Offer in any way.</li>
                            <li>Any disputes will be subject to the exclusive jurisdiction of the competent courts of New Delhi.</li>
                            <li>In all matters relating to the Offer, PayUmoney’s decision will be final.</li>
                            <li>In addition to the above, the Offer is also subject to PayUmoney general terms & conditions available on www.payumoney.com.</li>
                            <li>All capitalized terms used but not defined herein shall have the respective meanings ascribed to them in the PayUmoney User Terms and Conditions. </li>
                            <li>Terms & conditions on the Maroosh Website shall also apply.</li>
                        </ul>
                    </li>
                </ul>

    </div>
</div>

<script>
    ga('set', {
        page: '/contactus_mobile.html',
        title: 'contactus mobile Page'
    });
    ga('send', 'pageview');
</script>