<div class="col-md-12 center-block text-center" style="margin-top: 10%;">
    <div style="padding: 0px 0px 25%;">
        <p>
            Mingo is an online dessert shop. We are the world's first dessert ordering platform. On Mingo, we have a wide palette of sweets and desserts designed to fulfil every craving. Our menu includes curated and handpicked desserts from some of the best confectioners of Mumbai.
        </p>
        <p>
            We deliver these scrumptious desserts to your doorstep.<br /> 
            So log onto Mingo and nurse that sweet tooth!
        </p>

    </div>
</div>
<script>
    ga('set', {
        page: '/aboutus_mobile.html',
        title: 'aboutus mobile Page'
    });
    ga('send', 'pageview');
</script>




