<div class="medium-12 columns" style="margin-top: 9%;">
    <div class="show-for-small-only" style="width: 40px;height: 20px;">
        <a href="#/outlets"><img id="back_arrow_page" src="img/arrow.png"></a>
    </div>
            <div class="medium-12 centered" style="text-align: center">
                <h5><b>Welcome to Mingo</b></h5>
            </div>
            <div class="row" style="text-align: center">
                <p style="font-size: 15px;"> 
                    Most restaurants do not serve the previous day’s food – we don’t even
                    serve the previous day’s menu! We use the highest quality ingredients to serve you fresh, gourmet 
                    meals delivered to you within 20 minutes of your order.
                </p>
            </div>
            
                            <div class="row" style="text-align: center;">
                <div class="chef_holder">
                    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2" style="margin-top: 38px;">
                        <li class="data_holder">
                            <div class="owner_content">
                                <div class="row">
                                    <div class="partner_brand_holder">
                                        <img src="img/generic_profile.jpg">
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="owner_name">Lorem Ipsum</span>
                                    <br/>
                                    <span class='owner_post'> Executive Chef</span>
                                    <div class="owner_decor_wrapper">
                                        <p class="owner_decoration">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="data_holder">
                            <div class="owner_content">
                                 <div class="row">
                                    <div class="partner_brand_holder">
                                        <img src="img/generic_profile.jpg">
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="owner_name">ipsum kumar</span>
                                    <br/>
                                    <span class='owner_post'> Executive Sous Chef</span>
                                    <div class="owner_decor_wrapper">
                                         <p class="owner_decoration">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div> 
                <br/>
                <br/>
                <br/>
                <div class="owner_holder">
                    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3" style="margin-top: 38px;">
                        <li class="data_holder">
                            <div class="owner_content">
                                <div class="row">
                                    <div class="partner_brand_holder">
                                        <img src="img/generic_profile.jpg">
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="owner_name">isyup Henry</span>
                                    <br/>
                                    <span class='owner_post'> Co-Founder and CEO</span>
                                    <div class="owner_decor_wrapper">
                                    <p class="owner_decoration"> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="data_holder">
                            <div class="owner_content">
                                 <div class="row">
                                    <div class="partner_brand_holder">
                                        <img src="img/generic-profile_female.jpg">
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="owner_name">Lisa ann</span>
                                    <br/>
                                    <span class='owner_post'> Co-Founder</span>
                                    <div class="owner_decor_wrapper">
                                    <p class="owner_decoration">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="data_holder">
                            <div class="owner_content">
                                 <div class="row">
                                    <div class="partner_brand_holder">
                                        <img src="img/generic_profile.jpg">
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="owner_name">nick Ipsum</span>
                                    <br/>
                                    <span class='owner_post'> Co-Founder</span>
                                    <div class="owner_decor_wrapper">
                                    <p class="owner_decoration">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequ</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                
            </div>
            </div>  
    
</div>
<script>
    ga('set', {
        page: '/aboutus.html',
        title: 'aboutus Page'
    });
    ga('send', 'pageview');
</script>




