<div class="medium-12 columns" style="margin-top: 9%;">
      <div class="show-for-small-only" style="width: 20px;height: 20px;margin-left: 4%;">
                <a href="#/outlets"><img id="back_arrow_page" src="img/arrow.png"></a>
      </div> 
      <img src="img/bulk.png" height="300" width="400"> 
      <div style="font-size: 13px;text-align: justify;padding-top: 19px;line-height: 21px;padding-left: 21px;padding-right: 21px;"> 
          We can cater to bulk or corporate orders on individual basis. We define bulk or corporate orders as greater than 20 boxes. We also provide a 10% discount for such orders. For bulk or corporate orders, please inform us 24 hours in advance. For further information, please contact us on +91 022-65680555 or email us at connect@instakhaana.com
      </div> 
</div>