<div class="dvHeader2">
    <div class="container">
        <a href="#/home" class="dvLogo">
            <img src="img/header_logo.png" alt="curryos" />
        </a>
    </div>
</div>

<div class="dvBreadCrumbs">
    <div class="container">
        <a href="#/home"><i class="fa fa-home"></i></a><a href="#/menu">/Menu</a>
        <label>&nbsp;/&nbsp;Checkout</label>
    </div>
</div>

<div class="dvCheckout" ng-show="showTY === false">

    <div class="container">
        <div class="dvSectionTitle">Check out process</div>

        <!-- checkout -->
        <div class="col-md-7 dvSteps">

            <div class="panel-group" id="steps">

                <div class="panel panel-default dvPersonalDtls">

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="col-xs-10" data-toggle="collapse" data-parent="#steps">
                                <span class="badge">1</span>
                                <span class="dvTitle">Your Personal Details</span>
                            </a>
                            <span class="dvEdit col-xs-2" ng-show="edit_personal_info == false" ng-click="makeeditable('edit_personal_info')">Edit</span>

                        </h4>
                    </div>

                    <div id="personal" class="panel-collapse in collapse" >
                        <div class="panel-body">
                            <div class="dvForm"  ng-show="stepcomplete === 0">
                                <div class="dvRow">
                                    <div class="dvLabel hidden-xs col-sm-2">
                                        Mobile No:
                                    </div>
                                    <div class="dvField col-sm-10">
                                        <input type="text" ng-model="user_mobile" ng-change="validate_user_mobile()" ng-disabled="usermobiledisabled" class="dvTextField"  maxlength="10" placeholder="Mobile No">
                                    </div>
                                </div>
                                <div class="dvRow">
                                    <div class="dvLabel hidden-xs col-sm-2">
                                        Name:
                                    </div>
                                    <div class="dvField col-sm-10">
                                        <input type="text" ng-model="user.name" ng-disabled="!find_me_called" class="dvTextField" placeholder="Name">
                                    </div>
                                </div>
                                <div class="dvRow">
                                    <div class="dvLabel hidden-xs col-sm-2">
                                        Email ID:
                                    </div>
                                    <div class="dvField col-sm-10">
                                        <input type="email" ng-model="user.primary_email" ng-disabled="!find_me_called" class="dvTextField" placeholder="Email ID">
                                    </div>
                                </div>

                                <div class="dvRow">
                                    <div class="dvLabel hidden-xs col-sm-2">
                                        Order Type:
                                    </div>
                                    <div class="dvField col-sm-10">
                                        <div class="dvFieldSec col-xs-6">
                                            <input id="order-now" class="dvRadioBtn" type="radio" name="ordertype" value="ordernow" ng-model="deliver_type" ng-checked="deliver_type == 'ordernow'"/>
                                            <label class="dvLabel" for="order-now">
                                                Deliver Now
                                            </label>
                                        </div>
                                        <div class="dvFieldSec col-xs-6">
                                            <input class="dvRadioBtn" id= "preorder" type="radio" name="ordertype" value="preorder" ng-model="deliver_type" />
                                            <label class="dvLabel" for="preorder">
                                                Deliver Later
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="dvRow" ng-show="deliver_type === 'preorder'">
                                    <div class="dvLabel hidden-xs col-sm-2">
                                        Date & Time:
                                    </div>
                                    <div class="dvField col-sm-10">
                                        <div class="dvFieldSec col-xs-6">
                                            <input type="text" class="dvTextField dvDate col-sm-6" id="deliverdate" ng-model="deliverdate" placeholder="Select Date">
                                        </div>
                                        <div class="dvFieldSec col-xs-6">
                                            <select class="dvSelect dvTime col-sm-6" ng-options="timeslot as timeslot.display for timeslot in timeslots" ng-model="selected_timeslot">
                                                <option value="">
                                                    Select Time slot
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="dvRow">
                                    <div class="dvLabel hidden-xs col-sm-2">

                                    </div>
                                    <div class="dvField col-sm-10">
                                        <div class="dvOrangeButton col-sm-5" ng-click='change_order_type("Take Away")' ng-show="outlet.delivery_type.indexOf('Take') > -1">
                                            Take Away
                                        </div>
                                        <div class="dvOr col-sm-2" ng-show="outlet.delivery_type.indexOf('Take') > -1">
                                            Or
                                        </div>
                                        <div class="dvOrangeButton col-sm-5" ng-click='change_order_type("Deliver")' ng-show="outlet.delivery_type.indexOf('Deliver') > -1">
                                            Deliver
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="dvFinalFactors"  ng-show="stepcomplete >= 1">
                                <div class="dvFactor col-sm-6 col-md-4">
                                    <div class="dvLabel">
                                        Mobile
                                    </div>
                                    <div class="dvVal">
                                        {{user_mobile}}
                                    </div>
                                </div>
                                <div class="dvFactor col-sm-6 col-md-4">
                                    <div class="dvLabel">
                                        Name
                                    </div>
                                    <div class="dvVal">
                                        {{user.name}}
                                    </div>
                                </div>
                                <div class="dvFactor col-sm-6 col-md-4">
                                    <div class="dvLabel">
                                        Email ID
                                    </div>
                                    <div class="dvVal">
                                        {{user.primary_email}}
                                    </div>
                                </div>
                                <div class="dvFactor col-sm-6 col-md-4">
                                    <div class="dvLabel">
                                        Order Type
                                    </div>
                                    <div class="dvVal">
                                        {{order_type}}
                                    </div>
                                </div>
                                <div class="dvFactor col-sm-6 col-md-4">
                                    <div class="dvLabel">
                                        Date
                                    </div>
                                    <div class="dvVal">
                                        {{deliverdate}}
                                    </div>
                                </div>
                                <div class="dvFactor col-sm-6 col-md-4">
                                    <div class="dvLabel">
                                        Time
                                    </div>
                                    <div class="dvVal">
                                        {{selected_timeslot.display}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="panel panel-default dvAddressDtls">

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="col-xs-10" data-toggle="collapse" data-parent="#steps" >
                                <span class="badge">2</span>
                                <span class="dvTitle">Your Address Details</span>
                            </a>
                            <span class="dvEdit col-xs-2" ng-show="stepcomplete >= 2 && order_type === 'Deliver'"  ng-click="makeeditable('edit_address_info')">Edit</span>
                        </h4>
                    </div>

                    <div id="address" class="panel-collapse">

                        <div class="panel-body" ng-show="stepcomplete >= 1">
                            <!--                                <div class="dvForm dvAddressView1" id="address_holder">
                                <div class="dvRow">
                                    <div class="dvOrangeButton dvAddAddress" ng-show="stepcomplete === 1 && order_type === 'Deliver'" ng-click="open_modal('add-address-modal')">
                                        Add Address   
                                    </div>
                                </div>
                                <div class="dvAddressList">
                                    <div class="dvRow " ng-repeat="add in user_addresses" ng-click="select_address(add)" ng-class="{'dvAddressAct': selected_address.id===add.id}" ng-show="stepcomplete === 1 && order_type === 'Deliver'">
                                        <div class="dvAddress col-xs-10">
                                            <div class="dvLabel">
                                                {{add.tag}}
                                            </div>
                                            <div class="dvCont">
                                                {{add.flat_no + ', ' + add.street + ', ' + add.landmark +' , ' + add.subarea_name +' , ' + add.area_name}}
                                            </div>
                                        </div>
                                        <div class="dvIcon col-xs-2">
                                            <i class="fa fa-check-circle"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                            <div class="dvForm dvAddressView2" id="address_holder">
                                <div class="dvAddressList">
                                    <div class="dvAddAddress" ng-show="stepcomplete === 1 && order_type === 'Deliver'" ng-click="open_modal('add-address-modal')">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                    <div class="dvRow" ng-repeat="add in user_addresses track by $index" ng-click="select_address(add)" ng-class="{'dvAddressAct': selected_address.id === add.id}" ng-show="stepcomplete === 1 && order_type === 'Deliver'">
                                        <div class="dvAddress">
                                            <div class="dvLabel">
                                                {{add.tag}}
                                            </div>
                                            <div class="dvCont">
                                                <p>
                                                    {{add.flat_no}} 
                                                </p>
                                                <p>
                                                    {{add.landmark}} 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="dvFinalFactors" id="selected_address_holder" ng-show="stepcomplete >= 2 && order_type === 'Deliver'">
                                <div class="dvRow dvAddressAct">
                                    <div class="dvAddress">
                                        <div class="dvLabel">
                                            {{selected_address.tag}}

                                        </div>
                                        <div class="dvCont">
                                            {{selected_address.flat_no + ', ' + selected_address.landmark}}
                                        </div>
                                    </div>
                                    <!--                                            <div class="dvIcon col-xs-2">
                                                                                <i class="fa fa-check-circle"></i>
                                                                            </div>-->
                                </div>
                            </div>
                            <div class="dvFinalFactors" id="selected_address_holder" ng-show="stepcomplete >= 2 && order_type !== 'Deliver'">
                                <div class="dvCont">Pickup Address</div>
                                <div class="dvAddressList">
                                    <div class="dvRow dvAddressAct">

                                        <div class="dvAddress">
                                            <div class="dvCont">
                                                {{outlet.address_string}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="panel panel-default dvCouponPay">

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="col-xs-11" data-toggle="collapse" data-parent="#steps" >
                                <span class="badge">3</span>
                                <span class="dvTitle">Coupon & Payment</span>
                            </a>
                            <!--<span class="dvEdit col-xs-1" ng-show="stepcomplete > 2 && order_type === 'Deliver'" ng-click="change_active_tab(3)">Edit</span>-->
                        </h4>
                    </div>

                    <div id="address" class="panel-collapse" ng-show="stepcomplete >= 2">
                        <div class="panel-body">
                            <div class="dvForm">
                                <div class="dvRow">
                                    <div class="dvLabel hidden-xs col-sm-3">
                                        Coupon Code:
                                    </div>
                                    <div class="dvField col-sm-9">
                                        <input type="text" ng-model="coupon_code" class="dvTextField dvCoupon col-xs-8" placeholder="Coupon Code">
                                        <div class="dvOk dvOrangeButton col-xs-2" ng-click="api_check_order()">Apply</div>
                                        <!--<p class="col-xs-6">29% special offer for leap year. Use Code:FEB29</p>-->
                                    </div>
                                </div>
                                <div class="dvRow">
                                    <div class="dvLabel col-sm-4">
                                        Cash on Delivery:
                                        <span class="dvRadioBg">
                                            <input class="dvRadioBtn" type="radio" name="paytype" ng-model="payment_mode" value="COD" ng-model="payment_mode"  ng-checked="payment_mode === 'COD'"/>
                                        </span>
                                    </div>
                                    <div class="dvLabel col-sm-3" ng-show="citrus === true">
                                        Citrus:
                                        <span class="dvRadioBg">
                                            <input class="dvRadioBtn" type="radio" name="paytype" value="citrus"  ng-model="payment_mode"/>
                                        </span>
                                    </div>
                                    <div class="dvLabel col-sm-3" ng-show="payu === true">
                                        PayuMoney:
                                        <span class="dvRadioBg">
                                            <input class="dvRadioBtn" type="radio" name="paytype"  value="payumoney" ng-model="payment_mode"/>
                                        </span>
                                    </div>
                                    <div class="dvLabel col-sm-3" ng-show="quikwallet === true">
                                        QuikWallet:
                                        <span class="dvRadioBg">
                                            <input class="dvRadioBtn" type="radio" name="paytype" value="quikwallet"  ng-model="payment_mode" />
                                        </span>
                                    </div>
                                    <div class="dvLabel col-sm-3" ng-show="paytm === true">
                                        PayTM:
                                        <span class="dvRadioBg">
                                            <input class="dvRadioBtn" type="radio" name="paytype" value="paytm"  ng-model="payment_mode" />
                                        </span>
                                    </div>
                                    <div class="dvLabel col-sm-3" ng-show="braintree === true">
                                        Braintree:
                                        <span class="dvRadioBg">
                                            <input class="dvRadioBtn" type="radio" name="paytype" value="braintree"  ng-model="payment_mode" />
                                        </span>
                                    </div>
                                    <div class="dvLabel col-sm-3" ng-show="ccavenue === true">
                                        CCavenue:
                                        <span class="dvRadioBg">
                                            <input class="dvRadioBtn" type="radio" name="paytype" value="ccavenue"  ng-model="payment_mode" />
                                        </span>
                                    </div>
                                    <div class="dvLabel col-sm-3" ng-show="direcpay === true">
                                        Direcpay:
                                        <span class="dvRadioBg">
                                            <input class="dvRadioBtn" type="radio" name="paytype" value="direcpay"  ng-model="payment_mode" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div> 


        <div class="col-md-5 dvOrderSummary">
            <div class="dvTitle">
                Order Summary
            </div>
            <div class="dvCont" ng-show="cart_items.length > 0">
                <div class="dvProductRec" ng-repeat="cart_item in cart_items track by $index">
                    <div class="dvDtls col-xs-10">
                        <div class="dvName">
                            {{cart_item.name}} 
                        </div>
                        <div class="dvDesc">
                            {{cart_item.description}}
                        </div>
                    </div>
                    <div class="dvPrice col-xs-2">
                        <div class="dvQty">
                            <i class="fa fa-rupee"></i><span class="dvPerUnit">{{cart_item.total_price / cart_item.quantity}}</span>
                            x <span class="dvQ">{{cart_item.quantity}}</span>
                        </div>
                        <div class="dvTtl"><i class="fa fa-rupee"></i><span>{{cart_item.total_price}} </span></div>
                    </div>
                </div>
                
                <div class="dvNote">All products are inclusive of tax</div>
                
                <div class="dvSubTotal">
                    Sub total
                    <div class="dvFigure">
                        <i class="fa fa-rupee"></i><span>{{cart_total}}</span>
                    </div>
                </div>

                <div class="dvAddCharge" ng-show="extra_charges.length > 0">
                    <p>Additional Charge</p>
                    <div class="dvRow" ng-repeat="extra_charge in extra_charges">
                        <div class="dvCharge col-xs-6">
                            {{extra_charge.name}}
                        </div>
                        <div ng-if="extra_charge.type === 'percent'">
                            <div class="dvAmt col-xs-3">
                                {{extra_charge.value}}%
                            </div>
                            <div class="dvTtl col-xs-3">
                                +
                                <i class="fa fa-rupee"></i>
                                <span>{{extra_charge.extra_charged_amt}}</span>
                            </div>
                        </div>
                        <div ng-if="extra_charge.type === 'amount'">
                            <div class="dvAmt col-xs-3">
                                <i class="fa fa-rupee"></i>{{extra_charge.extra_charged_amt}}
                            </div>
                            <div class="dvTtl col-xs-3">
                                +
                                <i class="fa fa-rupee"></i>
                                <span>{{extra_charge.extra_charged_amt}}</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="dvDeductCharge" ng-show="offers.length > 0">
                    <p>Coupon Deduction</p>
                    <div class="dvRow" ng-show="coupon_amount !== null" ng-repeat="offer in offers">
                        <div class="dvCharge col-xs-6">
                            {{offer.coupon_code}}
                        </div>
                        <div class="dvAmt col-xs-3">
                            <i class="fa fa-rupee"></i>{{offer.discount_amt| number: 0}}
                        </div>
                        <div class="dvTtl col-xs-3">
                            -
                            <i class="fa fa-rupee"></i>
                            <span>{{coupon_amount}}</span>
                        </div>
                    </div>

                </div>

                <div class="dvGrandTtl">
                    Grand Total <span>{{payable_amount| number: 2}} </span><i class="fa fa-rupee"></i>
                </div>

                <div class="dvConfirm">
                    <button ng-class="{'btnConfirm':!btn_disable,'btnConfirmDisable':btn_disable}" ng-disabled="btn_disable" ng-click="make_payment()"  ng-disabled="stepcomplete < 3">Order Confirm</button>
                    <!--<div class="btnConfirmDisable" ng-show="btn_disable">Order Confirm</div>-->
                </div>

            </div>
        </div>

    </div>    

</div>

<div class="dvThankYou" ng-show="showTY === true">
    <div class="container">
        <div class="row ty-page">
            <h2>Thank You! Your Order will reach you shortly.</h2>
            <span>Your order number is: {{order_number}}</span>  
            <a class="btn1" href="#/menu">Order more...</a>
        </div>
    </div>
</div>

<div id="add-address-modal" class="modal fade displayNone">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="dvHead">
                <p>Add New Address</p>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
            </div>
            <div class="dvForm">
                <div class="dvRow" ng-show="show_subarea_selection">
                    <div class="col-xs-4 dvLabel">
                        Sub-area:
                    </div>
                    <div class="col-xs-8 dvField">
                       
                        
                        <input type="text" ng-model="get_subarea.subarea_name" class="dvTextField" disabled>
                        
                    </div>
                </div>

                <div class="dvRow" ng-show="show_subarea_selection">
                    <div class="col-xs-4 dvLabel">
                        Area:
                    </div>
                    <div class="col-xs-8 dvField">
                        <input class="dvTextField" ng-model="get_subarea.area_name" type="text" placeholder="Next to/Opposite something" required disabled>
                    </div>
                </div>
                
                <div class="dvRow">
                    <div class="col-xs-4 dvLabel">
                        Tag:
                    </div>
                    <div class="col-xs-8 dvField">
                        <input class="dvTextField" ng-model="user_address_tag" type="text" placeholder="Name for this address, e.g.: Home1, etc." required>
                    </div>
                </div>

                <div class="dvRow">
                    <div class="col-xs-4 dvLabel">
                        Address:
                    </div>
                    <div class="col-xs-8 dvField">
                        <input class="dvTextField" ng-model="user_flat_no" type="text" placeholder="Wing-Flat no., Building Name" required>
                    </div>
                </div>

                <div class="dvRow dvDispNone">
                    <div class="col-xs-4 dvLabel">
                        Street:
                    </div>
                    <div class="col-xs-8 dvField">
                        <input class="dvTextField" ng-model="user_street" type="text" placeholder="Colony Name" required>
                    </div>
                </div>

                <div class="dvRow">
                    <div class="col-xs-4 dvLabel">
                        Landmark:
                    </div>
                    <div class="col-xs-8 dvField">
                        <input class="dvTextField" ng-model="user_landmark" type="text" placeholder="Next to/Opposite something" required>
                    </div>
                </div>

                

                <div class="dvRow">
                    <button ng-click="add_address()" class="btn1"><i class="fa fa-plus"></i> Add</button>  
                </div>
            </div>
        </div>     
    </div>    
</div>


<div id="otp-modal" class="modal fade displayNone">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="dvHead">
                <p>OTP Verification</p>
            </div>
            <div class="dvForm">
                <div class="dvRow">
                    <div class="col-xs-4 dvLabel">
                        Enter OTP:
                    </div>
                    <div class="col-xs-8 dvField">
                        <input class="dvTextField" ng-model="user_otp" type="text" placeholder="Kindly enter verification code" required>
                        <span ng-click="RegenerateOtp()" class="link">Resend OTP</span>
                    </div>
                </div>
                <div class="dvRow">
                    <button ng-click="verify_otp()" class="dvGreenButton">Verfiy</button>  
                </div>
            </div>
        </div>     
    </div>    
</div>
<div id="pay" style="display: none;"></div>


<script>
            ga('set', {
                page: '/menu.html',
                title: 'Checkout Page'
            });
            ga('send', 'pageview');</script>
