
      
            
            <div class="dvContent">
                <div class="dvChefs">
                    
                    <div class="row">
                        <div class="container">
                            <div class="dvHeadBox" ng-click="showMain()" >
                                MEET THE CHEFS BEHIND THE RECEIPES
                            </div>
                           
                        </div>
                    </div>

                    <div class="dvTextImage dvChef" ng-repeat="chef in chefs| orderBy: 'id'" >
                        <div class="container">
                            <div class="dvText col-sm-8" ng-class-odd="'pull-right pad-left-25'" ng-class-even="'pad-right-25'">
                                <h2 ng-click="fetch_chef_details(chef)" style="cursor: pointer;">
                                    {{chef.name}}
                                </h2>
                                <p>
                                    {{chef.description}}
                                </p>
                                <button class="btn-success btn-large btnGreen" ng-click="fetch_chef_details(chef)" >See Receipes from Chef {{chef.name}}</button>
                            </div>
                            <div class="dvImage col-sm-4" ng-class-odd="'pull-left'" >
                                <img src="img/loader_img.gif" alt="loading.." class="loader_img"/>
                                <img onload="Show_loader(this)" style="display: none;" class="product-image" src="http://api.done.to/images/6889/{{chef.image_url}}">
                            </div>
                        </div>
                    </div>
                        
                    <div class="container">
                        <div class="row dvPartition1"></div>
                    </div>
                    
                </div>
            </div>
          
 
