<div class="columns small-12" style="border-bottom: 2px solid #000;">
    <div class="small-10 columns text-center"><h2 style="color: #ffc324;">Select customizations for {{selected_product.name}}</h2></div>
    <div class="small-2 columns text-left"><h2 style="color: #EE2E24;">{{selected_product.price | currency:"&#8377;"}}</h2></div>
</div>
<div id="combo-back" class="small-12 medium-3 large-3 columns">
    <!--<img class="logo-small" src="img/maroosh-logo.png" alt="Maroosh" style="margin:45px;">-->    
    <button ng-click="menu()" class="proceed-button" style="margin:45px;"><i class="fa fa-chevron-circle-left"></i> Menu</button>
    <div class="show-for-large-up free-height"></div>
</div>
<div id="combo-center" class="small-12 medium-6 large-6 columns">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        <li ng-repeat="category in combos_categories | orderBy:'sr'" style="max-height: 25rem;overflow-y: scroll;">
            <div class="row" style="font-weight: bold;color: #ffc324;padding: 1rem 5px 0.5rem 0;">{{category.name}} <br><small style="color: #ee2e24">(Select any {{category.selection_max}})</small> <span style="float: right;color: blue;">{{category_min_max_count_array[category.id]}}</span></div>
            <div style="line-height: 1rem;font-size: small;" class="product_cutomization row" ng-repeat="product in category.products" ng-click="get_combos_customizations(product)" ng-show="product.category_id === category.id">
                {{product.name}}
            </div>
        </li>
    </ul>
</div>
<div id="combo-cart" class="small-12 medium-3 large-3 columns" ng-if="combos_cart_item.length > 0">
    <div class="row text-center"><h3 style="color: #ffc324;">Your Meal</h3></div>
    <div class="">
        <div class="row" ng-repeat="cart_item in combos_cart_item" style="padding: 0.5rem 0.5rem;box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);">
            <div class="small-10 columns no-padding"><span style="display: block">{{cart_item.name}}</span>
                <span style="display: block;font-size: smaller;color: grey;" ng-repeat="cust in cart_item.customization">{{cust.name}}</span>
            </div>
            <!--<div class="small-3 columns">Qty : {{cart_item.quantity}}</div>-->
            <div class="small-2 columns" style="cursor: pointer;" ng-click="remove_combos_cart_item($index)"><i class="fa fa-times"></i></div>
        </div>
    </div>
    <div class="row text-center" style="padding: 1rem;"><button ng-click="addToMainCart()">Add to cart</button></div>
</div>
<div id="combos-customization" class="reveal-modal tiny" data-reveal>
    <div ng-repeat="cust in selected_combos_product.all_customizations">
        <div class="heading text-center" style="font-weight: bold;color: #cf2a0e;padding: 0.5rem 0;">{{cust.name}}</div>
        <label ng-if="cust.selection_min === 1 && cust.selection_max === 1" ng-repeat="product in cust.products">
            <input data-product="{{product}}" name="{{cust.id}}" type="radio" ng-checked="product.default_selected"> {{product.name}} (+ {{product.price| currency: "&#8377;"}})
        </label>
        <label ng-if="!(cust.selection_min === 1 && cust.selection_max === 1)" ng-repeat="product in cust.products">
            <input data-product="{{product}}" name="{{cust.id}}" type="checkbox" ng-checked="product.default_selected"> {{product.name}} (+ {{product.price| currency: "&#8377;"}})
        </label>
    </div>
    <hr>
    <button ng-click="process_combos_customizations()" class="proceed-button small"><i class="fa fa-plus"></i> Add</button>
    <a class="close-reveal-modal">&#215;</a>
</div>