<div class="col-md-12 center-block text-center" style="margin-top: 10%;">
    <ul class="dvFtrLinks" style="padding: 0px 0px 25%;">
        <li>
            <span>Tel: </span>
            <a href="tel:7208021354">7208021354</a>
        </li>
        <li>
            <span>Mail: </span>
            <a href="mailto:ayush@getmingo.com">ayush@getmingo.com</a>
        </li>
    </ul>
</div>
<script>
    ga('set', {
        page: '/contactus_mobile.html',
        title: 'contactus mobile Page'
    });
    ga('send', 'pageview');
</script>




