<div class="small-12 small-centered columns menu-bg show-for-small-only" style="margin-top: 70px;">
    <div class="show-for-medium-only free-height"></div>
    <div class="small-12 columns" style="margin-top: 30px;">

        <div class="small-12 columns panel">
            <form id="feedback-form" data-abide="ajax">
                <div class="row collapse">
                    <div class="small-5 columns">
                        <span class="prefix"><i class="fa fa-mobile-phone"></i> Mobile No.</span>
                    </div>
                    <div class="small-7 columns">
                        <input type="text" placeholder="10 digits" ng-model="feedback_phone_number" maxlength="10" required pattern="[7-9]{1}\d{9}">
                        <small class="error">Invalid</small>
                    </div>
                </div>
                <div class="row collapse">
                    <div class="small-5 columns">
                        <span class="prefix"><i class="fa fa-user"></i> Name</span>
                    </div>
                    <div class="small-7 columns">
                        <input type="text" ng-model="feedback_name" required pattern="[a-z A-Z]+">
                        <small class="error">Invalid</small>
                    </div>
                </div>
                <div class="row collapse">
                    <div class="small-5 columns">
                        <span class="prefix"><i class="fa fa-envelope"></i> Email</span>
                    </div>
                    <div class="small-7 columns">
                        <input type="email" ng-model="feedback_email" required>
                        <small class="error">Invalid</small>
                    </div>
                </div>
                <div class="row collapse">
                    <div class="small-5 columns">
                        <span class="prefix">Outlet</span>
                    </div>
                    <div class="small-7 columns">
                        <select ng-model="feedback_outlet" ng-options="outlet as outlet.name for outlet in outlets track by outlet.id" required>
                            <option value="">SELECT</option>
                        </select>    
                        <small class="error">Invalid</small>
                    </div>
                </div>
                <div class="row collapse">
                    <div class="small-5 columns">
                        <span class="prefix"><i class="fa fa-pencil"></i> Message</span>
                    </div>
                    <div class="small-7 columns">
                        <textarea ng-model="feedback_message" maxlength="500" required></textarea>
                        <small class="error">Invalid</small>
                    </div>
                </div>
                <button type="submit" class="proceed-button"><i class="fa fa-heart"></i> Give Feedback</button>
            </form>
        </div>

    </div>

</div>
<script>
            ga('set', {
                page: '/contact_mob.html',
                title: 'Contact Mob Page'
            });
            ga('send', 'pageview');</script>