

<div class="small-12 small-centered columns menu-bg" style="margin-top: 70px;">
    <div class="show-for-medium-only free-height"></div>
    <div class="small-12 columns" style="margin-top: 30px;">
        <div class="small-12 small-centered columns outlet-container">
            <div class="outlet outlet-animate contactus-outlet small-12 small-centered columns" ng-repeat="outlet in outlets| orderBy: 'distance'">

                <span class="outlet-name">{{outlet.name}}</span>
                <hr>

                <div class="row mobile-add-padding">
                    <div class="small-4 columns no-padding">
                        <span class="description-content">Address :</span>
                    </div>
                    <div class="small-8 columns no-padding">
                        <span class="description-heading"> {{outlet.address_string}}</span>
                    </div>
                </div>
                <div class="row mobile-add-padding">
                    <div class="small-4 columns no-padding">
                        <span class="description-content"> Does : </span>
                    </div>
                    <div class="small-8 columns no-padding">
                        <span class="description-heading"> {{outlet.delivery_type}}</span>
                    </div>
                </div>
                <div class="row mobile-add-padding">
                    <div class="small-4 columns no-padding">
                        <span class="description-content"> Min Order :</span>
                    </div>
                    <div class="small-8 columns no-padding">
                        <span class="description-heading"> {{outlet.min_order_amnt| currency: "&#8377;" : 0}} for delivery</span>
                    </div>
                </div>

            </div>
        </div>


<!--        <div class="large-4 columns panel">
            <form id="feedback-form" data-abide="ajax">
                <div class="row collapse">
                    <div class="small-5 columns">
                        <span class="prefix"><i class="fa fa-mobile-phone"></i> Mobile No.</span>
                    </div>
                    <div class="small-7 columns">
                        <input type="text" placeholder="10 digits" ng-model="feedback_phone_number" maxlength="10" required pattern="[7-9]{1}\d{9}">
                        <small class="error">Invalid</small>
                    </div>
                </div>
                <div class="row collapse">
                    <div class="small-5 columns">
                        <span class="prefix"><i class="fa fa-user"></i> Name</span>
                    </div>
                    <div class="small-7 columns">
                        <input type="text" ng-model="feedback_name" required pattern="[a-z A-Z]+">
                        <small class="error">Invalid</small>
                    </div>
                </div>
                <div class="row collapse">
                    <div class="small-5 columns">
                        <span class="prefix"><i class="fa fa-envelope"></i> Email</span>
                    </div>
                    <div class="small-7 columns">
                        <input type="email" ng-model="feedback_email" required>
                        <small class="error">Invalid</small>
                    </div>
                </div>
                <div class="row collapse">
                    <div class="small-5 columns">
                        <span class="prefix">Outlet</span>
                    </div>
                    <div class="small-7 columns">
                        <select ng-model="feedback_outlet" ng-options="outlet.id as outlet.name for outlet in outlets" required>
                            <option value="">SELECT</option>
                        </select>    
                        <small class="error">Invalid</small>
                    </div>
                </div>
                <div class="row collapse">
                    <div class="small-5 columns">
                        <span class="prefix"><i class="fa fa-pencil"></i> Message</span>
                    </div>
                    <div class="small-7 columns">
                        <textarea ng-model="feedback_message" maxlength="500" required></textarea>
                        <small class="error">Invalid</small>
                    </div>
                </div>
                <button type="submit" class="proceed-button"><i class="fa fa-heart"></i> Give Feedback</button>
            </form>
        </div>-->

    </div>
    <div class="free-height"></div>
    <div class="bottom-bar large-12 columns hide-for-small-only" style="z-index: 25;">
            <div class=" large-12 centered" style="  text-align: center;margin-top: 22px;">
                <span><img src="img/applestore.png" alt="iOS app"></span>
                <span><img src="img/googleplay.png" alt="Android app"></span>
                
                <span style="background: url('img/Facebook-icon-footer-Rect-container.png');"  ng-hide="verified_twitter_link === ''" onclick="show_social_link('twitter_link')" ><img src="img/Facebook-Icon-Footer.png"></span>
                <span style="background: url('img/Facebook-icon-footer-Rect-container.png');" ng-hide="verified_facebook_link === ''" onclick="show_social_link('facebook_link')" ><img src="img/Twitter-Icon-Footer.png"></span>
              </div>
            
            <nav class=" large-12 centered columns" >    
                    <section class="bottom-bar-section">
                        <div class="large-10 centered">
                            <span ng-repeat="page in pages" ng-class="{active: page.route === page_active}"><a ng-href="#{{page.route}}">{{page.label}}</a></span>      
                            <span onclick="openHowItWorks()"><a>How it works?</a></span> 
                            <span onclick="openBulkOrders()"><a>Bulk Orders</a></span> 
                        </div>
                    </section>

            </nav>
            <div class="footer copyrigthText hide-for-small-only"> &copy; 2015 all rights reserved by. <span class="company-title">noshky</span></div><br>
    </div>
</div>


<script>
            ga('set', {
                page: '/contactus.html',
                title: 'contactus Page'
            });
            ga('send', 'pageview');
</script>

<script>
    setStickyFooter();
</script>
    