    
<div class="dvHeader2">
    <div class="container">
        <a href="#/home" class="dvLogo col-xs-8 col-sm-3">
            <img src="img/logo.png" alt="mmMaroosh" />
        </a>
    </div>
</div>



<div class="dvTwoCol Dvextralinks" id="privacyp">
    <div class="container">
          <div class="dvBreadCrumbslinks">
            <div class="container">
                <a href="#/home"><i class="fa fa-home"></i> Home</a> / Disclaimers
            </div>
        </div>
        <h3>Disclaimers</h3>
        <div class="dvCol">
            <div class="dvSec">
        <p>Maroosh grants you permission to view this Web site and to print individual pages from this Web site for your own personal, noncommercial use, provided that you agree to and accept without modification the notices, terms, and conditions set forth in this agreement. You may not modify, copy (except as set forth in the preceding sentence), distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, material, software, products or services from this Web site.</p>
        <p>Your use of this Web site constitutes your agreement and acceptance without modification of the notices, terms and conditions set forth herein. In addition, as a condition of your use of this Web site, you represent and warrant to Maroosh that you will not use this Web site for any purpose that is unlawful, immoral, or prohibited by these terms, conditions, and notices. If you do not agree and accept without modification the notices, terms and conditions set forth herein, do not use this Web site. Other than this agreement, Maroosh will not enter into any agreement with you or obligation to you through this Web site, and no attempt to create such an agreement or obligation will be effective.</p>

            </div>

        </div>
    </div>
</div>