<div class="medium-12 columns" style="margin-top: 9%;">
      <div class="show-for-small-only" style="width: 20px;height: 20px;margin-left: 4%;">
                <a href="#/outlets"><img id="back_arrow_page" src="img/arrow.png"></a>
      </div> 
    <div class="small-12 small-centered no-padding columns" style="margin-top: 13px;"> 
                    <div id="aboutus_id" class="row">
                        <p style="text-align: left;font-size: 25px;font-weight: bold;margin-bottom: 25px;margin-left: 42%;">FAQ</p>
                        <div class="row">
                            <div class="medium-6 columns"> 
                                <ul class="accordion" data-accordion style="margin-left: 0px;">
                                    <li class="accordion-navigation"> 
                                        <a ng-click="change_faq_tab(1)" class="faq"> 
                                            <div class="small-1 columns no-padding" style="text-align: left;"> 
                                                <i class="fa fa-plus togg_accord"></i> 
                                                
                                            </div><div class="small-10 columns no-padding" style="text-align: left;padding-top: 5px;">
                                                <p class='faqcont'>Where do you deliver to? </p>
                                            </div>
                                        </a> 
                                        <div id="panel1b" class="content" style="width: 100%;" >
                                                <p class="faqcontent"> At the moment, we are delivering lunch to the BKC, Powai and Parel/Lower Parel/Mahalaxmi areas. We also provide dinner delivery to the Bandra West area. We are going to roll out Instakhaana to a few new regions soon, so stay tuned! If there is an area you want us to enter, contact us and let us know! </p>
                                        </div>
                                    </li>
                                    <li class="accordion-navigation">
                                        <a ng-click="change_faq_tab(2)" class="faq"> 
                                            <div class="small-1 columns no-padding" style="text-align: left;"> 
                                                <i class="fa fa-plus togg_accord"></i> 
                                            </div>
                                            <div class="small-11 columns no-padding" style="text-align: left; padding-top: 5px;"> 
                                                <p class='faqcont'>Is there a delivery fee?</p>
                                            </div>
                                        </a>
                                        <div id="panel2b" class="content" style="width: 100%;" > 
                                            <p class="faqcontent"> We don’t charge any delivery fees! The price you see on the website is the price you pay. </p>
                                        </div>
                                    </li>
                                    <li class="accordion-navigation">
                                        <a ng-click="change_faq_tab(3)" class="faq"> 
                                            <div class="small-1 columns no-padding" style="text-align: left;"> 
                                               <i class="fa fa-plus togg_accord"></i> 
                                            </div>
                                            <div class="small-11 columns no-padding" style="text-align: left;padding-top: 5px;">
                                                <p class='faqcont'>What are your opening hours?</p>
                                            </div>
                                        </a> 
                                        <div id="panel3b" class="content" ng-class="{active: active_tab_id===3}" style="width: 100%;">
                                            <p class="faqcontent"> We deliver lunch between 12 and 3pm and dinner between 8 and 11pm. However, we do take pre-orders so you can order 2-3 hours in advance to ensure the dish you want isn’t sold out! </p>
                                        </div>
                                    </li>
                                    <li class="accordion-navigation"> 
                                        <a ng-click="change_faq_tab(4)" class="faq">
                                            <div class="small-1 columns no-padding" style="text-align: left;">
                                                <i class="fa fa-plus togg_accord"></i> 
                                            </div>
                                            <div class="small-11 columns no-padding" style="text-align: left;padding-top: 5px;">
                                                <p class='faqcont'>How will I recognise you?</p>
                                            </div>
                                        </a> 
                                        <div id="panel3b" class="content" ng-class="{active: active_tab_id===4}" style="width: 100%;">
                                            <p class="faqcontent"> If you see our wonderful Instakhaana car or a delivery boy with the colorful Instakhaana bag, that’s us! We will also be calling you when we are nearby so you can call that number back in case you cannot spot us. </p>
                                        </div>
                                    </li>
                                </ul> 
                            </div>
                            <div class=" medium-6 columns"> 
                                <ul class="accordion" data-accordion style="margin-left: 0px;">
                                    <li class="accordion-navigation"> 
                                        <a ng-click="change_faq_tab(5)" class="faq"> 
                                            <div class="small-1 columns no-padding" style="text-align: left;"> 
                                                <i class="fa fa-plus togg_accord"></i> 
                                            </div>
                                            <div class="small-11 columns no-padding" style="text-align: left;padding-top: 5px;"> 
                                                <p class='faqcont'>Where should I wait for my food?</p>
                                            </div>
                                        </a> 
                                        <div id="panel3b" class="content" ng-class="{active: active_tab_id===5}" style="width: 100%;">
                                            <p class="faqcontent"> We do curb-side deliveries! We take the name ‘Instakhaana’ very seriously and make sure the food reaches you in the 20 minute pre-defined time slot that you have selected. Our delivery boy will give you a five-minute warning call and will meet you at the gate of your office building or residence. We sincerely look forward to your cooperation to make sure your order and subsequent orders are delivered on time. </p>
                                        </div>
                                    </li>
                                    <li class="accordion-navigation"> 
                                        <a ng-click="change_faq_tab(6)" class="faq"> 
                                            <div class="small-1 columns no-padding" style="text-align: left;"> 
                                                <i class="fa fa-plus togg_accord"></i>  
                                            </div>
                                            <div class="small-11 columns no-padding" style="text-align: left;padding-top: 5px;">
                                                <p class='faqcont'>Are the meals actually fresh ?</p>
                                            </div>
                                        </a>
                                        <div id="panel3b" class="content" ng-class="{active: active_tab_id===6}" style="width: 100%;">
                                            <p class="faqcontent"> Absolutely! Everything on the menu is prepared on the same day, without any exception. Each meal on the menu has gone through series of trials and we track the shelf-life of all our food. We realize that the freshness of the food is paramount to the happiness of our customers, and we are laser-focused on this. </p>
                                        </div>
                                    </li>
                                    <li class="accordion-navigation">
                                        <a ng-click="change_faq_tab(7)" class="faq"> 
                                            <div class="small-1 columns no-padding" style="text-align: left;">
                                               <i class="fa fa-plus togg_accord"></i> 
                                            </div>
                                            <div class="small-11 columns no-padding" style="text-align: left;padding-top: 5px;">
                                                <p class='faqcont'>Can I see the menu in advance?</p>
                                            </div>
                                        </a> 
                                        <div id="panel3b" class="content" ng-class="{active: active_tab_id===7}" style="width: 100%;"> 
                                            <p class="faqcontent"> Yes! We usually post the menu for the following day the previous evening so you can plan ahead. We also post the weekly menu to our Facebook page and on our Zomato profile page. Sign up! </p>
                                        </div>
                                    </li>
                                    <li class="accordion-navigation" > 
                                        <a ng-click="change_faq_tab(8)" class="faq">
                                            <div class="small-1 columns no-padding" style="text-align: left;">
                                                <i class="fa fa-plus togg_accord"></i>  
                                            </div><div class="small-11 columns no-padding" style="text-align: left; padding-top: 5px;">
                                                <p class='faqcont'>Do you take bulk/corporate orders?</p>
                                            </div>
                                        </a> 
                                        <div id="panel3b" class="content" ng-class="{active: active_tab_id===8}" style="width: 100%;">
                                            <p class="faqcontent"> Yes we do! To place orders for bulk/corporate deliveries, please contact us at least 24 hours in advance of the proposed delivery date. You can also call us on 022-65656001 to find out more about bulk orders. </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
</div>

 <script>
                                                
                                                $(".accordion").on("click", "li", function (event){
                                                   
                                                   $("li.active").find(".content").slideToggle("slow");
                                                   $(this).find(".content").slideToggle("slow");
                                                   
                                                   if($(this).find("a").find("div").find("i").hasClass("fa-plus")){
                                                            $(this).find("a").find("div").find("i.fa-plus").removeClass("fa-plus");
                                                            $(this).find("a").find("div").find("i").addClass("fa-minus");
                                                   }else{
                                                            $(this).find("a").find("div").find("i.fa-minus").removeClass("fa-minus");
                                                            $(this).find("a").find("div").find("i").addClass("fa-plus");
                                                   }
                                                }); 
</script> 