<div class="dvHome">

    <div class="dvSlider">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="dvText">
                        <div class="dvTextWrap">
                            <div class="dvText">
                                <div class="dvTextWrap">
                                    <!--                                    <img class="dvMMImg" src="img/mm-logo.png" alt="mm" />-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="animatedParent">
        <div class="dvOrderOnline">
            <div class="dvWrap">
                <h3>CHOOSE LOCATION TO ORDER ONLINE</h3>
                <!--<p>Vegetarian Food Home Delivered</p>-->
                <select class="form-control dvSelect" id="citySelect" ng-show="city_outlet_selection === true || city_area_selection == true" ng-model="city_select" ng-change="set_outlet_list()" ng-options="city as city.city_name for city in cities track by city.city_id">
                    <option value="">Select City</option>
                </select>

                <!--           <select class="form-control dvSelect" ng-show="city_area_selection == true" ng-change="api_nearest_outlets_by_subarea()" ng-model="area_select" ng-options="area as area.area_name for area in areas track by area.id">
                         <option value="">Select Area</option>
                     </select>
     
                     <select class="form-control dvSelect" ng-show="city_outlet_selection === true || only_outlet_selection === true" ng-model="outlet_select" ng-options="outlet as outlet.name for outlet in outlet_list">
                         <option value="">Select outlet</option>
                     </select>
                     <button class="dvGo" ng-click="view_menu()">GO</button>-->

                <div class="dvRow">
                    <div class="pad-0">
                        <select class="ui search dropdown form-control dvSelect" id="search-select" ng-show="city_area_selection == true" ng-change="api_nearest_outlets_by_subarea()" ng-model="area_select" ng-options="area as area.subarea_name for area in areas">
                            <option value="">Select Area</option>
                        </select>
                    </div>

                    <div class="dvHeading1">Healthy Eating for Busy People.</div>
                    <div class="pad-0">
                        <button class="dvGo" ng-click="view_menu()">GO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dvHowItWorks" class="dvHowItWorks animatedParent">
        <div class="container">
            <h3 class='animated bounceInLeft slow'>HOW IT WORKS?</h3>
            <div class="row delay-500">
                <div class="animated fadeInUpShort slow delay-250 dvTextImage col-sm-4">
                    <div class="dvImage">
                        <img src="img/cart.png" alt="" />
                    </div>
                    <div class="dvText">
                        <h3>ORDER ONLINE</h3>
                        <p>Select from our yummilicious menu using web/app</p>
                    </div>
                </div>

                <div class="animated fadeInUpShort slow delay-500 dvTextImage col-sm-4">
                    <div class="dvImage">
                        <img src="img/message.png" alt="" />
                    </div>
                    <div class="dvText">
                        <h3>LIVE STATUS UPDATE</h3>
                        <p>Get live update on confirmation, despatch and delivery through SMS.</p>
                    </div>
                </div>

                <div class="animated fadeInUpShort slow delay-1000 dvTextImage col-sm-4">
                    <div class="dvImage">
                        <img src="img/delivery.png" alt="" />
                    </div>
                    <div class="dvText">
                        <h3>INDULGE</h3>
                        <p>Sit back and enjoy your food.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--    <div class="dvImgBand dvBand1">
            <div class="dvOverlay">
                <p>Text Goes Here</p>
            </div>
        </div>-->



    <div class="dvTextImage dvAbout animatedParent">
        <div class="container">
            <h3 class='animated bounceInLeft slow'>
                ABOUT US
            </h3>
            <div class="dvText col-sm-6 animated fadeInLeftShort slow">
                <p>We strive to compliment your lifestyle. Tasty is Addictive and Healthy is a bonus get both at Deliver My Diet. Our Challenge is to make healthy food tasty.</p>
                <p> The idea behind the origin of Deliver My Diet is to promote healthy eating. We strongly feel that food available all around even in better restaurants is scrumptious, finger licking and addictive yet not meeting the nutritional requirements.
                    The people eating this kind of food are suffering from obesity, diabetes and acidity like never before.</p>
                <p>There is great felt demand for food which is both toothsome and wholesome at the same time. We have taken up this challenge to come up with low calorie recipes or low calorie food which are great in taste while taking care of your health.</p>
            </div>
            <div class="dvImage col-sm-6 pad-0 animated fadeInRightShort slow delay-250">
                <img src="img/aboutus.png" alt="App" />
            </div>
        </div>
    </div>

    <div class="dvTextImage dvApps">
        <div class="container">

            <div class="dvImage text-center col-sm-5 ">
                <img src="img/cell.png" alt="App">
            </div>

            <div class="dvText col-sm-7 pad-right-15">
                <h3>
                    Get it for FREE Worldwide
                </h3>
                <h4>
                    ANDROID & IOS App Available
                    <!--iOS and-->
                </h4>
                <!--                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>-->
                <div class="dvBtns">
                    <a href="https://itunes.apple.com/us/app/deliver-my-diet/id1135341576?ls=1&mt=8" target="_blank">
                        <img src="img/ios.png" alt="img1">
                        <!--<span>Coming soon...</span>-->
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=to.done.delivermydiet" target="_blank">
                        <img src="img/android.png" alt="img1">
                        <!--<span>Available</span>-->
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="dvGallery">
        <div class="container">

            <h3>Gallery</h3>

            <div class="row">
                <div class="dvGalImg col-sm-4">
                    <a class="fancybox dvImg" href="img/1.jpg" data-fancybox-group="gallery" title="">
                        <img src="img/1.jpg" alt="Butter Chicken + Rice" />
                    </a>
                </div>

                <div class="dvGalImg col-sm-4">
                    <a class="fancybox dvImg" href="img/2.jpg" data-fancybox-group="gallery" title="">
                        <img src="img/2.jpg" alt="Lean Meat Wrap - Grilled Chicken" />
                    </a>
                </div>

                <div class="dvGalImg col-sm-4">
                    <a class="fancybox dvImg" href="img/3.jpg" data-fancybox-group="gallery" title="">
                        <img src="img/3.jpg" alt="Bread" />
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="dvGalImg col-sm-4">
                    <a class="fancybox dvImg" href="img/4.jpg" data-fancybox-group="gallery" title="">
                        <img src="img/4.jpg" alt="Garden Veg. Leafy Salad" />
                    </a>
                </div>

                <div class="dvGalImg col-sm-4">
                    <a class="fancybox dvImg" href="img/5.jpg" data-fancybox-group="gallery" title="">
                        <img src="img/5.jpg" alt="Pizza" />
                    </a>
                </div>

                <div class="dvGalImg col-sm-4">
                    <a class="fancybox dvImg" href="img/6.jpg" data-fancybox-group="gallery" title="">
                        <img src="img/6.jpg" alt="Chicken Noodles" />
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!--    <div class="dvImgBand dvBand2">
            <div class="dvOverlay">
                <p>Text Goes Here</p>
            </div>
        </div>-->

    <div class="dvContact">
        <div class="container">
            <div class="dvCol col-sm-6">
                <div class="dvSec">
                    <div class="dvTitle">
                        Corporate Office
                    </div>
                    <div class="dvCol col-sm-6">
                        <!--                        <p>
                            <span>Healthy Grub Hospitalities, </span> 
                        </p>-->
                        <p>
                            <span>Delivery Kitchen</span>
                        </p>
                        <p>
                            <span>Ground Floor,</span>
                        </p>
                        <p>
                            <span>K K Tower Builiding,</span>
                        </p>
                        <p>
                            <span>Near Skylark Chownk,</span>
                        </p>
                        <p>
                            <span>Jalandhar 144001.</span>
                        </p>
                        <p>
                            <span>Head of Operations: 90-23-230-230 </span>
                        </p>
                        <p>
                        	<span>Feedback / Write us - 
                                <a href="mailto:connect@delivermydiet.in">
                                    connect@delivermydiet.in
                                </a>
                            </span>
                        </p>
                        <p>
                            <span>Delivery Timing : 11am - 11pm</span>
                        </p>
                    </div>
                </div>
                <!--                <div class="dvSec dvOtherLinks">
                                    <div class="dvTitle">
                                        Other Links
                                    </div>
                
                                    <div class="dvCol col-xs-12">
                                        <a href="#/privacypolicy">
                                            Privacy Policy
                
                                        </a>

                            <a href="#/termsandconditions">
                                            Terms and Conditions
                                        </a>

                    </div>
                </div>-->



                <div class="dvCol dvSocial">
                    <div class="dvSec">
                        <div class="dvTitle">
                            Social Network
                        </div>
                        <div class="dvCol">
                            <a href="https://www.facebook.com/DeliverMyDiet/" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>

                            <a href="https://www.instagram.com/delivermydiet/" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dvCol col-sm-6">
                <div class="dvSec">
                    <div class="dvTitle">
                        FEEDBACK
                    </div>
                    <form class="ng-pristine ng-valid">
                        <div class="dvRow">
                            <div class="dvLabel col-sm-3 hidden-xs">
                                Name
                            </div>
                            <div class="dvField col-sm-9">
                                <input type="text" ng-model="fbname" placeholder="Name" class="dvTextField ng-pristine ng-untouched ng-valid">
                            </div>
                        </div>
                        <div class="dvRow">
                            <div class="dvLabel col-sm-3 hidden-xs">
                                Mobile
                            </div>
                            <div class="dvField col-sm-9">
                                <input type="text" ng-model="fbmobile" maxlength="10" placeholder="Mobile No" class="dvTextField ng-pristine ng-untouched ng-valid ng-valid-maxlength">
                            </div>
                        </div>
                        <div class="dvRow">
                            <div class="dvLabel col-sm-3 hidden-xs">
                                Email
                            </div>
                            <div class="dvField col-sm-9">
                                <input type="text" ng-model="fbemail" placeholder="Email ID" class="dvTextField ng-pristine ng-untouched ng-valid">
                            </div>
                        </div>

                        <div class="dvRow">
                            <div class="dvLabel col-sm-3 hidden-xs">
                                Area
                            </div>
                            <div class="dvField col-sm-9">
                                <select class="form-control dvSelect" ng-model="fboutlet" ng-options="outlet as outlet.name for outlet in feedbackoutlets">
                                    <option value="">Select Delivery Location</option>
                                </select>
                                <!--<input type="text" class="dvTextField" placeholder="Current Location" />-->
                            </div>
                        </div>

                        <div class="dvRow">
                            <div class="dvLabel col-sm-3 hidden-xs">
                                Message
                            </div>
                            <div class="dvField col-sm-9">
                                <textarea ng-model="fbmessage" placeholder="Message" class="dvTextArea ng-pristine ng-untouched ng-valid"></textarea>
                            </div>
                        </div>
                        <div class="dvRow">
                            <div class="dvLabel col-sm-3 hidden-xs">

                            </div>
                            <div class="dvField col-sm-2">
                                <div ng-click="send_feedback()" class="dvOrangeButton dvSend">
                                    SEND
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <div id="messagepop" class="modal fade displayNone">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="dvHead">
                    <p>Outlet Message</p>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="dvForm">
                    <div class="dvRow">
                        {{message}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.carousel').carousel({
                interval: 3000
            });

            $('.carousel').carousel('cycle');
        });

        $(document).ready(function() {
            $(".accordion li").find(".dvCont").slideToggle("slow");
        })

        $(".accordion").on("click", "li", function(event) {
            $(".accordion li").find(".dvCont").slideUp("slow");
            $(this).find(".dvCont").slideToggle("slow");
        });
    </script>
    <script>
        $(function() {
            $('#search-select,#search-city,#outlet-select').dropdown({
                //                    fullTextSearch: 'false'
            });

            $('#search-select .search input').attr("ng-change", "api_company_subarea()");

        });
    </script>
    <script>
        ga('set', {
            page: '/home.html',
            title: 'Home Page'
        });
        ga('send', 'pageview');
    </script>

</div>