<div class="small-12 small-centered columns ng-scope menu-bg no-padding" style="background-color: #fff;text-align: center;margin-top: 9%;"> 
    <div class="show-for-small-only" style="width: 20px;height: 20px;margin-left: 4%;">
                <a href="#/outlets"><img id="back_arrow_page" src="img/arrow.png"></a>
    </div>       
    <img src="img/how-it-works-mobile.jpg"> 
</div>
  