
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id="otp-modal" class="modal fade displayNone">
    <div class="modal-dialog customizationModalDialog">  
        <div class="modal-content overflowAuto">

<!--            <div class="col-sm-12 textAlignCenter addAddressModalTitleMargin">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <span class="addAddressModalTitle">Add new address</span>
            </div>-->

            <div class="col-sm-12 addAddressRows">
                <div class="col-sm-5 textAlignCenter">
                    <span class="prefix addAddressModalText"> OTP</span>
                </div>
                <div class="col-sm-7 textAlignCenter">
                    <input class="addAddressModalInputs" ng-model="reg_otp" type="text" placeholder="Enter OTP" required>                    
                </div>
            </div>
            <div class="col-sm-12 addAddressRows textAlignCenter">
                <div class="col-sm-12">
                    <button ng-click="verify_otp()" class="proceed-button addAddressModalAddButton"><i class="fa fa-plus"></i> Add</button>
                </div>  
            </div>

            <!--   <a class="close-reveal-modal">&#215;</a> -->
        </div>     
    </div>    
</div>
<div class="dvWrapper" ng-show="showty === true">
    <div class="col-md-12">
        Thank you for ordering with us
    </div>
</div>
<div class="dvWrapper" ng-show="showty === false">
    <header class="headerNavigation">
        <div class="container">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dvAlignCenter">
                <img src="img/logo.png" alt="logo">

            </div>
        </div>   
    </header>
    <section style="margin-top: 150px;">

        <div class="col-md-12">
            <div class="row removeLeftRightMarg">
                <i class="fa fa-home"></i>
                <label>/Menu</label>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 login">
                    <div class="col-md-12 heading">
                        <h5>Lgoin</h5>
                    </div>
                    <div class="col-md-12 content">
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                <label>Email ID</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" ng-model="primary_email" class="form-control" placeholder="Email ID">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                <label>Password</label>
                            </div>
                            <div class="col-md-9">
                                <input type="password" ng-model="password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <button class="btn btn-primary" ng-click="validatelogin()">Login</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 registering">
                    <div class="col-md-12 heading">
                        <h5>Registration</h5>
                    </div>
                    <div class="col-md-12 content">
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                <label>Name</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" ng-model="name" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                <label>Mobile Number</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" ng-model="reg_primary_phone" class="form-control" placeholder="Mobile Number">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                <label>Email ID</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" ng-model="reg_primary_email" class="form-control" placeholder="Email ID">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                <label>Password</label>
                            </div>
                            <div class="col-md-9">
                                <input type="password" ng-model="reg_password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                <label>Confirm Password</label>
                            </div>
                            <div class="col-md-9">
                                <input type="password" ng-model="reg_conpassword" class="form-control" placeholder="Confirm Password">
                            </div>
                        </div>
                        
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                <label>Pincode</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" ng-model="pincode" class="form-control" placeholder="Pincode">
                            </div>
                        </div>
                        
                        <div class="form-group col-md-12">
                            <button class="btn btn-primary" ng-click="validateregistration()">Register</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>    

</div>
