<div class="dvHeader2">
    <div class="container">
        <a href="#/home" class="dvLogo col-xs-8 col-sm-3">
            <img src="img/header_logo.png" alt="curryos" />
        </a>
        <a href="#/home" class="col-xs-3 col-sm-5 hidden-xs dvOutlet">
            <p>
                <i class="fa fa-map-marker"></i>
                <span>{{outlet.name}}</span>
            </p>
        </a>
        <div class="dvCartInfo col-xs-4" onclick="showhidecart()">
            <div class="dvCartBtn">
                <i class="fa fa-shopping-cart"></i>
                <span class="hidden-xs hidden-sm">Checkout</span>
                <span>{{item_count}}</span>
                <i class="fa fa-angle-right hidden-xs hidden-sm"></i>
            </div>
        </div>
        <a href="#/home" class="dvRow col-xs-12 visible-xs">
            <div class="dvOutlet">
                <p>
                    <i class="fa fa-map-marker"></i>
                    <span>{{outlet.name}}</span>
                </p>
            </div>
        </a>
    </div>
</div>



<div class="dvCart">
   <div class="dvCartHead">
       <i class="fa fa-shopping-cart cart"></i>
       <span>{{cart_items.length}}</span> Items
       <i class="fa fa-times dvCartClose" onclick="hidecart()"></i>
   </div>
   <div class="dvCartCont">

       <div class="dvList m_content">
           <div class="dvRecord" ng-repeat="cart_item in cart_items track by $index">
               <div class="dvDtls">
                   <div class="dvName col-xs-9">
                       {{cart_item.name}}
                   </div>
                   <div class="dvAmt col-xs-3">
                       <i class="fa fa-rupee"></i>{{cart_item.total_price}}
                    
                   </div>
               </div>
               <div class="dvRollOver" ng-show="cart_item.selected_customization_string.length > 0">
                   <p>Customizations...</p>
                   <div class="dvCustomize">
                       <p>{{cart_item.selected_customization_string}}</p>
                   </div>
                   <!--                    <div class="dvNote">
                                               Note text goes here
                                           </div>-->
               </div>
               <div class="dvAddDed">
                   <div class="dvIncDec col-xs-10">
                       <i class="fa fa-minus-circle" ng-click="edit_quantity(-1, cart_item)"></i>
                       <span class="dvQty">{{cart_item.quantity}}</span>
                       <i class="fa fa-plus-circle" ng-click="edit_quantity(1, cart_item)"></i>
                   </div>
                   <div class="dvRemove col-xs-2">
                       <i class="fa fa-times-circle" ng-click="remove_cart_item($index)"></i>
                   </div>
               </div>
           </div>
       </div>

       <div class="dvTotal">
           <p>
               Total <i class="fa fa-rupee"></i><span>{{cart_total}}</span>
           </p>
           <button class="dvGreenButton dvProceed hvr-float-shadow" ng-click="checkout()" ng-show="cart_items.length > 0">Proceed</button>
       </div>            
   </div>
    <div class="dvMinInst" ng-show="outlet_minorder_validation">
        Minimum order amount <i class="fa fa-rupee"> {{outlet.min_order_amnt}}</i> for delivery.
    </div>
</div>

<!-- 
    *******************Cart section ends here ********************
-->

<div class="dvMenu">
    <div class="dvCatList_Hor hidden-xs hidden-sm" ng-show="!side_category">
        <div class="container">
            <ul>
                <li class="" ng-repeat="category in categories | orderBy: 'sr'" ng-click="change_category(category)" ng-class="{active: category.id === selected_category.id}">
                    <a class="">{{category.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="dvMenuItems">
            <div class="dvShowList visible-xs visible-sm">
                <i class="fa fa-bars"></i> 
                <span>{{selected_category.name}}</span>
                <!--{{selected_category.name}} Categories-->
            </div>

            <!--                    only for mobile View category-->
            <div id="dvCatList_Ver1"  class="dvCatList_Ver visible-xs visible-sm" ng-class="{'col-md-2 col-sm-3':subcategories}">
                <ul class="accordion visible-xs visible-sm" data-accordion >
                    <li class="accordion-navigation" ng-repeat="category in categories | orderBy: 'sr'"  ng-class="{active: category.id === selected_category.id}">
                        <a class="dvHead" ng-click="change_category(category)">
                            {{category.name}}
                        </a>
                        <div class="dvCont" ng-repeat="sub_category in category.sub_categories | orderBy: 'sr'" ng-click="change_subcategory(sub_category)">
                            <a class="dvItem" href="">{{sub_category.name}}</a>
                        </div>
                    </li>
                </ul> 

                
            </div>
            <div class="dvCatList_Ver hidden-sm hidden-xs" ng-class="{'col-md-2 col-sm-3':subcategories}">
                <div class="dvList hidden-xs" ng-show="!side_category && sub_categories.length > 0">
                    <a  ng-class="{'active' : sub_category.id === selected_sub_category.id}" ng-click="change_subcategory(sub_category)"  class="dvItem" ng-repeat="sub_category in sub_categories | orderBy: 'sr'" ng-show="sub_category.parent_category_id === selected_category.id" > {{sub_category.name}}</a>
                </div>
            </div>



            <div  class="dvCatList_Ver col-sm-3 col-md-2 hidden-sm hidden-xs" ng-show="side_category">
                <ul class="accordion" data-accordion >
                    <li class="accordion-navigation" ng-repeat="category in categories | orderBy: 'sr'"  ng-class="{active: category.id === selected_category.id}">
                        <a class="dvHead" ng-click="change_category(category)">
                            {{category.name}}
                        </a>
                        <div class="dvCont" ng-repeat="sub_category in category.sub_categories | orderBy: 'sr'" ng-click="change_subcategory(sub_category)">
                            <a class="dvItem"  >{{sub_category.name}}</a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="dvMenus " ng-class="{'col-md-12':!subcategories || !side_category, 'col-md-10':subcategories || side_category}">

                <div class="dvMenu col-xs-12" ng-class="{'col-sm-6':product_grid_size === 2, 'col-sm-4':product_grid_size === 3 && !subcategories && !side_category, 'col-sm-6':subcategories || side_category}"  ng-if="with_image_template" ng-repeat="product in products | orderBy: 'sr' | filterByProductNameAndProductAttributeName: product_search_keyword" ng-show="(product.category_id === selected_category.id || selected_sub_category.id === product.category_id) || selected_category.id === null">
                    <div class="dvSoldOut" ng-show="product.current_stock == 0">
                        Sold Out
                        <span></span>
                    </div>
                    <div class="" ng-class="{'dvImgBig':product_grid_size === 2, 'dvImgSmall':product_grid_size === 3}">
                        <img ng-if="product.photo_url !== '' && product.photo_url !== 'product/' && product.photo_url !== null"  src="{{done_host}}/images/{{menu_company_id}}/{{product.photo_url}}">
                        <img ng-if="product.photo_url === '' || product.photo_url === 'product/' || product.photo_url === null" src="img/placeholder.jpg">

                        <div class="dvItemsLeft" ng-show="product.current_stock <= 3">{{product.current_stock}} left</div>
                    </div>
                    <div class="dvDtls">
                        <div class="dvParameters" ng-show="product.attribute_bg">
                            <div class="dvParam">
                                <img src="{{product.attribute_bg}}" alt="Veg" />
                            </div>
                            <!--                                    <div class="dvParam">
                                                                    <img src="img/non-veg-icon.png" alt="Non-Veg" />
                                                                </div>-->
                        </div>
                        <div class="dvWrap">
                            <div class="dvHead">
                                <a class="dvName"> {{product.name}}</a>
                            </div>
                            <!--                            <div class="dvAttrs">
                                                            <span class="dvAttr" ng-repeat="attribute in product.attributes">
                                                                {{attribute.name}}
                                                            </span>
                                                        </div>-->
                            <div class="dvCont">
                                <p ng-if="product.description.length > 0">{{product.description}} </p>
                                <!--<p ng-if="product.description.length === 0">no description</p>-->
                            </div>
                        </div>
                        <div class="dvAmtQty" >
                            <div class="dvAmt " ng-class="{'col-xs-5':product.is_customization, 'col-xs-6':!product.is_customization}">
                                <i class="fa fa-rupee"></i>&nbsp;{{product.final_product_price| number: 0}}
                                
                            </div>

                            <div class="dvCount col-xs-2" ng-show="product.in_cart_qty !== 0 && product.is_customization && product.current_stock !== 0">
                                <i class="fa fa-shopping-cart cart"></i>
                                <span class="badge">{{product.in_cart_qty}}</span>
                            </div>

                            <div class="dvQty " ng-class="{'col-xs-5':product.is_customization, 'col-xs-6':!product.is_customization}" ng-show="product.current_stock !== 0">

                                <div class="dvAddToCart dvOrangeButton" ng-show="product.in_cart_qty === 0 || product.is_customization" ng-click="get_customizations(product, false)">ADD</div>
                                <div class="dvIncDec" ng-show="product.in_cart_qty !== 0 && !product.is_customization">
                                    <i class="fa fa-minus-circle" ng-click="edit_quantity_from_product( - 1, product)"></i>
                                    <span class="dvNo">{{product.in_cart_qty}}</span>
                                    <i class="fa fa-plus-circle" ng-click="edit_quantity_from_product(1, product)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dvMenu2 col-sm-4" ng-if="!with_image_template"   ng-repeat="product in products | orderBy: 'sr' | filterByProductNameAndProductAttributeName: product_search_keyword" ng-show="(product.category_id === selected_category.id || selected_sub_category.id === product.category_id) || selected_category.id === null">
                    <div class="dvSoldOut" ng-show="product.current_stock == 0">
                        Sold Out
                        <span></span>
                    </div>
                    <div class="dvDtls">
                        <div class="dvParameters" >
                            <div class="dvParam" ng-show="product.attribute_bg">
                                <img src="{{product.attribute_bg}}" alt="Veg" />
                            </div>
                        </div>
                        <div class="dvWrap">
                            <div class="dvHead">
                                <a class="dvName">{{product.name}}</a>
                            </div>
                            <div class="dvCont">
                                <p ng-if="product.description.length > 0">{{product.description}} </p>
                                <!--<p ng-if="product.description.length === 0">no description</p>-->
                            </div>
                        </div>
                        <div class="dvAmtQty">
                            <div class="dvAmt" ng-class="{'col-xs-5':product.is_customization, 'col-xs-6':!product.is_customization}">
                                <i class="fa fa-rupee"></i>{{product.final_product_price| number: 0}}
                              
                            </div>

                            <div class="dvCount col-xs-2" ng-show="product.in_cart_qty !== 0 && product.is_customization">
                                <i class="fa fa-shopping-cart cart"></i>
                                <span class="badge">{{product.in_cart_qty}}</span>
                            </div>

                            <div class="dvQty" ng-class="{'col-xs-5':product.is_customization, 'col-xs-6':!product.is_customization}">
                                <div class="dvAddToCart dvOrangeButton" ng-show="product.in_cart_qty === 0 || product.is_customization" ng-click="get_customizations(product, false)">ADD</div>
                                <div class="dvIncDec" ng-show="product.in_cart_qty !== 0 && !product.is_customization">
                                    <i class="fa fa-minus-circle" ng-click="edit_quantity_from_product( - 1, product)"></i>
                                    <span class="dvNo">{{product.in_cart_qty}}</span>
                                    <i class="fa fa-plus-circle" ng-click="edit_quantity_from_product(1, product)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>    

        <!--        <div id="customization-modal" class="modal fade dvCustomisePop">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="dvHead">
                                <p>{{selected_product.name}}</p>
                                <span>{{selected_product.description}}</span>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="dvForm">
                                <div class="dvCols">
                                    <div class="dvCol col-sm-6 col-md-4" ng-repeat="child_product in selected_product.all_customizations">
                                        <div class="dvColHead">
                                            {{child_product.name}}
                                        </div>
                                        <div class="dvColCont">
                                            <div class="dvRow" ng-repeat="product in child_product.products">
                                                <div ng-if="(child_product.selection_min === 1 && child_product.selection_max === 1)" >
                                                    <div class="col-xs-12 dvField ">
                                                        <label class="radio">
                                                            <input data-product="{{product}}" name="{{child_product.id}}"  ng-checked="product.default_selected" ng-click="get_Child_customizations(product)" type="radio" class="dvRadioBtn">
                                                            <span class="outer"><span class="inner"></span></span>
                                                            {{product.name}} (+ ₹ {{product.price}})
                                                        </label>
                                                    </div>
                                                </div>
        
                                                <div ng-if="!(child_product.selection_min === 1 && child_product.selection_max === 1)" >
                                                    <div class="col-xs-12 dvField">
                                                        <label class="dvLabel">
                                                            <input class="checkbox" data-product="{{product}}" name="{{child_product.id}}"  ng-checked="product.default_selected" ng-click="get_Child_customizations(product)" type="checkbox" >
                                                            <span>{{product.name}} (+ ₹ {{product.price}})</span>
                                                        </label>                                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
        
        
                                    <div class="dvCol col-sm-6 col-md-4" ng-repeat="child_product_level2 in child_selected_product.all_customizations">
                                        <div class="dvColHead">
                                            {{child_product_level2.name}}
                                        </div>
                                        <div class="dvColCont">
                                            <div class="dvRow" ng-repeat="product in child_product_level2.products">
                                                <div ng-if="(child_product_level2.selection_min === 1 && child_product_level2.selection_max === 1)">
                                                    <div class="col-xs-12 dvField">
                                                        <label class="radio">
                                                            <input data-product="{{product}}" name="{{child_product_level2.id}}" ng-checked="product.default_selected" type="radio" class="dvRadioBtn">
                                                            <span class="outer"><span class="inner"></span></span>
                                                            {{product.name}} (+ ₹ {{product.price}})
                                                        </label>
        
                                                    </div>
                                                </div>
        
                                                <div ng-if="!(child_product_level2.selection_min === 1 && child_product_level2.selection_max === 1)" >
                                                    <div class="col-xs-12 dvField">
                                                        <label >
                                                            <input data-product="{{product}}" name="{{child_product_level2.id}}"   type="checkbox" ng-checked="product.default_selected" class="dvCheckBox checkbox">
                                                            {{product.name}} (+ ₹ {{product.price}})
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
                                <div class="dvRow">
                                    <button ng-click="process_customizations()" class="dvGreenButton"><i class="fa fa-plus"></i> Add</button>  
                                </div>
                            </div>
                        </div>     
                    </div>    
                </div>-->

        <div id="customization-modal" class="modal fade dvCustomisePop">
            <div class="dvPopBgImg"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="dvHead">
                        <p>{{selected_product.name}}</p>
                        <span>{{selected_product.description}}</span>
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
                    </div>
                    <div class="dvForm">
                        <div class="dvCols">
                            <div class="dvCol col-md-6" ng-repeat="child_product in selected_product.all_customizations">
                                <div class="dvColHead">
                                    {{child_product.name}}
                                </div>
                                <div class="dvColCont content" data-mcs-theme="dark">
                                    <div class="dvRow" ng-repeat="product in child_product.products">
                                        <div ng-if="(child_product.selection_min === 1 && child_product.selection_max === 1)" >
                                            <div class="col-xs-12 dvField ">
                                                <label class="dvLabel">
                                                    <input data-product="{{product}}" name="{{child_product.id}}"  ng-checked="product.default_selected" ng-click="get_Child_customizations(product)" type="radio" class="dvRadioBtn radio-custom">
                                                    <span class=" radio-custom-label">{{product.name}} (+ ₹ {{product.price}})</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div ng-if="!(child_product.selection_min === 1 && child_product.selection_max === 1)" >
                                            <div class="col-xs-12 dvField">
                                                <label class="dvLabel">
                                                    <input data-product="{{product}}" name="{{child_product.id}}"  ng-checked="product.default_selected" ng-click="get_Child_customizations(product)" type="checkbox" class="dvCheckBox checkbox-custom">
                                                    <span class="checkbox-custom-label">{{product.name}} (+ ₹ {{product.price}})</span>
                                                </label>                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="dvCol col-sm-6" ng-repeat="child_product_level2 in child_selected_product.all_customizations">
                                <div class="dvColHead">
                                    {{child_product_level2.name}}
                                </div>
                                <div class="dvColCont content" data-mcs-theme="dark">
                                    <div class="dvRow" ng-repeat="product in child_product_level2.products">
                                        <div ng-if="(child_product_level2.selection_min === 1 && child_product_level2.selection_max === 1)">
                                            <div class="col-xs-12 dvField">
                                                <label class="dvLabel">
                                                    <input data-product="{{product}}" name="{{child_product_level2.id}}" ng-checked="product.default_selected" type="radio" class="dvRadioBtn radio-custom">
                                                    <span class=" radio-custom-label">{{product.name}} (+ ₹ {{product.price}})</span>
                                                </label>  
                                            </div>
                                        </div>

                                        <div ng-if="!(child_product_level2.selection_min === 1 && child_product_level2.selection_max === 1)" >
                                            <div class="col-xs-12 dvField">
                                                <label class="dvLabel">
                                                    <input data-product="{{product}}" name="{{child_product_level2.id}}"   type="checkbox" ng-checked="product.default_selected" class="dvCheckBox checkbox-custom">
                                                    <span class="checkbox-custom-label">{{product.name}} (+ ₹ {{product.price}})</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="dvRow">
                            <button ng-click="process_customizations()" class="dvGreenButton"><i class="fa fa-plus"></i> Add</button>  
                        </div>
                    </div>
                </div>     
            </div>    
        </div>

    </div>
</div>    


<script>
            var cat_list_open = "false";
            $(".accordion").accordion();
            function showhidecart()
            {
            $(".cart-fixed-container").slideToggle("slow");
                    $(".dvCart").css("right", "0");
                    customscroll();
            };
            function hidecart()
            {
            $(".dvCart").css("right", "-300px");
            };
            $(".dvShowList").click(function ()
    {
    if (cat_list_open === "false")
    {
    $(".dvCatList_Ver").css("left", "0");
            cat_list_open = "true";
    }
    else
    {
    $(".dvCatList_Ver").css("left", "-300px");
            cat_list_open = "false";
    }
    });
//            $(function () {
//                // Bind the swipeleftHandler callback function to the swipe event on div.box
//                $("body").on("swiperight", swiperightHandler);
//                $("body").on("swipeleft", swipeleftHandler);
//
//                // Callback function references the event target and adds the 'swipeleft' class to it
//                function swiperightHandler(event) {
//                    $(".dvCatList_Ver").css("left", 0);
//                }
//                function swipeleftHandler(event) {
//                    $(".dvCatList_Ver").css("left", "-300px");
//                }
//
//                function swiperightHandler(event)
//                {
//                    $("#dvCatList_Ver1").css("left", 0);
//                }
//                function swipeleftHandler(event) {
//                    $("#dvCatList_Ver1").css("left", "-300px");
//                }
//
//            });

</script>

<script>
            ga('set', {
            page: '/menu.html',
                    title: 'Menu Page'
            });
            ga('send', 'pageview');
</script>