<div class="dvHeader2">
    <div class="container">
        <a href="#/home" class="dvLogo col-xs-8">
            <img src="img/logo.png" alt="mmMaroosh" />
        </a>
    </div>
</div>

<div class="dvOrderHistory">
    <div class="container">
        <div class="dvOrdersList">
            <div class="dvOrder">
                <div class="dvGenDtls">
                    <div class="dvRow dvHead">
                        User Details
                    </div>
                    
                    <div class="dvRow">
                        <div class="dvSec col-xs-6">
                            <i class="fa fa-user"></i>
                            <span class="dvVal">User Name</span>
                        </div>
                        <div class="dvSec col-xs-6">
                            <i class="fa fa-phone-square"></i>
                            <span class="dvVal">+91 123 456 789</span>
                        </div>
                    </div>
                    <div class="dvRow">
                        <div class="dvSec col-xs-6">
                            <i class="fa fa-envelope"></i>
                            <span class="dvVal">test@done.to</span>
                        </div>
                    </div>
                    
                    <div class="dvRow dvHead">
                        Order Details
                    </div>
                    <div class="dvRow">
                        <div class="dvSec col-xs-6">
                            <i class="fa fa-shopping-cart"></i>
                            <!--<span class="dvLbl">Order No:</span>-->
                            <span class="dvVal">40810</span>
                        </div>
                        <div class="dvSec col-xs-6">
                            <i class="fa fa-info-circle"></i>
                            <!--<span class="dvLbl">Status:</span>-->
                            <span class="dvVal">Pending</span>
                        </div>
                    </div>
                    <div class="dvRow">
                        <div class="dvSec col-xs-6">
                            <i class="fa fa-clock-o"></i>
                            <!--<span class="dvLbl">Order Time:</span>-->
                            <span class="dvVal">55 minutes ago</span>
                        </div>
                        <div class="dvSec col-xs-6">
                            <i class="fa fa-home"></i>
                            <!--<span class="dvLbl">Outlet:</span>-->
                            <span class="dvVal">Carter Road</span>
                        </div>
                    </div>
                    <div class="dvRow">
                        <div class="dvSec col-xs-6">
                            <i class="fa fa-truck"></i>
                            <!--<span class="dvLbl">Order Type:</span>-->
                            <span class="dvVal">Take Away</span>
                        </div>
                    </div>
                </div>
                
                <div class="dvPrdDtls">
                    <table class="table table-condensed dvOrderTable">
                        <thead>
                          <tr>
                            <th>Product</th>
                            <th>Qty</th>
                            <th>Rate</th>
                            <th>Amt</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="dvPrd">
                                Nutella w/ Sea Salt
                            </td>
                            <td class="dvQty">5</td>
                            <td class="dvRt"><i class="fa fa-rupee"></i>200</td>
                            <td class="dvAmt"><i class="fa fa-rupee"></i>1000</td>
                          </tr>
                          <tr>
                            <td class="dvPrd">
                                Nutella w/ Sea Salt
                            </td>
                            <td class="dvQty">5</td>
                            <td class="dvRt"><i class="fa fa-rupee"></i>200</td>
                            <td class="dvAmt"><i class="fa fa-rupee"></i>1000</td>
                          </tr>
                          <tr>
                            <td class="dvPrd">
                                Nutella w/ Sea Salt
                            </td>
                            <td class="dvQty">5</td>
                            <td class="dvRt"><i class="fa fa-rupee"></i>200</td>
                            <td class="dvAmt"><i class="fa fa-rupee"></i>1000</td>
                          </tr>
                        </tbody>
                  </table>
                    <div class="dvTotal">
                        <div class="dvLbl">
                          Total
                        </div>
                        <div class="dvTtl">
                            <i class="fa fa-rupee"></i>
                            <span>3000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="dvBgImg"></div>
    
</div>