<script src="js/jquery.backstretch.min.js"></script>
<!--Web UI-->
<div class="medium-12 columns hide-for-small-only zero-padding "  >
    <!--style="background-image: url('./img/homepage.png'); background-repeat: no-repeat; background-attachment: local; background-position: 0px 80px!important; background-size: 100% 100%; ">-->
    <!--<div class="show-for-medium-only free-height"></div>-->
    <div id="slider"></div>
    

    <div class="content_area">
        <div class="weeklypull" onclick="openWeeklyMenu()">
            <p>Weekly Menu</p>
        </div>
        <div id="hero">

        <div id="introTextID" class="hero-text intro-text row" ng-show="IntroText !== ''"></div>
        <div class="show-for-small-only free-height"></div>
<!--        <div class="large-12 columns large-centered sub-intro-text">Order from daily delicious Meals that are delivered at lightning speeds</div>-->
        </div>

        <div class="row">

            <!--<span class="hero-text" ng-show="outlets.length > 0"><span class="company-title"> Juice Lounge</span> Outlet serves <b>{{selected_subarea.subarea_name}}</b> :</span>-->
            <!--<div class=" small-12 columns"></div>-->

            <div class="large-12 medium-12 large-centered medium-centered small-centered columns outlet-container" style="margin-top: 36px;">
                <!--            <div class="large-12" id="selector_outlet">Select your nearest location</div>-->
                <div class="styled-select large-12 large-centered" style="margin-top: 10%;margin-left: auto;margin-right: auto;">
                    <select ng-change="view_menu()" ng-model="outlet_selected" ng-options="outlet as outlet.name for outlet in outlets track by outlet.id">
                        <option value="">Select your Nearest Location</option>
                    </select>
                    
                </div>
                <div class="faasos-txt">

<!--                    <p>Instakhaana now delivers to Colaba, Parel, Prabhadevi and Bandra(W) through our partnership with Faaso's !!</p>
                    <p>Log on to <a href="https://www.faasos.com/" target="_blank" style="color: white;">www.faasos.com</a> or download the Faaso's app to savour lip-smacking Instakhaana dishes every day !</p>-->
                    <!--<p>Are you currently in a location not listed above? Don’t worry – we have now established partnerships to get you delicious food within 20 minutes of your order. Please click <span style="text-decoration: underline;" onclick="openPartnership()">here</span> to learn more about the areas we are currently present in.</p>-->
                </div>
                <!--<div class="show-for-large-up" style="height: 300px;"></div>-->
            </div>

        </div>
    </div>
</div>

<!--Mobile UI-->

<div class="show-for-small-only ">
    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
            <div ng-click="toggleMenu(true)" style=" margin-top: 13px; margin-left: 9px;" ><i class="fa fa-align-justify "></i></div>

          <!-- Off Canvas Menu -->
          <aside class="left-off-canvas-menu">
              <!-- whatever you want goes here -->
              <div style="padding: 25px;padding-bottom: 0px;">
                  <img class="centerItem" src="img/logo.png"/>
              </div>
              <ul class="outlet_canvas">
                  <li class="canvas_item"><a href="#/howitworks"><div>How It Works?</div></a></li>
                  <li class="canvas_item"><a href="#/bulkorders"><div>Bulk Orders</div></a></li>
                  <li class="canvas_item"><a href="#/aboutus"><div>About Us</div></a></li>
                  <li class="canvas_item"><a href="#/faq"><div>FAQ</div></a></li>
                  <li class="canvas_item"><a href="#/partnership"><div>Partnerships</div></a></li>
                  <li class="canvas_item"><a href="#/privacy"><div>Privacy Policy</div></a></li>
                  <li class="canvas_item"><a href="#/terms"><div>Terms & Conditions</div></a></li>
              </ul>
          </aside>

          <!-- main content goes here -->
          <div id="mobileslider">

        <div class="small-12" style="height: 13px;"></div>
        <div class="small-12 columnns" id="introText_mob">         
            <div style="margin-top: 16px;">
                <img src="img/logo.png" style="width: 72%;">                
            </div>
            <div style="margin-top: 9px;color: #000;">
                <p style="font-size: 15px; font-weight: bold; color: #575757;padding-top: 9px;">Welcome to Mingo</p>
                
            </div>
            
            <!--<div class="mob-styled-select large-12 large-centered" style="margin-top: 17%;margin-left: auto;margin-right: auto;">
                            <select ng-change="view_mobilemenu()" ng-model="mobOutlet_selected" ng-options="outlet as outlet.name for outlet in outlets track by outlet.id">
                                <option value="">Select your Nearest Location</option>
                            </select>-->
        </div>
    </div>

    <div class="small-12 columnns" style=" ">
        <div style="margin-top: 7px;">
<!--                <p style="color: #000;font-size: 14px; text-align: justify; padding: 0px 20px;padding-left: 28px;padding-top: 16px;">Order from daily rotating Chef made Gourmet meals that are delivered at lightning speeds.</p>-->
                <span style="color: #000;padding: 0px 28px; font-weight: bold; font-size: 13px; text-align: left; display: block;">Choose your nearest location</span>
        </div>
        <div class="small-12 small-centered columns mobile-outlet-container">
            <div class="mob-styled-select large-12 large-centered" style="">
                <select ng-change="view_mobilemenu()" ng-model="mobOutlet_selected" ng-options="outlet as outlet.name for outlet in outlets track by outlet.id">
                    <option value="">Select an outlet</option>
                </select>
            </div>
            <!--<div class="show-for-large-up" style="height: 300px;"></div>-->
        </div>
            <div class="mob-faasos-txt">
                <p>Are you currently in a location not listed above? Don’t worry – we have now established partnerships to get you delicious food within 20 minutes of your order. Please click <a href="#/partnership">here</a> to learn more about the areas we are currently present in.</p>
                
            </div>

    </div>

        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>

        </div>
      </div>
    
            
</div>



<script>
            ga('set', {
                page: '/outlets.html',
                title: 'outlet Page'
            });
            ga('send', 'pageview');


</script>

<script>
            setStickyFooter();
</script>
