<div class="medium-12 columns" style="margin-top: 9%;">
          
            <div class="show-for-small-only" style="width: 20px;height: 20px;">
                <a href="#/outlets"><img id="back_arrow_page" src="img/arrow.png"></a>
            </div>
            <div class="row centered" style="text-align: center">
                <h5><b>Partnerships</b></h5>
            </div>
            <div class="row centered" style="text-align: center">
                <p style="font-size: 15px;"> We have responded to your wonderful feedback and have established partnerships to deliver our delicious food to more parts 
                    of Mumbai. We are proud to be partners with the following organizations to get you piping hot meals within 20 minutes
                    of your order.
                </p>
            </div>
            <div class="row centered" style="text-align: center;">
                <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3" style="margin-top: 55px;">
                    <li class="data_holder">
                        <div class="partner_content">
                            <div class="row">
                                <div class="partner_brand_holder">
                                    <img src='img/fasos.png'/>
                                </div>
                            </div>
                            <div class="row">
                                <span class='partner_name'>Faasos</span>
                                <p class='partner_info'>Instakhaana now delivers to Colaba, Parel, Prabhadevi, Bandra(W), Kalina, Lower Parel, Chembur and Wadala
                                through our partnership with Faasos. Log on to faasos.com or download the Faasos app.</p>
                            </div>
                        </div>
                    </li>
                    <li class="data_holder">
                        <div class="partner_content">
                             <div class="row">
                                <div class="partner_brand_holder">
                                    <img src='img/tiny.png'/>
                                </div>
                            </div>
                            <div class="row">
                                <span class='partner_name'>TINYOWL <span>Food Ordering App</span></span>
                                <p class='partner_info'>Now order your favourite Instakhaana meals on the TinyOwl platform. Just search for 
                                Instakhaana on the app to select from our always-changing menu.</p>
                            </div>
                        </div>
                    </li>
                    <li class="data_holder">
                        <div class="partner_content">
                            <div class="row">
                                <div class="partner_brand_holder">
                                    <img src='img/ola.png'/>
                                </div>
                            </div>
                            <div class="row">
                                <span class='partner_name'><b>OLA</b>CAFE</span>
                                <p class='partner_info'>Instakhaana is proud to have partenered with OlaCafe to make sure you get your meals in a jiffy.
                                 Click on the 'cafe' option in the Ola Cabs app and place your order today for delivery in Fort, Lower Parel, Bandra and BKC.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
</div>
