<div class="small-12 small-centered  bgforall" style="" id="menu">
        <div class="row panel" style="">
            
            <h2> Privacy Policy </h2>
            <h4>Morsel Foodworks Pvt Ltd (“MFPL”) Privacy Policy</h4>
<p> We value the trust you place in us. That's why we insist upon the highest standards for secure transactions and customer information privacy. Please read the following statements on the MFPL Privacy Policy to learn about our information gathering and dissemination practices.</p>

<p> Collection of Personal and Other Information</p>
<p>MFPL collects person specific information that you may voluntarily provide while visiting our website. This could be on, (i) user registration while ordering, (ii) providing feedback, (iii) participating in online contests, surveys etc, (iv) applying for job openings, (iv) contact requests, and other such online activities. This person specific information (Personal Information) collected on the website could include some or all of the following: your name, address, telephone number, email addresses, demographic information, and any other information you may voluntarily provide. Where possible, we indicate which fields are required and which fields are optional. You always have the option to not provide information by choosing not to use a particular service or feature on the website. While you can browse some sections of our Website without being a registered member, certain activities (such as placing an order) do require registration. At the time of registration, you will also have the option to receive future offers and updates from MFPL by checking the appropriate opt-in box. If you choose to opt-in, your Personal Information will be kept in a secured database and we will alert you via email to new features, special offers updated information and new services.</p>
<p>No Personal Information is automatically collected when you visit our website. However, certain non-personal information may be recorded. This information may include the URL that you just came from (whether this URL is on our Website or not), which URL you next go to (whether this URL is on our Website or not), your computer browser information, the operating system, and your IP address</p>
<p>Further, our website may use technologies such as “cookies” to provide you with tailored information upon each visit. Cookies are small files placed on your hard drive that assist us in providing our services. We offer certain features that are only available through the use of a "cookie". You do not need to enable cookies to visit our website; however, some parts of the site and some services may be more difficult or impossible to use if cookies are disabled.</p>
<p>Where you choose to pay online at the time of order placement on our website, you will be redirected to an external payment gateway, on which you are required to follow the payment gateway’s separate instructions for effecting online payment. MFPL does not have access to, nor store any data provided by you to the payment gateway</p>
<p>Use of Personal Information and demographic data</p>
<p>MFPL may use your Personal Information in several ways, including, (i) for processing your order; (ii) to register you for online activities that you opt for like contests, surveys, employment applications, comment forms, or any other online interactive activities; (iii) to provide you with an enhanced online experience; (iv) to respond to your specific requests; (v) to send you mailers (if you have opted for it) of special promotions, offers or solicitations; (vi) to protect the security or integrity of the Site if necessary</p>
<p>If you choose to order on the website, we collect information about your ordering preferences, like your favourite menu items. This will help us tailor our offerings to you, and provide you with a smoother and faster ordering experience on future visits to our website.</p>
<p>The non-personal information that we automatically track is used for internal research on our users' demographics, interests, and behaviour to better understand, protect and serve our users. This information is compiled and analysed on an aggregated basis.</p>
<p>We use cookies in order to help us customize your experience. Cookies help us to analyse our web page flow, measure promotional effectiveness, and promote trust and safety. We may associate personal information with a cookie file in certain instances.</p>
<p>Third-party disclosure</p>
<p>Unless otherwise disclosed during the collection, Personal Information that may be collected is retained by MFPL and is not sold, transferred or otherwise disclosed to non-affiliated third parties, except where disclosure is required by law.</p>
<p>Access</p>
<p>You are in control of any personal information you provide us on-line. If at any time, you would like to correct the Personal Information we have about you or if you would like to change your preferences for contacts from us or on behalf of our business partners, you can let us know by contacting us at the email or postal address listed below.</p>
<p>MFPL will take all reasonable steps to protect Personal Information from misuse, loss and unauthorized access, modification or disclosure</p>
<p>Changes to our Privacy Policy</p>
<p>MFPL Privacy Policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically. Rest assured, however, that any changes will not be retroactively applied and will not alter how we handle previously collected information.
</p>
<p>Consent</p>        
<p>By visiting this website you agree to be bound by the terms and conditions of the MFPL Privacy Policy. If you do not agree, please do not use or access our website. By mere use of the website, you expressly consent to our use and disclosure of your personal information in accordance with the MFPL Privacy Policy.

</p>
<p>Contact Us</p>
<p>If you have any questions about MFPL Privacy Policy, or need to alter any of your Personal Information preferences, please contact us at: Morsel Foodworks Pvt Ltd
</p>
<p>Ground Floor, 49, Bhargava House,</p>
<p>Marol Co-operative Industrial Estate, Off Andheri Kurla Road, Marol, Andheri East</p>
<p>Mumbai – 400059</p>
<p>Email: feedusback@indusopus.com</p>
</div>
</div>
