<div class="medium-12 columns" style="margin-top: 9%;">
    <div class="show-for-small-only" style="width: 20px;height: 20px;">
        <a href="#/outlets"><img id="back_arrow_page" src="img/arrow.png"></a>
    </div>
    <div class="large-12 columns large-centered" style="font-size: large;"> 


        <p style="text-align: left;font-size: 25px;font-weight: bold;margin-bottom: 25px;margin-top: 25px;">Terms and Conditions</p>

        <p style="font-size: 22px; text-align: left; font-weight: bold;">Prices</p>
        <div style="font-size: 19px;text-align: left;"> 
            <ul style="font-size: 13px;">
                <li>
                    Prices are inclusive of taxes.
                </li>
                <li>
                    On the occasion that any item is incorrectly priced, we reserve the right to cancel the purchase and relist the product at the correct price.
                </li>
            </ul>
        </div>

        <p style="font-size: 22px; text-align: left; font-weight: bold;">Refunds Policy</p>
        <div style="font-size: 19px;text-align: left;"> 
            <p style="font-size: 13px;">
                If, after placing your order, you do not receive your ordered food or you 
                cancel the same  complete or part order for any reason then we will simply 
                reverse the transaction amount part or full to the medium (Netbanking, Credit Card, Debit Card, etc.) used by you while making the payment to us, 
                Our finance team will process the refunds within 2-3 working days after getting intimation from the customer, however, 
                it may take 6-7 working days to reflect in your accounts in accordance with the terms that may be 
                stipulated by the bank which has issued the credit / debit card ,netbanking)
                Should you face any issues with your order, please write to us at 
                support@instakhaana.com so we can 
                address the issue immediately
                Our decision on refunds shall be at our sole discretion and 
                shall be final and binding.
            </p>
        </div>
        <p style="font-size: 22px; text-align: left; font-weight: bold;">Delivery Policies </p>
        <div style="font-size: 19px;text-align: left;"> 
            <ul style="font-size: 13px;">
                <li>
                    Your address falling in the defined delivery area of the nearest restaurant
                </li>
                <li>
                    The delivery address being mapped to the nearest restaurant that delivers in your area
                </li>
                <li>
                    Availability of the restaurant online.
                </li>
                <li>
                    In case the delivery locality is not listed in the restaurant locator, delivery orders cannot be placed; however you may choose to pick up your order from the nearest Instakhaana store.
                </li>
                <li>
                    Delivery times because of factors like preparation time and the distance between 
                    the restaurant and the customer. However, we always do our best to deliver each 
                    order as fast as humanly possible. We currently deliver most of our orders in 
                    around the estimated delivery time mentioned once you’ve selected your delivery 
                    area. Minimum Time for Delivery is 20 minutes.
                </li>
                <li>
                    Delivery periods quoted at the time of ordering are approximate only and may vary. Goods will be delivered to the address designated by you at the time of ordering.
                </li>
                <li>
                    The estimated delivery time is not applicable when the restaurant operating conditions are not suitable, and will be announced at the time of  placing order by our executive.
                </li>
                <li>
                    The estimated delivery time is not applicable on public holidays, special occasions like New Years eve, on Ganesh Festival , Christmas and Durga Pooja , the service guarantee may be withdrawn temporarily in view of difficult operating conditions for delivery and on other days when we are experiencing heavy traffic as during a very attractive promotion.
                </li>
            </ul>
        </div>
        <p style="font-size: 22px; text-align: left; font-weight: bold;">Privacy</p>
        <div style="font-size: 19px;text-align: left;"> 
            <ul style="font-size: 13px;">
                <li>
                    We only store necessary information required to make a purchase.
                </li>
                <li>
                    Your credit card information is not stored by us and is always processed across a secure server.
                </li>
                <li>
                    We do not sell or lease any of your personal information. All information left with www.instakhaana.com is entirely confidential.
                </li>
            </ul>
        </div>
        <p style="font-size: 22px; text-align: left; font-weight: bold;">Copyright</p>
        <div style="font-size: 19px;text-align: left;"> 
            <p style="font-size: 13px;">
                All text and images on this website remains either the copyright of 
                Instakhaana. Usage of any of this material is prohibited, 
                unless authorised by the copyright holder. Instakhaana.  
                is authorised to use all images that are used on this website.
            </p>
        </div>

    </div>
</div>