<div class="small-12 small-centered  bgforall" style="" id="menu">
        <div class="row panel" style="">
            
            <h2> Terms & Conditions</h2>
            <p><b>Ordering and Delivery Policies(“MFPL”) Privacy Policy</b></p>
<p>These policies are specifically applicable to our customers who order through our website, www.indusopus.com, or through our call-center number “022 6164 6164”.</p>

<p><b>Acceptance of order:</b></p>
<p>Acceptance of order shall be entirely at the discretion of MFPL, and subject to:</p>
<ul>
    <li>
        Delivery address falling within the delivery locality specified by MFPL from time to time. The area covered for delivery is  subject to change at the sole discretion of MFPL;
    </li>
    <li>
        The delivery address being mapped to the nearest store that delivers in customer area;
    </li>
    <li>
        Availability of ordered items at the mapped store;
    </li>
    <li>
        Circumstances and conditions beyond the control of MFPL, which would render impossible or delay the delivery of ordered items.
    </li>
</ul>
<p><b>Cancellation of order by MFPL:</b></p>
<p>MFPL reserves the right to reject or cancel the delivery order once it is accepted:</p>
<ul>
    <li>
        In case of unavailability of any of the ordered items at the mapped store. The call-center /mapped store will call the customer offline, and offer to modify the order in such scenario;
    </li>
    <li>
        In case of adverse customer ordering history, like, (a) non receipt of payment in full or in part in any previous order; (b) abuse to any employee/ representative /riders of MFPL in any previous incident; (c) past trend of order cancellations;
    </li>
    <li>
        If customer has provided wrong, or incomplete address, and, MFPL is unable to contact the customer, on the mobile/landline as provided by the customer at the time of order placing, to rectify the address
    </li>
    <li>
        In case of inability of MFPL to contact the customer due to any other reason on the mobile / landline number of the customer as provided by the customer at the time of order placing;
    </li>
    <li>
        In view of difficult operating conditions for our delivery team like heavy traffic or bad weather condition or during major festivals, political rallies etc;
    </li>
    <li>
        Where customer has paid online for the order, and the order is cancelled due to any of the above reasons by MFPL, the amount will be returned by reversing the transaction. The refund amount would reflect in the next credit card statement of the customer.
    </li>
</ul>
<p><b>Cancellation of order by customer:</b></p>
<ul>
    <li>
        Once the order has been confirmed on our website / call center, it cannot be modified or cancelled by the customers, either on our website, or by calling at our call-center /store;
    </li>
    <li>
        Only in case of non-availability of ordered items at the mapped store, our call-center / mapped store will call the customer offline, and offer to modify the order. Where customer chooses not to modify the order, such order will stand cancelled.
    </li>
</ul>
<p><b>Order fulfilment:</b></p>

<ul>
    <li>
        MFPL shall use its best efforts to meet the service promise communicated on our website or through our call-center;

    </li>
    <li>
        Our service promise is applicable at the first barrier point (security guard/reception etc);

    </li>
    <li>
        MFPL reserves the right to withdraw the service promise without prior information, and service promise is not applicable at times of difficult operating conditions for our delivery team, like bad weather condition, political rallies, New Year’s eve, major religious festivals, etc;

    </li>
    <li>
        We do not penalize our delivery team on inability to meet service promise, and will have no liability to customer in case of our inability to deliver as per service promise, beyond what has been communicated at our website;

    </li>
    <li>
        Upon delivery, customer shall pay in cash to the delivery person, all fees and charges as per the bill provided by our delivery person. Where customers choose to pay online at the time of order placement on our website, they will be redirected to an external payment gateway, on which they are required to follow the payment gateway’s separate instructions for effecting online payment. The payment gateway is not under MFPL’s control, and MFPL is not responsible for and shall not be liable to any extent or in any manner for any payment-related or internet-related issues faced by customers in relation to online payments. Customers shall indemnify and keep fully and effectively indemnified MFPL and its affiliates in this regard;

    </li>
</ul>
<p><b>Pricing:</b></p>
<p><b>e-Coupons:</b></p>
<p>Discount codes as mentioned in various promotion materials of MFPL, including printed, mobile, email and website, are referred to as e-coupons. The e-coupon is valid on call ie by calling 022 6164 6164, and on web by login in to www.indusopus.com.</p>

<ul>
    <li>
        Item values indicated on our website is exclusive of any delivery charges, and taxes applicable;
    </li>
    <li>
        The customer is liable to pay delivery charges (as indicated on the website, or communicated by the call-center executive, at the time of ordering) per order placed, plus service tax, Value Added Tax and other taxes as may be applicable from time to time;
    </li>
    <li>
        Prices are subject to change without prior notice.
    </li>
    <li>
        All e-coupons can be redeemed only once on a mobile number;
    </li>
    <li>
    The complete code as mentioned in the promotion material needs to be punched in while ordering on the website, or announced to the order taker while placing the order at our call-center;
    </li>
     <li>
        Only one coupon will be accepted per order;

    </li>
    <li>
        Coupons cannot be clubbed with any other offer / scheme;
    </li>
    <li>
        The e-coupon is valid for a specified period only and will not be accepted after the expiry of the validity period;
    </li>
    <li>
        The e-coupon can be used while ordering only as per the rules and conditions mentioned in the promotion materials.;

    </li>
    <li>
        MFPL reserves the right to extend / modify / terminate the promotion and / or the term thereof at its discretion and without prior notice and without assigning any reasons for the same.
    </li>
</ul>
<p><b>Loyalty Points:</b></p>
<ul>
    <li>Loyalty points can be redeemed at the time of order placement as per the terms and conditions of the Indus Opus Loyalty Card Program.
    </li>
    <li>
        MFPL reserves the right to extend / modify / terminate the promotion and / or the term thereof at its discretion and without prior notice and without assigning any reasons for the same.
    </li>
</ul>
</div>
</div>
