    
<div class="dvHeader2">
    <div class="container">
        <a href="#/home" class="dvLogo col-xs-8 col-sm-3">
            <img src="img/logo1.png" alt="mmMaroosh" />
        </a>
    </div>
</div>



<div class="dvTwoCol Dvextralinks" id="privacyp">
    <div class="container">
        <div class="dvBreadCrumbslinks">
            <div class="container">
                <a href="#/home"><i class="fa fa-home"></i> Home</a> / Terms and Conditions
            </div>
        </div>
        <h3>Terms And Conditions</h3>
        <div class="dvCol">
            <div class="dvSec">


                <p> <b>Ordering </b></p>
                <ul>
                    <li>  It shall be the responsibility of the customer to ensure that delivery instructions are clear and concise.  </li>
                    <li>  You agree to take reasonable care when providing Curryos with your details and warrant that these details are accurate and complete at the time of ordering food. You also warrant that the credit or debit card details that you provide are of your own credit or debit card.</li>
                    <li>  The acceptance of order shall be at the entire discretion of Flipos Food Pvt Ltd (FFPL).</li>
                    <li>   FFPL reserves the right, in its sole discretion, without limitations, conditions and/or qualifications, and without need of prior notification, to limit, change, admission, modify or cancel any order, and/or to refuse any service to any customer for any reason attributable to the unavailability of the items ordered, or other circumstances and conditions beyond the control of FFPL which would render impossible or delay the fulfillment of its obligations.</li>
                    <li>  FFPL reserves the right to refuse or to accept or to cancel any order from any customer beyond the delivery area or otherwise.</li>
                    <li> Orders placed online cannot be changed or modified.</li>
                    <li> It is clarified that, by placing an order customer unconditionally and fully accepts all above terms and conditions.</li>
                    <li> All products may not be available at all times from the respective menu.</li>
                    <li> FFPL reserves the right, in its sole discretion, without limitations, conditions and/or qualifications, and without need of prior notification, to change the operational hours of any it's outlet/ restaurant.</li>
                </ul>
                <p> <b>  Pricing</b></p>
                <ul>  
                    <li>  All menu prices are exclusive of taxes. </li>
                    <li>   On the occasion that any item is incorrectly priced, we reserve the right to cancel the purchase and relist the product at the correct price.</li>
                    <li>  Menu and prices are subject to change without prior notice.</li>
                    <li>  Credit card details are not stored with us.</li>
                    <li>  FFPL may change the terms of, or add new terms to, these terms and conditions at any time, with or without cause, and without giving notice.</li>
                    <li>  Disputes, if any, are subject to the jurisdiction of the competent court/s at Delhi only.</li>
                </ul>
                <p> <b>  Delivery</b></p>
                <ul>
                    <li>  We have fixed delivery areas which are further mentioned in the `Sub Area` section while selecting your location.</li>
                    <li>   We do not deliver outside of our pre-selected Areas and sub areas.</li>
                    <li>   Minimum order of rupees 100 /- is applicable for delivery .</li>
                    <li>   If the minimum order is less than rupees 200/- then delivery charges of rupees 20/- will be applicable for the delivery.</li>
                    <li>  We try our best to deliver within 40 minutes however it does not guarantee these delivery timelines in every case. FFPL shall not have any liability to the customer if the customer's order fails to meet in whole or in part such scheduled delivery time.</li>
                    <li>   Please check the complete order and items while taking delivery.</li>
                    <li>  You agree to pay the total amount including taxes and delivery charges (if applicable) before taking the delivery.</li>
                </ul>
                <p> <b>  Refunds</b></p>
                <p>  If, after placing your order, you do not receive your ordered food or you cancel the same complete or part order for any reason then we will simply reverse the transaction amount part or full to the medium (Netbanking, Credit Card, Debit Card, etc.) used by you while making the payment to us, Our finance team will process the refunds within 2-3 working days after getting intimation from the customer, however,it may take 6-7 working days to reflect in your accounts in accordance with the terms that may be stipulated by the bank which has issued the credit / debit card,netbanking. Our decision on refunds shall be at our sole discretion and shall be final and binding</p>

            </div>

        </div>
    </div>
</div>