<div class="modal" id="thankyou" role="dialog" data-keyboard="false" data-backdrop="static" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
<!--                            <div class="modal-close">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>-->
                          <h4 class="modal-title dvModalTitle">Thank you for ordering</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form_body container-fluid">
                                <form role="form"> 
                                    <div class="form-group">
                                        <label for="email" class="thankyou">You ORder number is</label>                                        
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd" class="thankyou ordernum">2384</label>
                                    </div>
                                    <div class="row">
                                        <button ng-click="backtoHome()" class="btn btn-large btn-default">Back To Home</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                      </div>

                    </div>
</div>


<script>
    
    $('#thankyou').modal('show');
</script>
    

<script>
            ga('set', {
            page: '/thankyou.html',
                    title: 'Thankyou Page'
            });
            ga('send', 'pageview');</script>