
<!--Web UI-->

<div class="medium-12 columns hide-for-small-only zero-padding menu-bg" style="margin-top: 67px; background-color: #F3F3F3; " >
    <div class="row ty-page">
        <span class="ty-page-heading"> Thank you for ordering</span>
        <span>Your order number: {{order_number}}</span>  
        <div class='large-12 large-centered'>
            <a  class='button large-6 medium-6' style="background-color: #FF0A00;" href="#/menu" >Back to Menu</a>
<!--            <a  class='button large-6 medium-6' style="background-color: #FF0A00;" href="#/orderhistory" >Order History</a>-->

        </div>

    </div>
<!--    <div id="refcandy-popsicle" data-app-id="mjru3voo3rqgd97m5eiccplz6"  data-fname="{{fname}}"  data-lname="{{lname}}" data-email="{{email}}" data-amount="{{amount}}"  data-currency="INR"  data-timestamp="{{timestamp}}"  data-discount_code="{{discount_code}}" data-signature="{{datasignature}}">

    </div>-->


</div>
<script>
//            function callrefferal() {
//                (function (e) {
//                    var t, n, r, i, s, o, u, a, f, l, c, h, p, d, v;
//                    f = "script";
//                    l = "refcandy-purchase-js";
//                    c = "refcandy-popsicle";
//                    p = "go.referralcandy.com/purchase/";
//                    t = "data-app-id";
//                    r = {email: "a", fname: "b", lname: "c", amount: "d", currency: "e", "accepts-marketing": "f", timestamp: "g", "referral-code": "h", locale: "i", signature: "ab"};
//                    i = e.getElementsByTagName(f)[0];
//                    s = function (e, t) {
//                        if (t) {
//                            return"" + e + "=" + encodeURIComponent(t)
//                        } else {
//                            return""
//                        }
//                    };
//                    d = function (e) {
//                        return"" + p + h.getAttribute(t) + ".js?lightbox=1&aa=75&"
//                    };
//                    if (!e.getElementById(l)) {
//                        h = e.getElementById(c);
//                        if (h) {
//                            o = e.createElement(f);
//                            o.id = l;
//                            a = function () {
//                                var e;
//                                e = [];
//                                for (n in r) {
//                                    u = r[n];
//                                    v = h.getAttribute("data-" + n);
//                                    e.push(s(u, v))
//                                }
//                                return e
//                            }();
//                            o.src = "" + e.location.protocol + "//" + d(h.getAttribute(t)) + a.join("&");
//                            return i.parentNode.insertBefore(o, i)
//                        }
//                    }
//                })(document);
//
//                !function (d, s, id) {
//                    var js, fjs = d.getElementsByTagName(s)[0];
//                    if (!d.getElementById(id)) {
//                        js = d.createElement(s);
//                        js.id = id;
//                        js.src = "//portal.referralcandy.com/assets/widgets/refcandy-lollipop.js";
//                        fjs.parentNode.insertBefore(js, fjs);
//                    }
//                }(document, "script", "refcandy-lollipop-js");
//            }
</script>

<script>
            ga('set', {
            page: '/Thankyoupage.html',
                    title: 'Thankyou Page'
            });
            ga('send', 'pageview');</script>